# Database connection
SQLite is open source embeded database (does not require any server for database)

## How to download
    Steps: 
    1) https://www.sqlite.org/download.html

    2) sqlite-tools-win32-x86-3290000.zip (1.71 MiB)

    3) unzip the file 
    
    4) create sqlite folder on C drive and copy all files into C:\sqlite
    
    5) set environment variable
    
    6)run cmd
    
    7)type sqlite
    
    8)quit to exit

#### Database contains tables and tables contains data

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('E:\\SQLDB\\movies.db')

In [3]:
c=conn.cursor()

In [4]:
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS movie_genres(genres TEXT) ")

In [ ]:
def create_table(tname, col_name, col_type):
    col_name = ['rollno','stname', 'class']
    col_type =["text","text","text"]
    c.excecute("CREATE TABLE IF NOT EXISTS tname(col_name[0]  col_type[0], stname text, class text, dob date)")

In [5]:
create_table()

In [54]:
def data_entry(a):
    print(a)
    #sql_q="INSERT INTO MOVIE_GENRES VALUES (",a,")"
    #print(sqlq)
    c.execute("INSERT INTO MOVIE_GENRES VALUES ('"+a+"')")
    conn.commit
    #c.close()
    #conn.close

In [6]:
c.execute("INSERT INTO movie_genres VALUES ('Comedy')")
conn.commit

In [56]:
data_entry('Animation')

Animation

TypeError: can only concatenate str (not "int") to str

In [1]:
import pandas as pd

In [11]:
dataf=pd.read_sql("select * from MOVIE_GENRES",conn)

In [12]:
dataf

   genres
0  Comedy