In [21]:
%%time
# set of integers
my_set = {1,5,"x",7,0,3,4, 3, 3 ,3,"a" ,1.5}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{0, 1, 1.5, 3, 4, 5, 7, 'a', 'x'}
{1.0, (1, 2, 3), 'Hello'}
CPU times: total: 0 ns
Wall time: 0 ns

In [5]:
a={2,43,4}
a

{2, 4, 43}

In [1]:
my_set = {'a', 'r', 'e', 'i', 'i'}
print(my_set)
## not possible to check details or occurance of the element
a=list(my_set)
a

{'e', 'r', 'a', 'i'}

['e', 'r', 'a', 'i']

In [12]:
list(my_set)[2] #you  can  convrt set to list and do slicing

'a'

In [14]:
print("a" in my_set)

True

In [6]:
my_set

{'a', 'e', 'i', 'r'}

In [20]:
str = 'kfkfk'

print(set(str))

{'f', 'k'}

In [22]:
my_set

{(1, 2, 3), 1.0, 'Hello'}

In [27]:
try:
    db = {1,5,"x",7,0,[23,"shubha" ,4],3,4, 3, 3 ,3,"a" ,1.5}
    print(db)
except Exception as  ex:
    print(ex)

    #so you cant have or add mutable obj into sets  in python because sets is hashabel

unhashable type: 'list'

In [33]:
db.add((1,23)) #like here you can add tuples which  is unmutable

In [32]:
db

{(1, 23), 0, 1, 1.5, 3, 4, 5, 7, 'a', 'shubham', 'x'}

In [25]:
db

{0, 1, 1.5, 3, 4, 5, 7, 'a', 'x'}

In [6]:
# initialize my_set
my_set = {1,2,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add('hi')
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,10])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 2, 3}
{1, 2, 3, 'hi'}
{1, 2, 3, 'hi', 10}
{1, 2, 3, 4, 5, 'hi', 6, 8, 10}

In [4]:
# remove elements from a set
# A particular item can be removed from set using methods, 
# discard() and remove().

# The only difference between the two is that, while using discard() 
# if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition.

In [8]:
# initialize my_set
my_set = {1, 3, 4, 5, 6,(1,2)}
print(my_set)

{(1, 2), 1, 3, 4, 5, 6}

In [10]:
my_set

{(1, 2), 1, 3, 4, 5}

In [18]:
# discard an element
my_set.discard(6)
print(my_set)

{(1, 2), 1, 3, 4, 5}

In [34]:
# remove an element
# my_set.remove(6)
# print(my_set)

In [16]:

# discard an element
# not present in my_set

my_set.discard(2)
print(my_set)

{1, 3, 4, 5}

In [35]:
# remove an element
# not present in my_set
# Output: KeyError: 2

# my_set.remove(2)

In [36]:
# pop() and clear()
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
my_set

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [39]:
print(my_set)

{'e', 'W', 'r', 'o', 'l', 'H', 'd'}

In [42]:

# pop another element

a=my_set.pop()
print(my_set)
print(a)

{'o', 'l', 'H', 'd'}
r

In [23]:
print(my_set)

{'e', 'o', 'd', 'r', 'l', 'H'}

In [20]:

# pop an element
print(my_set.pop())

d

In [21]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [26]:
# Python Set Operations
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8,'a'}

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [27]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [28]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [29]:
# INTERSECTION
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [34]:
A.intersection(B)

{4, 5}

In [35]:
B.intersection(A)

{4, 5}

In [24]:
# Set Difference
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [31]:
A.difference(B)

{1, 2, 3}

In [32]:
B.difference(A)

{6, 7, 8}

In [35]:
# Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [43]:
# Iterating Through a Set
for letter in set("apple"):
     print(letter)

p
a
e
l

In [44]:
 set("apple")

{'a', 'e', 'l', 'p'}

In [37]:
set("apple")

{'a', 'e', 'l', 'p'}

In [1]:
# Creating sets for demonstration
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {1, 2}
set4 = {2, 3}
set5 = {5, 6}

# 1. isdisjoint() - Checks if two sets have no common elements
# set1 and set2 have no common elements, so this will return True
print("set1.isdisjoint(set2):", set1.isdisjoint(set2))  # Output: True

# set1 and set4 share the element '2', so this will return False
print("set1.isdisjoint(set4):", set1.isdisjoint(set4))  # Output: False

# 2. issubset() - Checks if the set is a subset of another set
# set3 contains elements {1, 2}, which are all in set1, so it is a subset
print("set3.issubset(set1):", set3.issubset(set1))  # Output: True

# set4 contains element '3', which is not in set3, so set3 is not a subset of set4
print("set3.issubset(set4):", set3.issubset(set4))  # Output: False

# 3. issuperset() - Checks if the set is a superset of another set
# set1 contains all elements of set3, so it is a superset
print("set1.issuperset(set3):", set1.issuperset(set3))  # Output: True

# set1 does not contain all elements of set5, so it is not a superset
print("set1.issuperset(set5):", set1.issuperset(set5))  # Output: False

# Additional demonstration of isdisjoint, issubset, and issuperset
# set5 and set2 are disjoint because they share no common elements
print("set5.isdisjoint(set2):", set5.isdisjoint(set2))  # Output: True

# set3 is a subset of set1, and set1 is a superset of set3
print("set1.issuperset(set3):", set1.issuperset(set3))  # Output: True
print("set3.issubset(set1):", set3.issubset(set1))      # Output: True

set1.isdisjoint(set2): True
set1.isdisjoint(set4): False
set3.issubset(set1): True
set3.issubset(set4): False
set1.issuperset(set3): True
set1.issuperset(set5): False
set5.isdisjoint(set2): False
set1.issuperset(set3): True
set3.issubset(set1): True

In [ ]:
5, so it is not a superset
print("set1.issuperset(set5):", set1.issuperset(set5))  # Output: False

# Additional demonstration of isdisjoint, issubset, and issuperset
# set5 and set2 are disjoint because they share no common elements
print("set5.isdisjoint(set2):", set5.isdisjoint(set2))  # Output: True

# set3 is a subset of set1, and set1 is a superset of set3
print("set1.issuperset(set3):", set1.issuperset(set3))  # Output: True
print("set3.issubset(set1):", set3.issubset(set1))      # Output: True