#### Shubham Birari ML16

In [24]:
import pandas as pd
import numpy as np

#### Predict the house price for boston data , Perform scaling , cleaning

In [25]:
db  = pd.read_csv(r"C:\Users\shubh\symbiosis ml16\datasets\boston.csv")

In [26]:
db.head()

,crime_rate,proportion_res_land,proportion_business,"river""",NO,avg_rooms,proportion_units,distance,accessibility,property_tax,pupil_teacher_ratio,proportion_blacks,lower_status,value
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [27]:
db.isnull().sum()

crime_rate             0
proportion_res_land    0
proportion_business    0
river"                 0
NO                     0
avg_rooms              0
proportion_units       0
distance               0
accessibility          0
property_tax           0
pupil_teacher_ratio    0
proportion_blacks      0
lower_status           0
value                  0
dtype: int64

In [28]:
db.dtypes

crime_rate             float64
proportion_res_land    float64
proportion_business    float64
river"                   int64
NO                     float64
avg_rooms              float64
proportion_units       float64
distance               float64
accessibility            int64
property_tax           float64
pupil_teacher_ratio    float64
proportion_blacks      float64
lower_status           float64
value                  float64
dtype: object

In [29]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [30]:
x=db.drop("value",axis=1)
y=db["value"]

In [31]:
X_val=std.fit_transform(x)
X_val

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [32]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test  = train_test_split(x,y , test_size=0.2 , random_state=42)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [39]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train , y_train)

LinearRegression()

In [41]:
y_pred = linreg.predict(X_test)
y_pred

array([28.99672362, 36.02556534, 14.81694405, 25.03197915, 18.76987992,
       23.25442929, 17.66253818, 14.34119   , 23.01320703, 20.63245597,
       24.90850512, 18.63883645, -6.08842184, 21.75834668, 19.23922576,
       26.19319733, 20.64773313,  5.79472718, 40.50033966, 17.61289074,
       27.24909479, 30.06625441, 11.34179277, 24.16077616, 17.86058499,
       15.83609765, 22.78148106, 14.57704449, 22.43626052, 19.19631835,
       22.43383455, 25.21979081, 25.93909562, 17.70162434, 16.76911711,
       16.95125411, 31.23340153, 20.13246729, 23.76579011, 24.6322925 ,
       13.94204955, 32.25576301, 42.67251161, 17.32745046, 27.27618614,
       16.99310991, 14.07009109, 25.90341861, 20.29485982, 29.95339638,
       21.28860173, 34.34451856, 16.04739105, 26.22562412, 39.53939798,
       22.57950697, 18.84531367, 32.72531661, 25.0673037 , 12.88628956,
       22.68221908, 30.48287757, 31.52626806, 15.90148607, 20.22094826,
       16.71089812, 20.52384893, 25.96356264, 30.61607978, 11.59783023,
       20.51232627, 27.48111878, 11.01962332, 15.68096344, 23.79316251,
        6.19929359, 21.6039073 , 41.41377225, 18.76548695,  8.87931901,
       20.83076916, 13.25620627, 20.73963699,  9.36482222, 23.22444271,
       31.9155003 , 19.10228271, 25.51579303, 29.04256769, 20.14358566,
       25.5859787 ,  5.70159447, 20.09474756, 14.95069156, 12.50395648,
       20.72635294, 24.73957161, -0.164237  , 13.68486682, 16.18359697,
       22.27621999, 24.47902364])

##### calculate MAE, r2, adj r2

In [43]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [45]:
MSE = mean_squared_error(y_test, y_pred)
MSE

24.291119474973428

In [46]:
MAE =mean_absolute_error(y_test,y_pred)
MAE

3.1890919658878354

In [47]:
R2 = r2_score(y_test, y_pred)
R2

0.6687594935356332

##### Adjusted R2 = 1 – [(1-R2)*(n-1)/(n-k-1)]
R2: The R2 of the model

n : The number of observations

k : The number of predictor variable

In [49]:
1 - (1-R2*(len(y)-1)/(len(y)-len(db.columns)-1))

0.6878279923329833

In [50]:
import os
import statsmodels
import statsmodels.api as sm

In [52]:
db.head()

,crime_rate,proportion_res_land,proportion_business,"river""",NO,avg_rooms,proportion_units,distance,accessibility,property_tax,pupil_teacher_ratio,proportion_blacks,lower_status,value
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [53]:
db.columns

Index(['crime_rate', 'proportion_res_land', 'proportion_business', 'river"',
       'NO', 'avg_rooms', 'proportion_units', 'distance', 'accessibility',
       'property_tax', 'pupil_teacher_ratio', 'proportion_blacks',
       'lower_status', 'value'],
      dtype='object')

##### check multicollinearity and heteroscadasticity.

In [54]:
x = sm.add_constant(x, prepend=True)
x

C:\Users\shubh\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,const,crime_rate,proportion_res_land,proportion_business,"river""",NO,avg_rooms,proportion_units,distance,accessibility,property_tax,pupil_teacher_ratio,proportion_blacks,lower_status
0,1.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,1.0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,1.0,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,1.0,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,1.0,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1.0,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,1.0,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,1.0,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,1.0,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,1.0,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [55]:
X_train , X_test , y_train , y_test = train_test_split(x , y , random_state=42)

In [59]:
import statsmodels.api as sm
result = sm.OLS(y_train , X_train).fit()

In [60]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.739
Method:                 Least Squares   F-statistic:                     83.38
Date:                Tue, 11 Apr 2023   Prob (F-statistic):          1.15e-100
Time:                        13:37:57   Log-Likelihood:                -1126.4
No. Observations:                 379   AIC:                             2281.
Df Residuals:                     365   BIC:                             2336.
Df Model:                          13
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  29.8364      5.861      5.090      0.000      18.310      41.363
crime_rate             -0.1283      0.039     -3.262      0.001      -0.206      -0.051
proportion_res_land     0.0296      0.017      1.772      0.077      -0.003       0.062
proportion_business     0.0489      0.069      0.706      0.481      -0.087       0.185
river"                  2.7735      0.974      2.848      0.005       0.859       4.688
NO                    -16.2388      4.432     -3.664      0.000     -24.955      -7.523
avg_rooms               4.3688      0.481      9.091      0.000       3.424       5.314
proportion_units       -0.0092      0.015     -0.599      0.550      -0.040       0.021
distance               -1.4009      0.237     -5.915      0.000      -1.867      -0.935
accessibility           0.2578      0.079      3.279      0.001       0.103       0.412
property_tax           -0.0100      0.004     -2.277      0.023      -0.019      -0.001
pupil_teacher_ratio    -0.9231      0.150     -6.164      0.000      -1.218      -0.629
proportion_blacks       0.0132      0.003      4.143      0.000       0.007       0.019
lower_status           -0.5176      0.058     -8.995      0.000      -0.631      -0.404
==============================================================================
Omnibus:                      125.754   Durbin-Watson:                   2.093
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              529.968
Skew:                           1.392   Prob(JB):                    8.30e-116
Kurtosis:                       8.081   Cond. No.                     1.48e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

###### H0: homoscedasticity is present. 

H1: heteroscedasticity is present.

In [64]:
name = ['Lagrange multiplier statistic', 'p-value', 
        'f-value', 'f p-value']

bp = statsmodels.stats.diagnostic.het_breuschpagan(result.resid, result.model.exog)
bp

(55.125336883365186,
 3.8413322565940915e-07,
 4.7788543517722895,
 1.0904836826930735e-07)

In [65]:
pd.DataFrame(name, bp)

                                          0
5.512534e+01  Lagrange multiplier statistic
3.841332e-07                        p-value
4.778854e+00                        f-value
1.090484e-07                      f p-value

##### Since our p-value is less than 0.05, this indicates that heteroscedasticity is present, and we cannot accept the null hypothesis of homoscedasticity.

In [68]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
def cal_vif(x):
    threshhold=5.0
    output_df=pd.DataFrame()
    output_coll=[]
    k=x.shape[1]
    
    vif=[variance_inflation_factor(x.values,j) for j in range(x.shape[1])]
    for i in range(1,k):
        print(vif)
        a=np.argmax(vif)
        
        print("iteration no. -->",i)
        if vif[a]<= threshhold:
            break
        
        if i==1:
            output_df=x.drop(x.columns[a],axis=1)
            vif=[variance_inflation_factor(output_df.values,j) for j in range(output_df.shape[1])]
            print(x.columns[a])
            output_coll.append(x.columns[a])
        elif i > 1 :
            print(a)
            output_df.drop(output_df.columns[a], axis = 1, inplace = True)
            vif = [variance_inflation_factor(output_df.values, j) for j in range(output_df.shape[1])]
            print(output_df.columns[a])
            
            output_coll.append(output_df.columns[a])
        
    return output_coll,output_df

In [69]:
train_out, dropped_columns = cal_vif(X_train)

[561.3162460726304, 1.7429479391076448, 2.416495621525559, 3.778051033593372, 1.09476951244893, 4.542009007965208, 1.951333077353406, 2.9813842424854133, 4.079698040744896, 7.4515892149344385, 8.588920951678675, 1.8729816879642858, 1.2639614666519208, 2.75693141156054]
iteration no. --> 1
const
[2.0402327894507675, 3.0182881340561014, 13.46254179825434, 1.1853936138363328, 74.45671170881401, 78.47811493203054, 21.52972958806837, 14.874151168069305, 14.831857970511265, 59.05527343488573, 79.26512667559021, 20.821298462630228, 10.432201533275906]
iteration no. --> 2
10
proportion_blacks
[2.040215702368692, 2.604090029322499, 13.26690640680197, 1.1760872632968726, 74.13048832533646, 61.87925991846811, 21.395698698008157, 12.430604088606934, 14.817344433960864, 56.70343170624233, 19.297159392872622, 9.491506356409669]
iteration no. --> 3
4
avg_rooms
[2.0351699553682767, 2.6036971787390746, 12.051072102488746, 1.165106237330585, 43.39089402426176, 19.98923532527593, 12.159893751627838, 14.771738994244973, 54.53232394816922, 19.104985287134266, 8.378649023886918]
iteration no. --> 4
8
proportion_blacks
[2.0350758249258227, 2.4867776514733886, 8.905571390754172, 1.1504788027222892, 40.17420872957976, 19.949359401176917, 12.095805859457137, 4.807680174169493, 19.000634762104223, 8.198004536454647]
iteration no. --> 5
4
proportion_units
[2.0344668141080877, 2.453647598582125, 8.701386839240552, 1.1473200357106992, 13.552812987520843, 8.632608930587788, 4.571958373814513, 14.246032496183133, 7.5100152678230945]
iteration no. --> 6
7
lower_status
[2.031725118273912, 2.4529105125172013, 8.536648880274145, 1.1394157010069395, 9.807513869112384, 4.53346249492067, 4.515983482265374, 7.482257392548994]
iteration no. --> 7
4
distance
[2.030359346018557, 2.3978672134236234, 6.619536605061081, 1.1141526104568251, 4.022598898754692, 4.4989381923632985, 6.2992284377505925]
iteration no. --> 8
2
river"
[2.019049627876142, 2.322489552621014, 1.071026300460477, 3.990654579313208, 3.719844935681161, 3.8932648604427578]
iteration no. --> 9

In [70]:
train_out

['const',
 'proportion_blacks',
 'avg_rooms',
 'proportion_blacks',
 'proportion_units',
 'lower_status',
 'distance',
 'river"']