In [1]:
import pandas as pd

In [2]:
# Loading dataset and view a few records.
train_df = pd.read_excel(r'E:\Python\Machine Learning\datasets\flu.xlsx')
train_df.shape

(8, 5)

In [3]:
train_df.columns

Index(['chills', 'runny_nose', 'headache', 'fever', 'flu'], dtype='object')

In [4]:
train_df

  chills runny_nose headache fever flu
0      Y          N     Mild     Y   N
1      Y          Y       No     N   Y
2      Y          N   Strong     Y   Y
3      N          Y     Mild     Y   Y
4      N          N       No     N   N
5      N          Y   Strong     Y   Y
6      N          Y   Strong     N   N
7      Y          Y     Mild     Y   Y

In [5]:
len(train_df.flu.unique())

2

In [6]:
# test pattern
# E1, chills = Y, 
# E2, runny_nose = N, 
# E3, headache = Mild, 
# E4, fever = N

# outome to test, flu=Y (O)

# Calculate P(E1|O), P(E2|O), P(E3|O) & P(E4|O)
# Calculate P(O)
# Calculate P(E1), P(E2), P(E3) & P(E4)

# To find out : P(O | E1, E2, E3, E4) 
# = [P(E1|O) * P(E2|O) * P(E3|O) * P(E4|O) / (P(E1), P(E2), P(E3) & P(E4))] * P(O)

In [24]:
test_data = [['Y', 'N', 'Strong', 'N']]
columns = ['chills', 'runny_nose', 'headache', 'fever']

In [25]:
test_df = pd.DataFrame(data=test_data, columns=columns)
test_df

  chills runny_nose headache fever
0      Y          N   Strong     N

In [8]:
# the list of distinct values of the outcome (flu column)
range(len(train_df.flu.unique()))

range(0, 2)

In [9]:
range(2)

range(0, 2)

In [10]:
# number of distinct values of the outcome (flu column)train_df.flu.unique())

In [11]:
train_df.shape

(8, 5)

In [12]:
Count_Row=train_df.shape[0] #gives number of row count in the training df
Count_Col=train_df.shape[1] #gives number of col count in the training df
print(Count_Row,Count_Col)

8 5

In [ ]:
len(train_df.flu.unique())

In [13]:
# create an empty df to store propbailities
class_prob_df = pd.DataFrame(columns=['class_name', 'probability'],
                             index=range(len(train_df.flu.unique())))
class_prob_df

  class_name probability
0        NaN         NaN
1        NaN         NaN

In [14]:
train_df['flu'].value_counts()

Y    5
N    3
Name: flu, dtype: int64

In [15]:
train_df['flu'].value_counts()

Y    5
N    3
Name: flu, dtype: int64

In [16]:
for i in train_df['flu'].value_counts().iteritems():
    print(i)

('Y', 5)
('N', 3)

In [17]:
c= 0
for ind, cnt in train_df['flu'].value_counts().iteritems():
    print("iter -->", c,ind , cnt)
    class_prob_df.loc[c].class_name = ind
    class_prob_df.loc[c].probability = cnt/Count_Row
    #print(class_prob_df.loc[c])
    c=c+1

iter --> 0 Y 5
iter --> 1 N 3

In [18]:
class_prob_df

  class_name probability
0          Y       0.625
1          N       0.375

In [19]:
i=0
for val, cnt in train_df['flu'].value_counts().iteritems():
    print ('value', val, 'was found', cnt, 'times')
    class_prob_df.loc[i].class_name = val
    class_prob_df.loc[i].probability = cnt/Count_Row
    i = i +1
    
#class_prob_df

value Y was found 5 times
value N was found 3 times

In [20]:
class_prob_df

  class_name probability
0          Y       0.625
1          N       0.375

In [21]:
pd.DataFrame(train_df['flu'].value_counts())

   flu
Y    5
N    3

In [21]:
proc_class_prob_df = class_prob_df
proc_class_prob_df

  class_name probability
0          Y       0.625
1          N       0.375

In [22]:
columns

['chills', 'runny_nose', 'headache', 'fever']

In [9]:
 "priori_"+columns[1]+"|out"

'priori_runny_nose|out'

In [25]:
for col in range(len(columns)):
    print(col)
    #proc_class_prob_df['priori_'+columns[col]]

0
1
2
3

In [26]:
test_df

  chills runny_nose headache fever
0      Y          N   Strong     N

In [26]:
# Calculate P(E1|O), P(E2|O), P(E3|O) & P(E4|O)
# Calculate P(O)
# Calculate P(E1), P(E2), P(E3) & P(E4)

# To find out : P(O | E1, E2, E3, E4) 
# = [P(E1|O) * P(E2|O) * P(E3|O) * P(E4|O) / (P(E1), P(E2), P(E3) & P(E4))] * P(O)

In [27]:
# build the class_prob_df with columns necessary for priori probabilities
proc_class_prob_df = class_prob_df
for col in range(len(columns)):
    #print(col)
    proc_class_prob_df['priori_'+columns[col]+'|outcome'] = ''
    proc_class_prob_df['priori_'+columns[col]] = ''

In [28]:
proc_class_prob_df

,class_name,probability,priori_chills|outcome,priori_chills,priori_runny_nose|outcome,priori_runny_nose,priori_headache|outcome,priori_headache,priori_fever|outcome,priori_fever
0,Y,0.625,,,,,,,,
1,N,0.375,,,,,,,,

In [29]:
proc_class_prob_df.shape

(2, 10)

In [30]:
train_df.columns

Index(['chills', 'runny_nose', 'headache', 'fever', 'flu'], dtype='object')

In [31]:
proc_class_prob_df.columns

Index(['class_name', 'probability', 'priori_chills|outcome', 'priori_chills',
       'priori_runny_nose|outcome', 'priori_runny_nose',
       'priori_headache|outcome', 'priori_headache', 'priori_fever|outcome',
       'priori_fever'],
      dtype='object')

In [32]:
for i in columns:
    print(i)

chills
runny_nose
headache
fever

In [32]:
for i in proc_class_prob_df.iterrows():
    print(i)
    for j in test_df.iterrows():
        print(j)

(0, class_name                       Y
probability                  0.625
priori_chills|outcome
priori_chills
priori_runny_nose|outcome
priori_runny_nose
priori_headache|outcome
priori_headache
priori_fever|outcome
priori_fever
Name: 0, dtype: object)
(0, chills             Y
runny_nose         N
headache      Strong
fever              N
Name: 0, dtype: object)
(1, class_name                       N
probability                  0.375
priori_chills|outcome
priori_chills
priori_runny_nose|outcome
priori_runny_nose
priori_headache|outcome
priori_headache
priori_fever|outcome
priori_fever
Name: 1, dtype: object)
(0, chills             Y
runny_nose         N
headache      Strong
fever              N
Name: 0, dtype: object)

In [34]:
for i , row in proc_class_prob_df.iterrows():
    #print(i,row)
    for j , row1 in test_df.iterrows():
        #print("##############")
        #print("in second loop",j,test_row)
        for col in range(len(columns)):
            #print("###########")
            #print("in 3rd loop",col)
            event_samples = train_df[(train_df[columns[col]]==row1[columns[col]])].shape[0]
            print(columns[col], event_samples)

chills 4
runny_nose 3
headache 3
fever 3
chills 4
runny_nose 3
headache 3
fever 3

In [35]:
test_df[columns[0]]

0    Y
Name: chills, dtype: object

In [36]:
train_df

  chills runny_nose headache fever flu
0      Y          N     Mild     Y   N
1      Y          Y       No     N   Y
2      Y          N   Strong     Y   Y
3      N          Y     Mild     Y   Y
4      N          N       No     N   N
5      N          Y   Strong     Y   Y
6      N          Y   Strong     N   N
7      Y          Y     Mild     Y   Y

In [37]:
test_df

  chills runny_nose headache fever
0      Y          N   Strong     N

In [38]:
proc_class_prob_df

,class_name,probability,priori_chills|outcome,priori_chills,priori_runny_nose|outcome,priori_runny_nose,priori_headache|outcome,priori_headache,priori_fever|outcome,priori_fever
0,Y,0.625,,,,,,,,
1,N,0.375,,,,,,,,

In [26]:
# calculate the priori probality of events

for idx, row in proc_class_prob_df.iterrows():   
    
    for idx1, row1 in test_df.iterrows():

        for col in range(len(columns)):
            # get the number of samples for the event
            
            event_samples = train_df[(train_df[columns[col]]==row1[columns[col]])].shape[0]
            event_outcome_samples = train_df[(train_df[columns[col]]==row1[columns[col]]) & (train_df['flu']==row.class_name)].shape[0]
            outcome_samples = train_df[train_df['flu']== row.class_name].shape[0]
            #print(columns[col], event_smaple,event_outcome_samples,outcome_samples )
            
                        
            col_to_update = 'priori_'+columns[col]+'|outcome'
            proc_class_prob_df.at[idx, col_to_update] = event_outcome_samples/outcome_samples
            
            col_to_update = 'priori_'+columns[col]
            proc_class_prob_df.at[idx, col_to_update] = event_samples/Count_Row

In [40]:
# calculate the priori probality of events

for idx, row in proc_class_prob_df.iterrows():   
    
    for idx1, row1 in test_df.iterrows():

        for col in range(len(columns)):
            # get the number of samples for the event
            
            event_samples = train_df[(train_df[columns[col]]==row1[columns[col]])].shape[0]
            
            print(columns[col], event_samples)
            event_outcome_samples = train_df[(train_df[columns[col]]==row1[columns[col]]) & (train_df['flu']==row.class_name)].shape[0]
                       
            outcome_samples = train_df[train_df['flu']== row.class_name].shape[0]
            
            print(row.class_name , event_outcome_samples, outcome_samples)
            ####print(columns[col], event_smaple,event_outcome_samples,outcome_samples )
            
                        
            col_to_update = 'priori_'+columns[col]+'|outcome'
            proc_class_prob_df.at[idx, col_to_update] = event_outcome_samples/outcome_samples
            
            col_to_update = 'priori_'+columns[col]
            proc_class_prob_df.at[idx, col_to_update] = event_samples/Count_Row

chills 4
Y 3 5
runny_nose 3
Y 1 5
headache 3
Y 2 5
fever 3
Y 1 5
chills 4
N 1 3
runny_nose 3
N 2 3
headache 3
N 1 3
fever 3
N 2 3

In [41]:
# Calculate P(E1|O), P(E2|O), P(E3|O) & P(E4|O)
# Calculate P(O)
# Calculate P(E1), P(E2), P(E3) & P(E4)

# To find out : P(O | E1, E2, E3, E4) 
# = [P(E1|O) * P(E2|O) * P(E3|O) * P(E4|O) / (P(E1), P(E2), P(E3) & P(E4))] * P(O)

In [27]:
proc_class_prob_df

,class_name,probability,priori_chills|outcome,priori_chills,priori_runny_nose|outcome,priori_runny_nose,priori_headache|outcome,priori_headache,priori_fever|outcome,priori_fever
0,Y,0.625,0.600000,0.5,0.200000,0.375,0.400000,0.375,0.200000,0.375
1,N,0.375,0.333333,0.5,0.666667,0.375,0.333333,0.375,0.666667,0.375

In [28]:
proc_class_prob_df['mul_event|outcome'] = (proc_class_prob_df['priori_chills|outcome']*
                                        proc_class_prob_df['priori_runny_nose|outcome']*
                                        proc_class_prob_df['priori_fever|outcome']*
                                        proc_class_prob_df['priori_headache|outcome'])

In [41]:
proc_class_prob_df['mul_event']=(proc_class_prob_df['priori_chills']*
                                 proc_class_prob_df['priori_runny_nose']*
                                 proc_class_prob_df['priori_headache']*
                                 proc_class_prob_df['priori_fever'])

In [42]:
proc_class_prob_df['final_posterior_prob'] = (proc_class_prob_df['probability']*
                                            (proc_class_prob_df['mul_event|outcome']/
                                              proc_class_prob_df['mul_event']))

In [39]:
0.227556+0.702332

0.9298879999999999

In [43]:
proc_class_prob_df

,class_name,probability,priori_chills|outcome,priori_chills,priori_runny_nose|outcome,priori_runny_nose,priori_headache|outcome,priori_headache,priori_fever|outcome,priori_fever,mul_event|outcome,mul_event,final_posterior_prob
0,Y,0.625,0.600000,0.5,0.200000,0.375,0.400000,0.375,0.200000,0.375,0.009600,0.026367,0.227556
1,N,0.375,0.333333,0.5,0.666667,0.375,0.333333,0.375,0.666667,0.375,0.049383,0.026367,0.702332

In [33]:
# calculate posterior probabilties for each outcome
for idx, row in proc_class_prob_df.iterrows():   
    col_to_update = 'posterior_prob'
    posterior_prob = 1
    for col in range(len(columns)):
        
        col_prior_outcome = 'priori_'+columns[col]+'|outcome'
        
        col_prior = 'priori_'+columns[col]
        
        posterior_prob = posterior_prob * proc_class_prob_df.iloc[idx][col_prior_outcome]/proc_class_prob_df.iloc[idx][col_prior]
        
        posterior_prob = posterior_prob * proc_class_prob_df.iloc[idx]['probability']
        
        
    proc_class_prob_df.at[idx, col_to_update] = posterior_prob

In [47]:
0.227556+0.702332

0.9298879999999999

In [34]:
proc_class_prob_df

,class_name,probability,priori_chills|outcome,priori_chills,priori_runny_nose|outcome,priori_runny_nose,priori_headache|outcome,priori_headache,priori_fever|outcome,priori_fever,posterior_prob
0,Y,0.625,0.6,0.5,0.2,0.375,0.4,0.375,0.2,0.375,0.055556
1,N,0.375,0.333333,0.5,0.666667,0.375,0.333333,0.375,0.666667,0.375,0.037037