In [1]:
import numpy

In [2]:
import pandas

In [3]:
import time
import random
from math import *
import operator
import pandas as pd
import numpy as np

# import plotting libraries
import matplotlib
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline 

import seaborn as sns
sns.set(style="white", color_codes=True)
sns.set(font_scale=1.5)

# import the ML algorithm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from statsmodels.tools.eval_measures import rmse
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB

# pre-processing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import scale
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import MaxAbsScaler
#from sklearn.preprocessing import RobustScaler,
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing.data import QuantileTransformer
#from sklearn.preprocessing import Imputer


# import libraries for model validation
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut 

# import libraries for metrics and reporting
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn import metrics
from sklearn.metrics import classification_report

C:\Users\Amrita\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.preprocessing.data module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.preprocessing. Anything that cannot be imported from sklearn.preprocessing is now part of the private API.
  warnings.warn(message, FutureWarning)

In [4]:
# Kaggle Competition | Titanic Machine Learning from Disaster

# The sinking of the RMS Titanic is one of the most infamous shipwrecks in history. 
# On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, 
# killing 1502 out of 2224 passengers and crew. 

# This sensational tragedy shocked the international community and led to better safety 
# regulations for ships.

# One of the reasons that the shipwreck led to such loss of life was that there were not enough 
# lifeboats for the passengers and crew. 
# Although there was some element of luck involved in surviving the sinking, 
# some groups of people were more likely to survive than others, such as women, children, and 
# the upper-class.

In [5]:
# take a random sample of 500 passengers. In this sample, 30% of people survived. 
# Among passenger who survived, the fare ticket mean is 100$. It falls to 50$ in the subset of 
# people who did not survive. Now, letâ€™s say you have a new passenger. You do not know if he 
# survived or not but you know he bought a 30$ ticket to cross the Atlantic. 

# What is your prediction of survival for this passenger?

In [6]:
location = r"E:\Python\Machine Learning\datasets\titanic-train.csv"

In [7]:
# load the training data from breast cancer data set
df_train = pd.read_csv(location)
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df_train['Cabin'] = df_train['Cabin'].astype('str')

In [9]:
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].mean())

In [10]:
df_train['Cabin'].mode()[0]

'nan'

In [11]:
df_train['Cabin'] = df_train['Cabin'].fillna(df_train['Cabin'].mode()[0])

In [20]:
df_train['Embarked'].mode()[0]

'S'

In [14]:
b =df_train['Embarked'].mode()[0]
print(b)

S

In [21]:
df_train.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [18]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,nan,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,nan,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,nan,S

In [15]:
df_train['Embarked'] = df_train['Embarked'].fillna(b)

In [14]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,nan,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,nan,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,nan,S

In [15]:
df_train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.033207,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.069809,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.331339,0.083081,0.018443,-0.549500
Age,0.033207,-0.069809,-0.331339,1.000000,-0.232625,-0.179191,0.091566
SibSp,-0.057527,-0.035322,0.083081,-0.232625,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.179191,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.091566,0.159651,0.216225,1.000000

In [16]:
df_train['Cabin'].value_counts()

nan            687
C23 C25 C27      4
G6               4
B96 B98          4
E101             3
              ...
C99              1
B78              1
C82              1
E50              1
B3               1
Name: Cabin, Length: 148, dtype: int64

In [19]:
'B96 B98'.replace(' ', '_')

'B96_B98'

In [22]:
df_train['Age'].mean()

29.699117647058763

In [18]:
# see distinct values in the Sex column
df_train.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [19]:
# see distinct values in the Embarked column
df_train.Embarked.value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [43]:
# Convert categorical variable to numeric
df_train["Sex_cleaned"]=np.where(df_train["Sex"]=="male", 0,1)

In [42]:
df_train["Embarked_cleaned"] =np.where(df_train["Embarked"]=="S",
                                       0,
                            np.where(df_train["Embarked"]=="C",1, 
                            np.where(df_train["Embarked"]=="Q",2,3)
                                   )
                                   )

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
lb= LabelEncoder()

In [25]:
df_train['Cabin'] = lb.fit_transform(df_train['Cabin'])

In [34]:
lb.classes_

array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
       'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
       'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
       'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
       'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
       'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
       'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
       'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
       'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
       'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
       'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
       'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
       'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
       'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
       'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
       'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
       'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
       'T', 'nan'], dtype=object)

In [32]:
lb.get_params()

{}

In [25]:
df_train['Cabin'].unique

<bound method Series.unique of 0      147
1       81
2      147
3       55
4      147
      ...
886    147
887     30
888    147
889     60
890    147
Name: Cabin, Length: 891, dtype: int32>

In [44]:
df_train['Embarked_cleaned'] = lb.fit_transform(df_train["Embarked"])

In [49]:
df_train.head()

,Survived,Pclass,Sex_cleaned,Age,SibSp,Parch,Fare,Embarked_cleaned
0,0,3,0,22.0,1,0,7.2500,2
1,1,1,1,38.0,1,0,71.2833,0
2,1,3,1,26.0,0,0,7.9250,2
3,1,1,1,35.0,1,0,53.1000,2
4,0,3,0,35.0,0,0,8.0500,2

In [50]:
# Cleaning dataset of NaN
df_train = df_train[[
                "Survived",
                "Pclass",
                "Sex_cleaned",
                "Age",
                "SibSp",
                "Parch",
                "Fare",
                "Embarked_cleaned"
]].dropna(axis=0, how='any')

In [51]:
# Split dataset in training and test datasets
# X_train, X_test = train_test_split(df_train, test_size=0.5, random_state=int(time.time()))
X_train, X_test = train_test_split(df_train, test_size=0.3, random_state=11)

y_train = X_train['Survived']
y_test = X_test['Survived']

In [52]:
from sklearn.naive_bayes import GaussianNB 
# Instantiate the classifier
gnb = GaussianNB()

used_features =[
    "Pclass",
    "Sex_cleaned",
    "Age",
    "SibSp",
    "Parch",
    "Fare",
    "Embarked_cleaned"
]
gnb

GaussianNB()

In [53]:
# X = X_train[used_features].values
# y = X_train["Survived"]

In [54]:
# Train classifier
gnb.fit(
    X_train[used_features].values,
    y_train
)

GaussianNB()

In [55]:
y_pred = gnb.predict(X_test[used_features])

In [56]:
X_test['SURV_prediction'] = y_pred

<ipython-input-56-351a4976b10e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['SURV_prediction'] = y_pred

In [57]:
X_test.head()

,Survived,Pclass,Sex_cleaned,Age,SibSp,Parch,Fare,Embarked_cleaned,SURV_prediction
431,1,3,1,29.699118,1,0,16.1000,2,1
821,1,3,0,27.000000,0,0,8.6625,2,0
629,0,3,0,29.699118,0,0,7.7333,1,0
626,0,2,0,57.000000,0,0,12.3500,1,0
665,0,2,0,32.000000,2,0,73.5000,2,0

In [58]:
from sklearn.metrics import confusion_matrix

In [59]:
metrics.confusion_matrix(y_test, y_pred)

array([[155,  21],
       [ 23,  69]], dtype=int64)

In [49]:
X_test[X_test["Survived"]==X_test["SURV_prediction"]].shape

(222, 9)

In [66]:
X_test[((X_test["Survived"]==1) & (X_test["SURV_prediction"]==0))].shape

(23, 9)

In [40]:
metrics.accuracy_score(y_test, y_pred)

0.835820895522388

In [41]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.88      0.88       176
           1       0.77      0.75      0.76        92

    accuracy                           0.84       268
   macro avg       0.82      0.82      0.82       268
weighted avg       0.84      0.84      0.84       268

88% of non-survived are predicted as non-survived
75% of survived are predicted as survived

In [42]:
metrics.recall_score(y_test, y_pred)

0.75