In [1]:
import sys
import platform
import operator
from math import *
import string
 
import scipy
import numpy
import matplotlib
import pandas
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline 
 
import seaborn as sns
sns.set(style="white", color_codes=True)

In [3]:
q=80
r=49

In [4]:
a=input("enter the equation")
eval(a)

enter the equationq+r

129

In [1]:
a= '(10+5) * 6/2'
print(type(a))
eval(a)

<class 'str'>

45.0

In [ ]:
# How To Define A Function: User-Defined Functions (UDFs)
# The 4 steps to defining a function in Python are the following:
 
# 1. Use the keyword def to declare the function and follow this up with the function name.
# 2. Add parameters to the function: they should be within the parentheses of the function. 
#    End your line with a colon.
# 3. Add statements that the functions should execute.
# 4. End your function with a return statement if the function should output something. 
#    Without the return statement, your function will return an object None.

In [26]:
def hello():
    a = 30
    if a <40:
        print("less")
        return a
    else:
        print("more")
        return a+10
    print("Hello World, I am learning Data Science") 
    return 10000
    #return {"Course":"DATA ANALYSIS ",20:40}
    print("NEW LINE")
print("abcd")

abcd

In [27]:
var  = hello()

less

In [28]:
type(var)

int

In [29]:
var

30

In [6]:
var.lower()

'data analysis '

In [20]:
b=hello()*5
#a=10
print("return the val  ",b)

more
Hello World, I am learning Data Science
return the val   50000

In [ ]:
print(a)

hellohellohellohellohellohellohellohellohellohello

In [1]:

def hello():
    name = input("Enter your name: ")
    print(name)
    print(type(name))
    if name:
        print ("Hello " + name)
    else:
        print("Name not entered, Greetings nonetheless !!")

In [3]:
hello()

Enter your name: symbi
symbi
<class 'str'>
Hello symbi

In [ ]:
a="99.23"

False

In [ ]:
hello()

Enter your name: n1223
n1223
Hello n1223

In [ ]:
print("hi.... ", hello())

Enter your name: aa
Hello aa
hi....  None

In [ ]:
# The return Statement

In [7]:
# Note that as you’re printing something in your UDF hello(), you don’t really need to return it. 
# There won’t be any difference between the function above and this one

def hello_noreturn():
    print("Hello World")

In [8]:
type(hello_noreturn())

Hello World

NoneType

In [ ]:
def hello():
  print("Hello World")
  print(10)
  #return(" hello ")
  #return "hdhdh "
  #return (10)
  return 15

def hello_noreturn():
  print("Hello World")

In [ ]:
# Multiply the output of `hello()` with 2 
a = hello()*2

Hello World
10

In [ ]:
a

30

In [ ]:
# (Try to) multiply the output of `hello_noreturn()` with 2 
hello_noreturn()*2

Hello World

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
# return multiple values
# To do this, you make use of tuples.

In [ ]:
# Remember that this data structure is very similar to that of a list: it can contain 
# multiple values. However, tuples are immutable, which means that you can’t modify any 
# values that are stored in it! You construct it with the help of double parentheses ()

In [16]:
# Define `plus()`

def oper(a, b):
    """
    this is addition and multiplication function
    """
    global sum1
    ### Addition
    sum1  = a + b
    mult1 = a * b
    return  sum1, mult1

#global oper

In [18]:
 y = oper(500,4)

In [6]:
y

(504, 2000)

In [19]:
 sum1

504

In [14]:
del mult1

In [ ]:
help(oper)

Help on function oper in module __main__:

oper(a, b)
    this is addition and multiplication function

In [ ]:
type(a)

NameError: name 'a' is not defined

In [ ]:
# Call 
sum1, mult1 = oper(12, 3)
print(sum1,mult1)
print("type of individual variable is ", type(sum1), "  ", type(mult1))
###########################################
ret = oper(3, 4)
print(ret)
print("function return values having type as ", type(ret))

15 36
type of individual variable is  <class 'int'>    <class 'int'>
(7, 12)
function return values having type as  <class 'tuple'>

In [ ]:
# Print sum, mult
print(sum1)
print(mult1)
print(ret_tuple)

15
36
(7, 12)

In [ ]:
print(sum1,mult1,  sep="++", end="     ")
print("NEW LINE")

15++36     NEW LINE

In [4]:
# How To Add Docstrings To A Python Function
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None

In [ ]:
# Docstrings describe what your function does, such as the computations it performs or 
# its return values. These descriptions serve as documentation for your function so that 
# anyone who reads your function’s docstring understands what your function does, without 
# having to trace through all the code in the function definition.

In [1]:
def hello():
    """
    Prints "Hello World".
    v1  date  purpose  author
    

    Returns:
        None
    """
    
    ### ABC
    print("Hello World") 
    return

In [31]:
hello()

Hello World

In [ ]:
# Function Arguments in Python

In [ ]:
# There are 4 types of arguments that Python UDFs can take:

# Default arguments
# Required arguments
# Keyword arguments
# Variable number of arguments

In [ ]:
# Default Arguments

# take a default value if no argument value is passed 
# during the function call. You can assign this default value by with the 
# assignment operator =

In [32]:
# Define `plus()` function
def plus(a,b):
    print("a= ",a,"b= ", b)
    return a + b

In [38]:
plus(6,7)

a=  6 b=  7

13

In [ ]:
plus(20,30)

a=  20 b=  0.07

50.07

In [ ]:
plus()

a=  10 b=  12

22

In [48]:
a=10
c=12

def new_add (a,c,b=4):
    return a+b+c

In [49]:
new_add(10,10,56)

76

In [50]:
new_add()

TypeError: new_add() missing 2 required positional arguments: 'a' and 'c'

In [ ]:
b

10

In [53]:
# Call `plus()` with only `a` parameter
new_add(2,6,10)

18

In [55]:
# Call `plus()` with `a` and `b` parameters
new_add(c=6, a=12)

22

In [ ]:
# Call `plus()` with `a` and `b` parameters
plus(10, 40)

50

In [ ]:
plus(30)

34

In [ ]:
# Required Arguments

# The required arguments of a UDF are those that have to be in there.

In [ ]:
# Define `plus()` with required arguments
def plus(a, b):
    return a - b

In [ ]:
plus(10, 20)

-10

In [ ]:
plus(b=10,a=30)

20

In [ ]:
# Keyword Arguments

# If you want to make sure that you call all the parameters in the 
# right order, you can use the keyword arguments in your function call.

In [ ]:
# Define `plus()` function
def plus(a, b):
  return a - b
  
# Call `plus()` function with parameters 
plus(2,3)

-1

In [ ]:
# Call `plus()` function with keyword arguments
plus(10, b=3)

7

In [ ]:
# Variable Number of Arguments

# In cases where you don’t know the exact number of arguments that you 
# want to pass to a function, you can use the following syntax with *args

In [56]:
# Define `plus()` function to accept a variable number of arguments
def plus(*s):
    print(s)
    print(type(s))
    total = 0
    print(s[0], s[1])
    for i in s:
        total = total + i
        #print(total)
    return total

In [60]:
plus(23,56,8,90,10,10)

(23, 56, 8, 90, 10, 10)
<class 'tuple'>
23 56

197

In [25]:
plus([6,2,3,5],'a')

([6, 2, 3, 5], 'a')
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [23]:
plus(1,19,50)

(1, 19, 50)
<class 'tuple'>

70

In [ ]:
plus(12, 30)

(12, 30)
<class 'tuple'>

42

In [ ]:
plus(12,12,14,16)

(12, 12, 14, 16)
<class 'tuple'>

54

In [7]:
tot= 0
for i in range(5):
    
    tot=tot+i
    print(tot, i)

0 0
1 1
3 2
6 3
10 4

In [67]:
# Define `plus()` function to accept a variable number of arguments
#s= input("enter all marks, P,C,M,B")
#s=tuple(s)
def PCMB(p,c,*s):
    print(s, type(s))
    total = p+c
    for i in s:
        total = total + int(i)
        #print(total)
    return total

In [70]:
PCMB(10,10)

() <class 'tuple'>

20

In [ ]:
a=input("enter number")
PCMB(a)

enter number12,12,13
<class 'tuple'>

ValueError: invalid literal for int() with base 10: '12,12,13'

In [ ]:
add= plus(10,20,12)

<class 'tuple'>

In [ ]:
add

42

In [6]:
# Define `plus()` function to accept a variable number of arguments
def plus(**s):
    print(s)

In [9]:
plus(a3=10,b=20,c=30)

{'a3': 10, 'b': 20, 'c': 30}

In [20]:
def dictVarArgs( arg1, arg2='defaultB', *x,   **theRest ):  #theRest ={c='grail',id='1000'}
    """arguments in dictionary In this **theRest is dictionary"""
    print ('formal arg 1:', arg1)
    print ('formal arg 2:', arg2)
    print ("Tuple content = ",x)
    print ("therest dict = ", theRest)
    k =theRest.keys()      # k is  a list ['id','c']
    k = list(k)
    print ('keys = ',k)
   # print ('Var arg in dictionary = ',k[0], "Value = ", theRest[k[0]])
   # print ('Var arg in dictionary = ',k[1], "Value = ", theRest[k[1]])
    print ("----------------------------------------------------")
    for eachXtrArg in theRest.keys():   #dictionary traversal     ['c','id']
        print ('Xtra arg %s: %s' % (eachXtrArg, theRest[eachXtrArg]))   

            #works

In [71]:
def dictVarArgs( arg1, arg2='defaultB', *x,   **theRest ):  #theRest ={c='grail',id='1000'}
    """arguments in dictionary In this **theRest is dictionary"""
    print ('formal arg 1:', arg1)
    print ('formal arg 2:', arg2)
    print ("Tuple content = ",x)
    print ("therest dict = ", theRest)
    k =theRest.keys()      # k is  a list ['id','c']
    k = list(k)
    print ('keys = ',k)
   # print ('Var arg in dictionary = ',k[0], "Value = ", theRest[k[0]])
   # print ('Var arg in dictionary = ',k[1], "Value = ", theRest[k[1]])
    print ("----------------------------------------------------")
    for eachXtrArg in theRest.keys():   #dictionary traversal     ['c','id']
        print('Xtra arg %s: %s' %(eachXtrArg, theRest[eachXtrArg]))
        print('Xtra arg {}:{}'.format(eachXtrArg, theRest[eachXtrArg]))
        print('Xtra arg ', eachXtrArg, theRest[eachXtrArg])

            #works

In [85]:
theRest1 ={'c':'grail',40:'1000'}

In [89]:
dictVarArgs(23,10, 12,13,14,theRest1, a=theRest1)

formal arg 1: 23
formal arg 2: 10
Tuple content =  (12, 13, 14, {'c': 'grail', 40: '1000'})
therest dict =  {'a': {'c': 'grail', 40: '1000'}}
keys =  ['a']
----------------------------------------------------
Xtra arg a: {'c': 'grail', 40: '1000'}

In [87]:
dictVarArgs(23,10, 12,13,14, x =100, abc = 300,vb=90)

formal arg 1: 23
formal arg 2: 10
Tuple content =  (12, 13, 14)
therest dict =  {'x': 100, 'abc': 300, 'vb': 90}
keys =  ['x', 'abc', 'vb']
----------------------------------------------------
Xtra arg x: 100
Xtra arg abc: 300
Xtra arg vb: 90

In [72]:
dictVarArgs(69)

formal arg 1: 69
formal arg 2: defaultB
Tuple content =  ()
therest dict =  {}
keys =  []
----------------------------------------------------

In [23]:
dictVarArgs(12,12,12,13,15,cd='grail',id1='1000',x1=10,b=10)

formal arg 1: 12
formal arg 2: 12
Tuple content =  (12, 13, 15)
therest dict =  {'cd': 'grail', 'id1': '1000', 'x1': 10, 'b': 10}
keys =  ['cd', 'id1', 'x1', 'b']
----------------------------------------------------
Xtra arg cd: grail
Xtra arg id1: 1000
Xtra arg x1: 10
Xtra arg b: 10

In [13]:
dictVarArgs(1220, , c='grail',id='1000')

formal arg 1: 1220
formal arg 2: defaultB
Tuple content =  ('Spark',)
therest dict =  {'c': 'grail', 'id': '1000'}
keys =  ['c', 'id']
Var arg in dictionary =  c Value =  grail
----------------------------------------------------
Xtra arg c: grail
Xtra arg id: 1000

In [25]:
dictVarArgs(1220, x=740.0,c='grail',id='1000')

formal arg 1: 1220
formal arg 2: defaultB
Tuple content =  ()
therest dict =  {'x': 740.0, 'c': 'grail', 'id': '1000'}
keys =  ['x', 'c', 'id']
----------------------------------------------------
Xtra arg x: 740.0
Xtra arg c: grail
Xtra arg id: 1000

In [ ]:
def writing_var(a, pi=3.143):
    return

In [ ]:
input("operation")

operation2+4-3

'2+4-3'

In [ ]:
import operator

In [ ]:
# Calculate the sum  
plus(120,20)

(120, 20)
120
140

140

In [ ]:
a=20

In [ ]:
# Global vs Local Variables

# In general, variables that are defined inside a function body have a 
# local scope, and those defined outside have a global scope. 

# That means that local variables are defined within a function block 
# and can only be accessed inside that function, while global variables 
# can be accessed by all functions that might be in your script

In [4]:
# Global variable `init`
#init = 1

# Define `plus()` function to accept a variable number of arguments
def plus(*args):
  # Local variable `sum()`
    total = 0
    global init
    #print(init)
    init=20
    
    for i in args:
        print(init)
        init=init+1
        
        total += i
    print(init)
    return total

In [7]:
a= plus(10,2)
print(a)

20
21
22
12

In [6]:
init

21

In [37]:
# Access the global variable
print("this is the initialized value " + str(init))

this is the initialized value 4

In [ ]:
# (Try to) access the local variable
print("this is the sum " + str(total))

NameError: name 'total' is not defined

In [ ]:
 plus(12,13,43,10)

187

In [18]:
# Printing /accepting dictionary
def accept_dict(**args):
  # Local variable `sum()`
  print(args)

In [19]:
dict1={1:"abc",2:"cdv"}

In [28]:
accept_dict(a1="xyz", cvb=2)

{'a1': 'xyz', 'cvb': 2}

In [ ]:
# Anonymous functions are also called lambda functions in Python because 
# instead of declaring them with the standard def keyword, you use the 
# lambda keyword.

In [8]:
def namef(a=None):
    out= "Hello "+str(a)
    return out

In [11]:
namef("suma")

'Hello suma'

In [26]:
v = lambda g,t : 100*g+t

In [21]:
type(v)

function

In [27]:
v(6,80)

680

In [24]:
greeting = lambda name : "Hello {}".format(name)

In [25]:
greeting("Gr")

'Hello Gr'

In [56]:
b=lambda a:("hello "+a+"! How are you "+ "How are you")

In [57]:
b("vgtu")

'hello vgtu! How are you How are you'

In [40]:
a=lambda s:"Welcome "+str(s)

In [41]:
type(a)

function

In [42]:
a("symb")

'Welcome symb'

In [43]:
sum11 = lambda x, y, z: x+y+z;

In [44]:
# Call the `sum()` anonymous function
sum11(14,15, 3)

32

In [46]:
# "Translate" to a UDF
# def sum(x, y):
#   return x+y

# `sum()` lambda function
sum11 = lambda x, y, z: (x+10 , y+20,  z+30)

In [47]:
sum11

In [48]:
sum11(14,15,70)

(24, 35, 100)

In [ ]:
a=lambda:100

In [ ]:
a

<function <lambda> at 0x000001F17450AC80>

In [4]:
a=lambda x,y:((x+y, x-y) , x*y)

In [5]:
a(12,30)

((42, -18), 360)

In [17]:

length=lambda x:len(x)

In [24]:
length1=lambda x:type(x)== str ##len(x)

In [18]:
print(length("asdtretyf"))

9

In [29]:
l1= ["Neerja","Niketan","Gini","Entropy","Mean absolute error"]
len(l1)

5

In [60]:
len("symbiosys") > 6

True

In [33]:
[len(i) for i in l1 if len(i)>6]

[7, 7, 19]

In [31]:
list(map(len,l1))

[6, 7, 4, 7, 19]

In [ ]:
lambda x :len(x)>6

In [36]:
list(map(lambda x: len(x)>6 ,l1))

[False, True, False, True, True]

In [57]:
list(filter(lambda x : len(x)>6, l1))

['Niketan', 'Entropy', 'Mean absolute error']

In [54]:
l2=[1,"Two",3,"four"]

In [33]:
list(map(lambda x: type(x)==str, l2))

[False, True, False, True]

In [57]:
list(filter(lambda x: type(x)==str,l2))

['Two', 'four']

In [58]:
### display even numbers
list(filter((lambda x : x%2==0),range(10)))

[0, 2, 4, 6, 8]

In [61]:
list(map(lambda x:x**2, range(9)))

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
l1 = ['4141','2114','nina','nancy','nilay','niraj','r4','we3']

In [70]:
list(filter(lambda x: x.isalpha()==False,l1))

['4141', '2114', 'r4', 'we3']

In [77]:
"r4".isalpha() ==False

True

In [78]:
'r4'.isdigit() == False

True

In [ ]:
"asd".

In [79]:
"r4".isalpha() ==False and 'r4'.isdigit() == False

True

In [74]:
list(filter(lambda x: x.isalpha()== False and x.isdigit()==False, l1))

['r4', 'we3']

In [6]:
l2=[]
for i in l1:
    len(i)
    l2.append(len(i))
    
l2

[4, 4, 4, 5, 5, 5, 2, 3]

In [8]:
list(zip(l1,l2))

[('4141', 4),
 ('2114', 4),
 ('nina', 4),
 ('nancy', 5),
 ('nilay', 5),
 ('niraj', 5),
 ('r4', 2),
 ('we3', 3)]

In [ ]:
# Specific contexts in which this would be relevant is when you’re working 
# with filter(), map() and reduce()

In [ ]:
# Map
# map(function_to_apply, list_of_inputs)

# applies a function to all the items in an input_list. 

items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
    
squared

[1, 4, 9, 16, 25]

In [60]:
items = [1, 2, 3, 4, 5]
print(items)
##squared 

list(map(lambda x : x**2  ,items))

[1, 2, 3, 4, 5]

[1, 4, 9, 16, 25]

In [1]:
len("Ritu")
list1 = [1,2,5,3,4,6]

In [11]:
### Create the list of length of every string in the list
name= ["Ruby","Poonam","Rajani","Pooja","Dhanashree"]
list(map(len,name))

[4, 6, 6, 5, 10]

In [ ]:
list(map(lambda x: x**2,items))

[1, 4, 9, 16, 25]

In [ ]:
string= "A NEW STRING"
list(map(len,string))

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
var={"A","AA","BBBB","SSSSSSSSSS"}
set(map(len,var))

{1, 2, 4, 10}

In [ ]:
map()

In [ ]:
#a= lambda x: x**2
#a(5)
print(list(map(lambda x: x**2,items)))
print(tuple(map(lambda x: x**2,items)))
print(set(map(lambda x: x**2,items)))
#list (map(a,items))
#y

[1, 4, 9, 16, 25]
(1, 4, 9, 16, 25)
{1, 4, 9, 16, 25}

In [ ]:
a= [1,2,3,4,5]
b=[10,20,30,40,50]
list(map(lambda x: x+y, a))

NameError: name 'y' is not defined

In [ ]:
items = [11, 12, 13, 14, 15]
squared = tuple(map(lambda x: x**2, items))
squared

(121, 144, 169, 196, 225)

In [ ]:
lambda x:x*2

In [ ]:

type([a**2 for a in items])

list

In [9]:
abc = ["New","highway","compost","composition"]

In [19]:
list(map(lambda x : x ,range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
list(filter(lambda x : x ,[1,0,2,2,0,0,]))

[1, 2, 2]

In [11]:
[len(a) for a in abc if len(a) <6 ]

[3]

In [7]:
list(map(len,abc))

[3, 7, 7, 11]

In [ ]:
# Filter
# filter creates a list of elements for which a function returns true

In [2]:
number_list = range(-5, 5)

In [3]:
list(number_list)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [13]:
print(list(map(lambda x: x< 0, number_list)))

[True, True, True, True, True, False, False, False, False, False]

In [ ]:
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [ ]:
# Reduce

# Reduce is a really useful function for performing some computation on 
# a list and returning the result. It applies a rolling computation to 
# sequential pairs of values in a list.

In [ ]:
product = 1
list1 = [1, 2, 3, 4]
for num in list1:
    print(num)
    product = product * num
print(product)

1
2
3
4
24

In [61]:
import functools 
#from functools import

In [12]:
(lambda x, y: x+y)

In [38]:
from functools import reduce
summation = reduce((lambda x, y: x+y), [1, 2, 3, 4,5])
summation

15

In [39]:
mul = reduce((lambda x, y: x*y), [1, 2, 3, 4,5])
mul

120

In [70]:
def sub(list1):
    tot = 0
    for i in list1:
        tot=tot-i
        print(tot)
    return tot

In [71]:
sub([1,2,3,4,5])

-1
-3
-6
-10
-15

-15

In [ ]:
list(summation)

TypeError: 'int' object is not iterable

In [2]:
from functools import reduce

my_list = [1,2,3,4,5,6,7,8,9,10]

In [4]:
list(map(lambda x: x*2>10, my_list))

[False, False, False, False, False, True, True, True, True, True]

In [6]:
list(filter(lambda x: (x*2 > 10), my_list))

[6, 7, 8, 9, 10]

In [9]:
reduce(lambda x, y : (x+y)*10, my_list)

3345679000

In [ ]:
# Use lambda function with `filter()`
filtered_list = list(filter(lambda x: (x*2 > 10), my_list))

# Use lambda function with `map()`
mapped_list = list(map(lambda x: x*2 , my_list))

# Use lambda function with `reduce()`
reduced_list = reduce(lambda x, y: x+y, my_list)

print(filtered_list)
print(mapped_list)
print(reduced_list)

[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
55

In [ ]:
# Using main() as a Function

In [ ]:
# In Java, a main function is required in order to execute functions. 
# this is not necessarily needed for Python. 
# However, including a main() function in your Python 
# program can be handy to structure your code in a logical way - all of 
# the most important components are contained within this main() function.

In [ ]:
# Define `main()` function
def main():
    print("This is a main function")

main()

This is a main function

In [ ]:
a=10
print(type(a))

<class 'int'>

In [85]:
v1, marks="Suresh", 78

In [88]:
f"How are you {v1}? you scored {marks}"

'How are you {v1}? you scored {marks}'

In [10]:
'How are you '+v1

'How are you Suresh'

In [43]:
def abcd(a,b,c,d=80):
    if a> d:
        raise Exception("marks should not be greater than out of marks")
    return ((a+b+c)/(d*3))*100

In [44]:
abcd(60,58,70)

78.33333333333333

In [47]:
def input_marks():
    sci = float(input("enter SCI marks"))
    math = float(input("Enter maths marks"))
    his = float(input("Enter histoty marks"))
    
    per = abcd(sci,math,his)
    return per

In [48]:
input_marks()

enter SCI marks67
Enter maths marks89
Enter histoty marks78

97.5

In [7]:
a1=20

In [8]:
f" hello  abc {a1}"

' hello  abc 20'

In [9]:
" hello  abc {}".format(a1)

' hello  abc 20'

In [2]:
def abc(a1):
    print("inside ABC", a1)
    return f" hello  abc {a1}"

def pqr(a2):
    print("inside PQR", a2)
    return f"pqr with new syntax {a2}"

def calling(a4):
    print("calling the inside function")
    var1=40
    return a4(var1)

In [3]:
abc(70)

inside ABC 70

' hello  abc 70'

In [4]:
pqr(50)

inside PQR 50

'pqr with new syntax 50'

In [5]:
val = calling(abc)

calling the inside function
inside ABC 40

In [10]:
type(val)

str

In [90]:
print(calling(abc))

calling the inside function
inside ABC 40
 hello  abc 40

In [8]:
val

' hello  abc 40'

In [ ]:
abc_run=calling(abc)

calling the inside function
inside ABC 10

In [ ]:
abc_run

' hello  abc 10'

In [ ]:
abc("ONLY ABC")

inside ABC ONLY ABC

' hello  abc ONLY ABC'

In [ ]:
print(type(abc))

<class 'function'>

In [20]:
print(calling(pqr))

calling the inside function
inside PQR 10
pqr with new syntax 10

In [ ]:
abc("10")

' hello  abc 10'

In [ ]:
def calling1(a):
    #print("calling the inside function")
    return a()

In [11]:
def super_fun(n):
    def sub_fun1():
        return "inside 1"
    def sub_fun2():
        return "inside 2"
    
    if n==1:
        return sub_fun1
    else: return sub_fun2

In [13]:
super_fun(1)

In [4]:
x=super_fun(1)
y=super_fun(4)
print(type(x))
print(x(), x)
print ("  #####  ")
print(y(), y)

<class 'function'>
inside 1 <function super_fun.<locals>.sub_fun1 at 0x000001CE328EFB80>
  #####
inside 2 <function super_fun.<locals>.sub_fun2 at 0x000001CE328EFCA0>

In [ ]:
print(x)
print(y)

<function super_fun.<locals>.sub_fun1 at 0x000001996718E840>
<function super_fun.<locals>.sub_fun2 at 0x000001996718E7B8>

In [20]:
def display(y ,x = 0, **name):
    #print (name["fname"]+" "+name["mname"]+" "+name["lname"])
    print ("x =", x)
    print ("y =", y)
    print(name)

In [21]:
display(2, one =10, two=200)

x = 0
y = 2
{'one': 10, 'two': 200}

In [13]:
display(2, fname ="John", mname ="F.", lname ="Kennedy", class_1 = "XI")
#display(2, ("Rina", "B.","Gennifer"))
#display(2, {fname:"Rina", mname:"B.",lname:"Gennifer"})
#display(2, ["Rina", "B.","Gennifer"])

x = 2
y = 0
{'fname': 'John', 'mname': 'F.', 'lname': 'Kennedy', 'class_1': 'XI'}

In [14]:
def details(x, **info):
    print(x)
    print(info)

In [16]:
details(100, p_class = 10, stream = "science", p_org = "ABG")

100
{'p_class': 10, 'stream': 'science', 'p_org': 'ABG'}

In [18]:
details(100, a=10)

100
{'a': 10}

In [22]:
main()

John F. Kennedy
x = 2
y = 0

NameError: name 'fname' is not defined

In [24]:
def accpt_dict(**a):
    print(a)

In [25]:
accpt_dict(a=100,b=200,c=400)

{'a': 100, 'b': 200, 'c': 400}

In [6]:
w= lambda x: (for i in x : (print i))

SyntaxError: invalid syntax (<ipython-input-6-7494012b9c06>, line 1)

In [7]:
listOfLambdas = [lambda i=i: i*i for i in range(1, 6)]

In [11]:
listOfLambdas
for f in listOfLambdas:
    print(f())

1
4
9
16
25

SyntaxError: invalid syntax (<ipython-input-9-4343ded61e61>, line 2)