In [10]:
list(range(5,100, 5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [5]:
range(20,100,5)

range(20, 100, 5)

In [3]:
num = list(range(10))

In [4]:
for i in num:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(20,100,5):
    print(i)

20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [5]:
for i in range(10, 100, 15):
    print(i)

10
25
40
55
70
85

In [16]:
sen= "This is my own laptop and mobile"

for i in sen:
    print(i , end="-")

T-h-i-s- -i-s- -m-y- -o-w-n- -l-a-p-t-o-p- -a-n-d- -m-o-b-i-l-e-

In [1]:
print("Hello")

Hello

In [3]:
#list
li=[1,3,"AT"]

In [4]:
#tuple
tu=(1,2,"art")

In [5]:
set1= {1,2,2,3}
set1

{1, 2, 3}

In [ ]:
dict1={"one":1, "TWO" : 2}

In [1]:
# Simple iterators
# list
def abc():
    for i in [1, 2, 3, 4]:
        b= i*4.5
        yield (b)
    #print(b)

In [2]:
a=abc()

In [6]:
next(a)

18.0

In [ ]:
b=10

In [1]:
str1= "python"

In [3]:
for b in str1:
    print(b , end ="")

python

In [16]:

for a in "python":
    print(a)

p
y
t
h
o
n

In [16]:

for a in "python":
    print(a)

p
y
t
h
o
n

In [13]:
# strings
for _ in "python":
    print(_, end = "*")

p*y*t*h*o*n*

In [2]:
_=10

In [3]:
_

10

In [4]:
# dictionary
for k in {"x": 1, "y": 2}:
    print(k)

x
y

In [9]:
dic = {1:"number", 2:"List", 3:"string"}
for k in dic:
    print(k,dic[k] )

1 number
2 List
3 string

In [11]:
for i in {1,2,3,3,3,4,4,4,4}:
    print(i)

1
2
3
4

In [5]:
# dictionary
dict1 = {"x": 1, "y": 2}
for k in dict1:
    print(k, dict1[k])

x 1
y 2

In [18]:
# sets
for _ in {1,2, 3,2,3,4,5,3,2}:
    print(_)

1
2
3
4
5

In [13]:
# tuples
for x in (1, 2,3,4,5):
    print(x*100)

100
200
300
400
500

In [6]:
a,b= 0,15
a,b

(0, 15)

In [7]:
while a<b:
    print(a)
    a=a+2

0
2
4
6
8
10
12
14

In [5]:
while True:
    print(a,b)
    a=a+2
    if a> b:
        break

0 15
2 15
4 15
6 15
8 15
10 15
12 15
14 15

In [7]:
a,b

(0, 15)

In [9]:
while a<b:
    print(a, "a is less than b =", b)
    b = b-1
    if b <10:
        break

0 a is less than b = 15
0 a is less than b = 14
0 a is less than b = 13
0 a is less than b = 12
0 a is less than b = 11
0 a is less than b = 10

In [22]:
while a < b:
    print(a, b)
    #a=a+1
    b=b-1

0 15
0 14
0 13
0 12
0 11
0 10
0 9
0 8
0 7
0 6
0 5
0 4
0 3
0 2
0 1

In [9]:
a,b = 0,100

In [10]:
while a<b:
    b = b-1
    if b%5== 0 or b%3==0:
        continue
    print("b =", b, end="\t")
    #print("...")

b = 98	b = 97	b = 94	b = 92	b = 91	b = 89	b = 88	b = 86	b = 83	b = 82	b = 79	b = 77	b = 76	b = 74	b = 73	b = 71	b = 68	b = 67	b = 64	b = 62	b = 61	b = 59	b = 58	b = 56	b = 53	b = 52	b = 49	b = 47	b = 46	b = 44	b = 43	b = 41	b = 38	b = 37	b = 34	b = 32	b = 31	b = 29	b = 28	b = 26	b = 23	b = 22	b = 19	b = 17	b = 16	b = 14	b = 13	b = 11	b = 8	b = 7	b = 4	b = 2	b = 1

In [22]:
a,b

(0, 0)

In [23]:
a,b = 0,100
while a<b:
    b = b-1
    if b%5== 0 or b%3==0:
        print("b =", b, end="\t")

b = 99	b = 96	b = 95	b = 93	b = 90	b = 87	b = 85	b = 84	b = 81	b = 80	b = 78	b = 75	b = 72	b = 70	b = 69	b = 66	b = 65	b = 63	b = 60	b = 57	b = 55	b = 54	b = 51	b = 50	b = 48	b = 45	b = 42	b = 40	b = 39	b = 36	b = 35	b = 33	b = 30	b = 27	b = 25	b = 24	b = 21	b = 20	b = 18	b = 15	b = 12	b = 10	b = 9	b = 6	b = 5	b = 3	b = 0

In [21]:
a,b=0,100
while a<b:
    b = b-1
    if b%5== 0 and b%3==0:
        print(" b =", b, end="   ")

 b = 90    b = 75    b = 60    b = 45    b = 30    b = 15    b = 0

In [20]:
b=100
l1 = []
while True:
    b=b-1
    if b%5==0 or b%3 ==0:
        #print("skipping", b)
        l1.append(b)
        continue
    
    if b <50:
        break    
    
    
    if b in (92,64):
        pass 
    else:
        print(b, end="\t")

98	97	94	91	89	88	86	83	82	79	77	76	74	73	71	68	67	62	61	59	58	56	53	52

In [27]:
l1

[99,
 96,
 95,
 93,
 90,
 87,
 85,
 84,
 81,
 80,
 78,
 75,
 72,
 70,
 69,
 66,
 65,
 63,
 60,
 57,
 55,
 54,
 51,
 50]

In [2]:
while a< b:
    print("a is less than b")
    a = a + 1
    print( a)

a is less than b
11
a is less than b
12
a is less than b
13
a is less than b
14
a is less than b
15

In [38]:
a, b=10, 20

In [39]:
while a<b:
    
    if(a ==b):
        print(a, "is equal to ", b)
        break
    else: 
        print("a and b is not equal ", a,b)
        a=a+1
        #b=b-1

a and b is not equal  10 20
a and b is not equal  11 20
a and b is not equal  12 20
a and b is not equal  13 20
a and b is not equal  14 20
a and b is not equal  15 20
a and b is not equal  16 20
a and b is not equal  17 20
a and b is not equal  18 20
a and b is not equal  19 20

In [ ]:
while True:
    a=b
    print("a and b is equal ")
    if(a !=b):
        break

In [20]:
'don\'t'

"don't"

In [12]:
print(r"\n abc\\D pwer\nqwe")

\n abc\\D pwer\nqwe

In [28]:
print(r"C:\Users\home\Desktop\abc.txt")

C:\Users\home\Desktop\abc.txt

In [15]:
print("C:\\Users\\home\\Desktop\\abc.txt")

C:\Users\home\Desktop\abc.txt

In [4]:
for line in open(r"C:\Users\Amrita\OneDrive\Desktop\ABCD.txt"):
    print(line)

Hi



this is for loop and iterators



New challanges are there



understand the concenpt

In [ ]:
r"\new folder\"

In [34]:
# reading a file
i = 0
for line in open(r"C:\Users\Amrita\OneDrive\Desktop\abc.txt"):
#for line in open ("C:\\Users\\User\\Desktop\\Machine Learning\\datasets\\cassandra-yaml.txt"):
    ##print(i)
    ## 2
    print (line)
    if i> 5:
        ##
        ##print (line)
        break
    else:
        i += 1
        ##print (line)
    ### 1 
    #print (line)

This is the new file

happy new year

happy makar sankranti

10

23

12

35

In [6]:
# reading a file
i = 0
for line in open("hello123.txt"):
#for line in open ("C:\\Users\\User\\Desktop\\Machine Learning\\datasets\\cassandra-yaml.txt"):
    #print(i)
    
    if i== 5: 
        #print (line)
        continue
    else:
        #print (line)
        i += 1
    print (line)

print("Out of the loop")

Next number is coming

Out of the loop

In [9]:
cnt = 0

for line in open("hello123.txt"):
    cnt=cnt+1
    if cnt%3 ==0:
        print(cnt, line)
    else:
        continue

3 this is the new file

6 xyz

9 merry X'mas

12 keep growing

In [7]:
for i in range(10):
    if (i%2==0):
        continue
    print(i)

1
3
5
7
9

In [36]:
print(a, b,sep="####")

0####-1

In [11]:
li = ["bhupesh",'naresh','suresh','seema']

list

In [13]:
for i in li:
    print(i, end=" ")

bhupesh naresh suresh seema

In [14]:
new_var = " ".join(li)

In [1]:
" ".join([1,2,3,4])

TypeError: sequence item 0: expected str instance, int found

In [ ]:
" ".join(['1','2','3','4'])

In [15]:
new_var

'bhupesh naresh suresh seema'

In [35]:
# functions consuming iterables
str1= "xxx".join(["a", "b", "c"])
print(str1)
" , ".join(["a", "b", "c"])

axxxbxxxc

'a , b , c'

In [16]:
"hello "+"how "+"are "+'you'

'hello how are you'

In [47]:
'hello'*4

'hellohellohellohello'

In [10]:
# functions consuming iterables
str1= ' abc '.join({'1', '2', '3'})
print(str1)

1 abc 2 abc 3

In [13]:
for i in ("1", '2','3'):
    print(i, end=" abc ")

1 abc 2 abc 3 abc

In [6]:
# functions consuming iterables
str1= ''.join(['1', '2', '3'])
print(str1)

123

In [19]:
str1= " ".join({"1":"a", "2":"b", "3":"c"})
str1

'1 2 3'

In [8]:
str.join("10XXX", "251")

'210XXX510XXX1'

Join works only for string type of data

In [16]:
str1= " Hi  ".join("ABC")
str1

'A Hi  B Hi  C'

In [48]:
str1= " ".join([1,"2","3"])
str1

TypeError: sequence item 0: expected str instance, int found

In [15]:
verb []
noun[]
adv[]
adj[]
stopword[a, the, an, and, or, is, was]

SyntaxError: invalid syntax (<ipython-input-15-718248334ba1>, line 1)

In [16]:
str1

'1 2 3'

In [17]:
str1= " ".join(["1", "2", "3"])

In [38]:
v= list("python 123 y")

In [41]:
"".join(v)

'python 123 y'

In [48]:
set("python    python  ")

{' ', 'h', 'n', 'o', 'p', 't', 'y'}

In [9]:
list("python    python  ")

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 ' ',
 ' ',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 ' ']

In [11]:
print(set("python python  "))

{'o', 'y', 't', 'h', 'p', 'n', ' '}

In [ ]:
iter()
next()

In [19]:
for i in range(5):
    print (i*10)

0
10
20
30
40

In [22]:
a=20

40

In [2]:
# Iterating Through an Iterator in Python
# Method 1
# define a list
my_list = [42123, 79780, 65780, 87793]

# get an iterator using iter()
my_iter = iter(my_list)
print(my_iter)
#for i in range(len(my_list)):
#    print(next(my_iter))
#next(my_iter)

<list_iterator object at 0x00000230E0045100>

In [7]:
next(my_iter)

StopIteration:

In [36]:
s=[12,13,15,12,21,41]

In [37]:
my_iter= iter(s)

In [44]:
next(my_iter)

StopIteration:

In [66]:
next(my_iter)

42123

In [71]:
next(iter(my_list))

42123

In [19]:
print(my_iter)

<list_iterator object at 0x0000023BE0E3F518>

In [38]:
for i in range(0,50,5):
    z=i*10
    print(z)

0
50
100
150
200
250
300
350
400
450

450

In [28]:
list1 = [i for i in range(0,50,5)]
list1

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [29]:
iter_obj = iter(list1)
iter_obj

In [40]:
next(iter_obj)

StopIteration:

In [47]:
next(iter_obj)*20

600

In [12]:
# reading a file
i = 0
for line in open("test.txt"):
#for line in open ("C:\\Users\\User\\Desktop\\Machine Learning\\datasets\\cassandra-yaml.txt"):
    ##print(i)
    print (line)
    if i== 5:
        break
    else:
        i += 1

0a

1b

2b

3b

4bc

5x

In [17]:
list(range(2))

[0, 1]

In [12]:
## iterate through it using next() 
## next(obj) is same as obj.__next__()

#print(next(my_iter))
#print(next(my_iter))
#print(next(my_iter))
#print(next(my_iter))

## This will raise error, no items left
next(my_iter)

StopIteration:

In [14]:
# Method 2
for item in my_list:
    print(item)

4
7
0
3

In [31]:
len(my_list)

4

In [72]:
iter_obj = iter(my_list)
while True:
    # get the next item
    element = next(iter_obj)
    print(element)

42123
79780
65780
87793

StopIteration:

In [65]:
# How the for loop is implemented
# create an iterator object from that iterable
iter_obj = iter(my_list)

# infinite loop
while True:
    try:
        # get the next item
        element = next(iter_obj)
        print(element)
    except StopIteration:
        # if StopIteration is raised, break from loop
        break

42123
79780
65780
87793

In [54]:
iter_obj = iter(my_list)

In [56]:
next(iter_obj)

79780

In [57]:
for i in range(len(my_list)):
    print(next(iter_obj))

65780
87793

StopIteration:

In [46]:
# How the for loop is implemented
# create an iterator object from that iterable

#iter_obj = iter(my_list)
# infinite loop

try:
    # get the next item
    element = next(iter_obj)
    print(element)
except StopIteration:
    # if StopIteration is raised, break from loop
    #break
    print("abc")

abc

In [2]:
# Build your own iterators
class PowTwo:
    """Class to implement an iterator
    of powers of two"""

    def __init__(self, max = 0):
        self.max = max

    def __iter__(self):
        self.n = 0
        return self

    def __next__(self):
        if self.n <= self.max:
            result = 2 ** self.n
            self.n += 1
            return result
        else:
            raise StopIteration

In [14]:
a = PowTwo(7)
i = iter(a)
type(i)

__main__.PowTwo

In [12]:
next(i)

StopIteration:

In [19]:
for i in PowTwo(5):
    print(i)

1
2
4
8
16
32

In [20]:
# Example - an iterator that works like built-in xrange function.
class myrange:
    def __init__(self, n):
        self.i = 0
        self.n = n

    def __iter__(self):
        return self

    def __next__(self):
        if self.i < self.n:
            i = self.i
            self.i += 1
            return i
        else:
            raise StopIteration()

In [21]:
y = myrange(4)

In [22]:
print(next(y))
print(next(y))
print(next(y))
print(next(y))

0
1
2
3

In [23]:
for i in myrange(4):
    print(i)

0
1
2
3

In [21]:
l1=[1,2,3,4,5,6]
a=iter(l1)

In [30]:
next(l1)

TypeError: 'list' object is not an iterator

In [1]:
# Example - an iterator that generate Fibbonacci numbers
class fibonacci:
    def __init__(self, max):
        self.max = max
        self.a = 0
        self.b = 1

    def __iter__(self):
        return self

    def __next__(self):
        
        fib = self.a
        
        if fib > self.max:
            raise StopIteration  
        
        self.a, self.b = self.b, self.a + self.b
        
        return fib

In [31]:
fib = fibonacci(15)

In [32]:
v = iter(fib)

In [20]:
next(v)

StopIteration:

In [27]:
for fib in fibonacci (100):
    print(fib)

0
1
1
2
3
5
8
13
21
34
55
89

In [4]:
# Using itertools
import itertools
from itertools import count
from itertools import islice
from itertools import cycle
from itertools import repeat
from itertools import accumulate
from itertools import chain
import operator

In [5]:
count()

count(0)

In [10]:
import itertools as it

In [1]:
from itertools import count, cycle, islice,repeat, accumulate, chain

In [4]:
# count(start=0, step=1)
for i in count(start = 10 ,step=2):
    if i > 16: 
        break
    else:
        print(i)

10
12
14
16

In [7]:
print(help(count()))

count()

Help on count object:

class count(builtins.object)
 |  count(start=0, step=1) --> count object
 |
 |  Return a count object whose .__next__() method returns consecutive values.
 |  Equivalent to:
 |
 |      def count(firstval=0, step=1):
 |          x = firstval
 |          while 1:
 |              yield x
 |              x += step
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

None

count(0)

In [4]:
# count(start=0, step=1)
for i in count(step =2):
    if i > 20: 
        break
    else:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [10]:
# count(start=0, step=1)
from itertools import count, islice
for i in count(10, 5):
    if i > 30: 
        break
    else:
        print(i)

10
15
20
25
30

In [10]:
l1 = [10,20,304,50,2,2,4,10,7]

In [11]:
l1[3:8]

[50, 2, 2, 4, 10]

In [14]:
list(islice(l1,3,8))

[50, 2, 2, 4, 10]

In [13]:
from itertools import count, islice
list(islice([1,10,2,20,3,30,4,40,5,50],3,8))

[20, 3, 30, 4, 40]

In [14]:
list(islice([l1],3,8))

[]

In [8]:
list(islice("A new start",2, 7))

['n', 'e', 'w', ' ', 's']

In [35]:
s= "A new start"
s[2:7]

'new s'

In [17]:
for i in islice(count(10,5),40,45):
    print(i)

210
215
220
225
230

In [20]:
# count(start=0, step=1)
# cond argument to islice is when to stop iterating
for i in islice(count(0, 4), 10,15):
    print(i, end = "---")

40---44---48---52---56---

In [64]:
# count(start=0, step=1)
# cond argument to islice is when to stop iterating
for i in islice([-10, -5, 4,5,6,2,-46,-34],3,6):
    print(i, end ="  ")

5  6  2

In [68]:
string1= "THis is new file"
for i in islice(string1,3, 10):
    print(i, end="")

s is ne

In [69]:
for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
for i in range(1,5):
    print(i)

1
2
3
4

In [72]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
next(li1_obj)

10

### The Python itertools module is a collection of tools for handling iterators. 
        Simply put, iterators are data types that can be used in a for loop. The most common iterator in Python is the   list.

In [103]:
import itertools

In [32]:
from itertools import cycle
count = 13
for item in cycle('XYZ'):
    if count > 17:
        break
    print(item, count)
    count += 1

X 13
Y 14
Z 15
X 16
Y 17

In [22]:
shapes = ['triangle', 'square', 'pentagon', 'rectangle']
cycle_obj = cycle(shapes)

In [19]:
### object
cycle_obj

In [28]:
next(cycle_obj)

'square'

In [72]:
shapes = ['triangle', 'square', 'pentagon', 'rectangle']
itr = iter(shapes)

In [78]:
itr

In [77]:
next(itr)

StopIteration:

In [66]:
# The repeat iterators will return an object an object over and over again 
# forever unless you set its times argument. 
# It is quite similar to cycle except that it doesn’t cycle over a set of 
# values repeatedly.
from itertools import repeat
repeat_obj = repeat("q20034",3)

In [67]:
repeat_obj

repeat('q20034', 3)

In [71]:
next(repeat_obj)

StopIteration:

In [42]:
repeat_obj = repeat("q20034", 6)

In [28]:
# accumulate
# It adds each of them in turn
from itertools import accumulate
iterator = accumulate(range(1, 10, 2))

In [30]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [31]:
list(iterator)

[1, 4, 9, 16, 25]

In [30]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [1]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [82]:
list(range(2,40,3))

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38]

In [83]:
# accumulate
# It adds each of them in turn
from itertools import accumulate
iterator1 = accumulate([2, 5, 8, 11, 14, 17])
list(iterator1)

[2, 7, 15, 26, 40, 57]

In [95]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [94]:
# accumulate
# It adds each of them in turn
iterator1 = accumulate(range(0,6))
list(iterator1)

[0, 1, 3, 6, 10, 15]

In [35]:
input("calculator")

calculator12+35*20

'12+35*20'

In [41]:
iterator

In [70]:
list(iterator)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

In [59]:
range(10)

range(0, 10)

In [85]:
import operator
from itertools import accumulate
#  (1×1=1, 1×2=2, 2×3=6, 6x4=24 ).
list(accumulate(range(1,5), operator.mul))

[1, 2, 6, 24]

In [104]:
list(accumulate(range(1,5), '*' ))

SyntaxError: invalid syntax (<ipython-input-104-18050fb7adf5>, line 1)

In [86]:
list(range(5)) + list(range(10,50,4))

[0, 1, 2, 3, 4, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]

In [93]:
b =list(range(10,15))
b

[10, 11, 12, 13, 14]

In [94]:
a =list(range(7))
a

[0, 1, 2, 3, 4, 5, 6]

In [95]:
list(zip(list(range(5)), list(range(10,15))))

[(0, 10), (1, 11), (2, 12), (3, 13), (4, 14)]

In [91]:
dict(zip(list(range(5)), list(range(10,15))))

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14}

In [105]:
list(zip([1,2,3],{'1':10,'2':20,'3':30}))

[(1, '1'), (2, '2'), (3, '3')]

In [97]:
# chains
# will take a series of iterables and basically flatten them down into 
# one long iterable.
my_strings = {'foo', 'bar'}
my_strings

{'bar', 'foo'}

In [98]:
my_nos = list(range(5))
my_nos

[0, 1, 2, 3, 4]

In [99]:
name = ("LILA","SHEELA","NINA")

In [100]:
d1={2:20,4:40, 6:60}

In [101]:
from itertools import chain
for i in chain(my_strings,my_nos,name, d1):
    print(i)

foo
bar
0
1
2
3
4
LILA
SHEELA
NINA
2
4
6

In [103]:
list(chain(my_strings, my_nos,d1))

['foo', 'bar', 0, 1, 2, 3, 4, 2, 4, 6]

In [113]:
# compress sub-module 
from itertools import compress
letters = 'ABCDEF'
bools = (False, 90, True,False ,"element", False)

In [114]:
list(compress(letters, bools))

['B', 'C', 'E']

In [115]:
list(compress(bools, letters))

[False, 90, True, False, 'element', False]

In [39]:
letters = 'ABCDEFG'
bools = 'xyz'

In [114]:
list(compress( bools,letters))

['x', 'y', 'z']

In [115]:
list(compress( letters, bools))

['A', 'B', 'C']

In [10]:
from itertools import compress
let = 'ABCD'
bo = ['1',False,'3',True,"5","6","7","R8" ]

In [11]:
list(compress(let,bo))

['A', 'C', 'D']

In [12]:
list(compress(bo,let))

['1', False, '3', True]

In [17]:
str1= " ".join({"1":"a", "2":"b", "3":"c"})
str1

'1 2 3'

In [118]:
# dropwhile(predicate, iterable)
# Here we create a simple function in Python’s interpreter. 
# This function is our predicate or filter. 
# If the values we pass to it are True, then they will get dropped

from itertools import dropwhile
list(dropwhile(lambda x: x<5, [1,2,3,1,4,-1,5,7,1,5,2,4]))

[5, 7, 1, 5, 2, 4]

In [123]:
def greater_than_five(a):
    return a<5

In [124]:
greater_than_five(10)

False

In [125]:
list(dropwhile(greater_than_five, [1,2,5,7,1,5,2,4]))

[5, 7, 1, 5, 2, 4]

In [ ]:
while true:
    if a==b:
        break

In [14]:
# filterfalse(predicate, iterable)
from itertools import filterfalse
def greater_than_five(x):
    return x > 5

In [17]:
from itertools import accumulate

In [18]:
accumulate()

TypeError: accumulate() missing required argument 'iterable' (pos 1)

In [15]:
greater_than_five(40)

True

In [16]:
list(filter(greater_than_five, [6, 7, 8, 9, 1, 2, 3, 10]))

[6, 7, 8, 9, 10]

In [127]:
list(filterfalse(greater_than_five, [6, 7, 8, 9, 1, 2, 3, 10]))

[1, 2, 3]

In [56]:
list(filterfalse(lambda x: x>5, [1,4,6,4,1]))

[1, 4, 4, 1]

In [41]:
# groupby(iterable, key=None)
# The groupby iterator will return consecutive keys and groups from your iterable.

from itertools import groupby
vehicles = [('Ford', 'Taurus'), ('Dodge', 'Durango'),
            ('Chevrolet', 'Cobalt'), ('Ford', 'F150'),
            ('Dodge', 'Charger'), ('Ford', 'GT')]

sorted_vehicles = sorted(vehicles)
sorted_vehicles

[('Chevrolet', 'Cobalt'),
 ('Dodge', 'Charger'),
 ('Dodge', 'Durango'),
 ('Ford', 'F150'),
 ('Ford', 'GT'),
 ('Ford', 'Taurus')]

In [43]:
for key, group in groupby(sorted_vehicles, lambda make: make[1]):
    print(key,group)
    for make, model in group:
        print(make,model)
        print('{model} is made by {make}'.format(model=model,make=make))
print ("**** END OF GROUP ***\n")

Cobalt <itertools._grouper object at 0x000001CC3FD07DF0>
Chevrolet Cobalt
Cobalt is made by Chevrolet
Charger <itertools._grouper object at 0x000001CC3FD0F040>
Dodge Charger
Charger is made by Dodge
Durango <itertools._grouper object at 0x000001CC3FD0FA30>
Dodge Durango
Durango is made by Dodge
F150 <itertools._grouper object at 0x000001CC3FD0FD90>
Ford F150
F150 is made by Ford
GT <itertools._grouper object at 0x000001CC3FD0F970>
Ford GT
GT is made by Ford
Taurus <itertools._grouper object at 0x000001CC3FCC56A0>
Ford Taurus
Taurus is made by Ford
**** END OF GROUP ***

In [4]:
name="Nikhil"
number ="02-02-2001"

In [10]:
x="{:.4s}".format(name)      
y="{:.2s}".format(number)      
z= "%s"%number[3:5]   
password = x+""+y+""+z

In [11]:
password

'Nikh0202'

In [6]:
li1 = ["a","B",10,20,"100","C"]

In [7]:
li1_obj = iter(li1)

In [14]:
next(li1_obj)

StopIteration: