# Database connection
SQLite is open source embeded database (does not require any server for database)

## How to download
    Steps: 
    1) https://www.sqlite.org/download.html

    2) sqlite-tools-win32-x86-3290000.zip (1.71 MiB)

    3) unzip the file 
    
    4) create sqlite folder on C drive and copy all files into C:\sqlite
    
    5) set environment variable
    
    6)run cmd
    
    7)type sqlite
    
    8)quit to exit

#### Database contains tables and tables contains data

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('E:\\SQLDB\\movie.db')

In [3]:
c=conn.cursor()

def create_table(tname, col_name, col_type):
    col_name = ['rollno','stname', 'class']
    col_type =["text","text","text"]
    c.excecute("CREATE TABLE IF NOT EXISTS tname(col_name[0]  col_type[0], stname text, class text, dob date)")

def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS movie_genres(genres TEXT )")

create_table()

In [5]:
c.execute("CREATE TABLE IF NOT EXISTS movie_genres(genres TEXT )") ### DDL

In [15]:
## DML
c.execute("INSERT INTO MOVIE_GENRES VALUES ('Action')")
c.execute("INSERT INTO MOVIE_GENRES VALUES ('Horror')")
conn.commit()

In [17]:
c.execute("select * from movie_genres")

In [18]:
var = c.fetchall()

In [19]:
var

[('Action',),
 ('Horror',),
 ('Animation',),
 ('Drama',),
 ('Action',),
 ('Horror',),
 ('Action',),
 ('Horror',),
 ('Action',),
 ('Horror',)]

In [11]:
import pandas as pd

In [22]:
dataf=pd.read_sql("select * from movie_genres",conn)

In [23]:
## data frame
dataf

      genres
0     Action
1     Horror
2  Animation
3      Drama

In [14]:
def data_entry():
    a=input("Enter values : ")
    c.execute("INSERT INTO MOVIE_GENRES VALUES ('"+a+"')")
    conn.commit()
    #c.close()
    #conn.close

In [20]:
data_entry()

Enter values : Drama

In [24]:
"insert into customer()values ('{}','{}','{}','{}','{}')".format('009','amd','cmv','908978','2000-09-09')

"insert into customer()values ('009','amd','cmv','908978','2000-09-09')"

In [ ]:
## commit will save changes

In [44]:
c.execute("INSERT INTO movie_genres VALUES ('animation')")
conn.commit()

In [45]:
type(dataf)

pandas.core.frame.DataFrame