cd C:\Program Files\Python37\Scripts


###python -m pip install mysql-connector

!pip install mysql-connector

Pycharm :  cmd             : pip install MySQL-connector-python

Jupyter :  Anaconda Prompt : conda install MySQL-connector-python

In [ ]:
!pip install mysql-connector

## Oracle connectivity with python:
pip install cx_Oracle
 
 #### Find out connection information from
 tnsnames.ora
 
 #### Python coding
 
 import cx_Oracle

dsn_tns = cx_Oracle.makedsn('Host Name', 'Port Number', service_name='Service Name') 

conn = cx_Oracle.connect(user=r'User Name', password='Personal Password', dsn=dsn_tns) 

c = conn.cursor()

In [3]:
!pip install MySQL-connector-python

Collecting MySQL-connector-python
  Downloading mysql_connector_python-8.0.25-cp38-cp38-win_amd64.whl (794 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-py2.py3-none-any.whl (173 kB)
Requirement already satisfied: six>=1.9 in c:\users\amrita\anaconda3\lib\site-packages (from protobuf>=3.0.0->MySQL-connector-python) (1.15.0)
Installing collected packages: protobuf, MySQL-connector-python
Successfully installed MySQL-connector-python-8.0.25 protobuf-3.17.3

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(host="localhost",database="sakila", user="root",passwd="MySQL@2021")

#mydb = mysqlcon.connect(host="localhost", database="sakila" ,user="root", passwd="Sql@2020")

In [4]:
c=mydb.cursor()

In [6]:
c.execute("select * from sakila.actor")

In [7]:
records = c.fetchall()

In [14]:
records[1][3]

datetime.datetime(2022, 10, 17, 12, 17, 50)

In [6]:
type(records)

list

In [10]:
type(records[1])

tuple

In [8]:
records

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (201, 'Sonam', 'Kapoor', datetime.datetime(2009, 2, 14, 0, 0)),
 (202, 'Sonam', 'Kapoor', datetime.datetime(2009, 2, 14, 0, 0))]

In [8]:
db = mysql.connector.connect(host="localhost",database="college", user="root",passwd="MySQL@2021")
c=db.cursor()
valdation()
c.execute("select * from college.students")
rec = c.fetchall()[1][0]
print(rec)
c.execute('insert into college.students() values("Nikita",90)')
db.commit()

ProgrammingError: 1049 (42000): Unknown database 'college'

In [ ]:
###  update table_name set col_name = 'new_val' where col_name ='cur_val'

In [12]:
c.execute("update sakila.actor set first_name = 'NIKHIL' where first_name = 'NICK' and actor_id = 2 ")
mydb.commit()

In [11]:
c.column_names

()

In [12]:
c.description

In [15]:
from mysql.connector import Error

In [13]:
import sys
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='sakila',
                                         user='root',
                                         password='MySQL@2021')

    sql_select_Query = "select * from actor where first_name like 'N%'"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    print("Total number of Students is: ", cursor.rowcount)

    print("\nPrinting Student's record")
    for row in records:
        #try:
            print("ID = ", row[0], )
            print("First Name = ", row[1])
            print("Last name  = ", row[5])
            print("Last update  = ", row[3], "\n")
        #except IndexError:
            #print(sys.exc_info()[1])

except IndexError:
    print(sys.exc_info()[1])
except Error as e:
    print("Error reading data from MySQL table", e)
    print(sys.exc_info()[1])
finally:
    if (connection.is_connected()):
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of Students is:  4

Printing Student's record
ID =  2
First Name =  NIKHIL
tuple index out of range
MySQL connection is closed

In [20]:
import pandas as pd

In [23]:
df = pd.read_sql("select * from actor",mydb)

In [24]:
df

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33
200       201      Sonam        Kapoor 2009-02-14 00:00:00
201       202      Sonam        Kapoor 2009-02-14 00:00:00

[202 rows x 4 columns]

In [9]:
df[["student_id","admission_date"]]

   student_id admission_date
0           1     2020-01-01
1           2     2020-01-01
2           3     2019-01-01
3           5     2005-03-20
4           6     2005-03-20

## SQL -SERVER

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\amrita\anaconda3\lib\site-packages (4.0.0-unsupported)

In [2]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=database_name;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM database_name.table')

for row in cursor:
    print(row)

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')