# def arithmatic(a,b):
    p=a+b
    q=a-b
    r=a*b
    s=a/b
    t=a**b
    return p, q,r,s,t

In [2]:
arithmatic(4,2)

(6, 2, 8, 2.0, 16)

In [7]:
a = 1,2,3

In [8]:
type(a), a, id(a)

(tuple, (1, 2, 3), 2818834261312)

In [4]:
a = 30,40

In [6]:
a, id(a)

((30, 40), 2818833398208)

In [5]:


# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)

A tuple of numbers: (33, 55, 77)
A tuple of mixed numbers: (33, 3.3, (3+3j))
A tuple of mixed data types: (33, '33', [3, 3])
A tuple of tuples: (('x', 'y', 'z'), ('X', 'Y', 'Z'))

In [3]:
tup1=(11,)
type(tup1)

tuple

In [1]:
# empty tuple
tup1 = ()

# a tuple with single data item
tup2 = (99,)

# tuple of strings
tup3 = ("hi", "hello", "bye")

# tuple of int, float, string
tup4 = (1, 2.8, "Hello World")

# tuple of string and list
tup5 = ("Book", [1, 2, 3])

# tuples inside another tuple
# nested tuple
tup6 = ((2, 3, 4), (1, 2, "hi"))

In [2]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)

A blank tuple: ()

In [2]:
a=11,22,33,44
print(a)
type(a)

(11, 22, 33, 44)

tuple

In [3]:
# create a tuple without using round brackets
py_tuple = 33, 55, 77
print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

A tuple set without parenthesis: (33, 55, 77) type: <class 'tuple'>

In [4]:
py_tuple[0]=44

TypeError: 'tuple' object does not support item assignment

In [4]:
# creating a tuple from a set
py_tuple = tuple({33, 55 , 77})
print(type(py_tuple))

py_tuple

<class 'tuple'>

(33, 77, 55)

In [8]:
a=(1,2,3,4)
b=list(a)

In [6]:
# creating a tuple from a list
a= tuple([33, 55 , 77])
type(a)
a

(33, 55, 77)

In [7]:
a=[1,2,3,4]
tip_a= tuple(a)
tip_a

(1, 2, 3, 4)

In [9]:
# A single element surrounded by parenthesis will create a string instead of a tuple
py_tuple = (22,)
type(py_tuple)

tuple

In [11]:
abc = (30)
type(abc)

tuple

In [4]:
# You need to place a comma after the first element to create a tuple of size "one"
py_tuple = ('single',)
type(py_tuple)

tuple

In [13]:
# You can use a list of one element and convert it to a tuple
py_tuple = tuple(['single'])
type(py_tuple)

tuple

In [14]:
# You can use a set of one element and convert it to a tuple
py_tuple = tuple({'single'})
type(py_tuple)

tuple

In [ ]:
# accessing first element

# Via Indexing
# The simplest is the direct access method where you use the index operator
# [] to pick an item from the tuple. 
# You can start indexing from the 0th position.

In [10]:
vowel_tuple = ('a','e','i','o','u')

print("The tuple:", vowel_tuple, "Length:", len(vowel_tuple))

# Indexing the first element
print("OP(vowel_tuple[0]):", vowel_tuple[0])

# Indexing the last element
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) - 1])
vowel_tuple[-1]

The tuple: ('a', 'e', 'i', 'o', 'u') Length: 5
OP(vowel_tuple[0]): a
OP(vowel_tuple[length-1]): u

'u'

In [12]:
print("OP(vowel_tuple[length-1]):", vowel_tuple[-1])

OP(vowel_tuple[length-1]): u

In [12]:
print(vowel_tuple[len(vowel_tuple)-1])

u

In [20]:
# Indexing a non-existent member
# will raise the IndexError
try:
    print(vowel_tuple[len(vowel_tuple)+1])
except Exception as ex:
    print("OP(vowel_tuple[length+1]) Error:", ex)

OP(vowel_tuple[length+1]) Error: tuple index out of range

In [13]:
vowel_tuple[0.0]

TypeError: tuple indices must be integers or slices, not float

In [14]:
# Indexing with a non-integer index
# will raise the TypeError
try:
    print(vowel_tuple[0.0])
except Exception as ex:
    print("OP(vowel_tuple[0.0]) Error:", ex)

OP(vowel_tuple[0.0]) Error: tuple indices must be integers or slices, not float

In [15]:
# Indexing in a tuple of tuples
t_o_t = (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'),(2,4,8,9))

# Accessing elements from the first  tuple
print("OP(t_o_t[0][1]):", t_o_t[0:2])

# Accessing elements from the second sub tuple
print("OP(t_o_t[1][2]):", t_o_t[1][2])

OP(t_o_t[0][-1]): (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'))
OP(t_o_t[1][2]): wed

In [32]:
# Via Reverse Indexing

# The reverse indexing works in the following manner.
    # The index -1 represents the last item.
    # An index with value -2 will refer to the second item from the rear end.

In [22]:
vowels = ('a','e','i','o','u')
vowels

print(vowels[-1])
print(vowels[-2])
print(vowels[-5])

u
o
a

In [ ]:
# Via Slicing Operator

In [2]:
# If you need to access not one but more than one element from a tuple, 
# then Python’s slicing operator can come to use.

# The single colon, i.e., a “:” represents the slicing operator in Python.

In [12]:
weekdays = ('mon', 'tue', 'wed' ,'thu', 'fri', 'sat', 'sun')
weekdays, id(weekdays)

(('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'), 2818834187744)

In [16]:
weekdays

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [20]:
weekdays[-1: -3]

()

In [22]:
weekdays[-3:]

('fri', 'sat', 'sun')

In [23]:
weekdays[-3:-1]

('fri', 'sat')

In [14]:
weekdays[::-1]

('sun', 'sat', 'fri', 'thu', 'wed', 'tue', 'mon')

In [6]:
weekdays[::-1], id(weekdays[::-1])

(('sun', 'sat', 'fri', 'thu', 'wed', 'tue', 'mon'), 1657826023648)

In [9]:
weekdays[1]

'tue'

In [10]:
# accessing elements leaving the first one
weekdays[1:]

('tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [11]:
# accessing elements between the first and fifth positions
# excluding the ones at the first and fifth position
weekdays[1:5]

('tue', 'wed', 'thu', 'fri')

In [12]:
# accessing elements after the fifth position
weekdays[5:]

('sat', 'sun')

In [6]:
weekdays

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [7]:
# accessing elements that appears after
# counting five from the rear end
weekdays[:-5]

('mon', 'tue')

In [13]:
# accessing five elements from the rear
weekdays[-5:-2]

('wed', 'thu', 'fri')

In [19]:
# accessing elements from the start to end
weekdays[:]

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [46]:
# Similar to list and strings we can use negative indexes to access the tuple 
# elements from the end.
# -1 to access last element, -2 to access second last and so on.
my_data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(my_data[-1])

# prints 2
print(my_data[-3])

8.9
2

In [14]:
# Accessing elements from nested tuples
my_data = (1, "Steve", (11, 22, 33))


print(my_data[1][3])

print(my_data[2][1])

v
22

In [10]:
# changing the tuple element
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of tuple
# This is not valid since tuple elements are immutable
# TypeError: 'tuple' object does not support item assignment
#my_data[0] = 50
my_data[1][0] = 101
#my_data[1] = 101
#set(my_data[1])
#my_data[1].pop()
#a =list( my_data[2])
#a[2]="l"
#print(a)
#my_data[2][1]='a'
my_data

(1, [9, 8, 7], 'World')

(1, [101, 8, 7], 'World')

In [8]:
my_data = (1, [9, 8, 7], "World")
print(my_data)

(1, [9, 8, 7], 'World')

In [13]:
del my_data[1][0]

In [15]:
my_data[1].clear()

In [16]:
del my_data[1]

(1, [], 'World')

In [17]:
my_data[1].append(20)
my_data[1].clear()

In [18]:
my_data

(1, [], 'World')

In [19]:
my_data[1].extend([1,2,3])

In [6]:
my_data[1][:]=[12,0,0,1,2]
my_data

(1, [12, 0, 0, 1, 2], 'World')

In [13]:
# changing the tuple element, which are mutable
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of the list
# this is valid because list is mutable
my_data[1][2] = 99
print(my_data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

In [27]:
# deleting tuple elements
my_data = (1, 2, 3, 4, 5, 6)
print(my_data)

# not possible
# error
# del my_data[2]

# deleting entire tuple is possible
del my_data

(1, 2, 3, 4, 5, 6)

In [28]:
my_data

NameError: name 'my_data' is not defined

In [8]:
# Slicing operation in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(my_data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(my_data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(my_data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print("from 4 to -1 ",my_data[4:-1])

# displaying entire tuple
print(my_data[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
from 4 to -1  (55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)

In [23]:
# Membership Test in Tuples
# in: Checks whether an element exists in the specified tuple.
# not in: Checks whether an element does not exist in the specified tuple.
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
True
False
False
True

In [21]:
a=10
b=20
a is b

False

In [52]:
# Iterating a tuple
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

In [26]:
# tuple methods
my_tuple = ('a','p','p','l','e','p')

# Count
print(my_tuple.count('p'))

# Index
print(my_tuple.index('p'))

3
1

In [10]:
# How Can You Delete A Tuple
py_tuple = (['p','a'], 'y', 't', 'h', 'o', 'n')
#a =list (py_tuple)
#print(a)

del py_tuple[0][1]

In [11]:
py_tuple

(['p'], 'y', 't', 'h', 'o', 'n')

In [20]:
py_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# you can't delete a particular item from a tuple
try:
    del py_tuple[0]
except Exception as ex:
    print("OP(del py_tuple[0]) Error:", ex)

OP(del py_tuple[0]) Error: 'tuple' object doesn't support item deletion

In [56]:
# but you can delete a whole tuple
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) => Error:", ex)

print(py_tuple) => Error: name 'py_tuple' is not defined