In [2]:
#### empty set
s=set([])
type(s)

set

In [1]:
%%time
# set of integers
my_set = {1,5,"x",7,0,3,4, 3, 3 ,3,"a" ,1.5}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{0, 1, 1.5, 3, 4, 5, 'a', 7, 'x'}
{1.0, (1, 2, 3), 'Hello'}
Wall time: 0 ns

In [1]:
n={12,23,1,(110,220,330)}
n

{(110, 220, 330), 1, 12, 23}

In [2]:
a={}
type(a)

dict

In [4]:
emp_set=set({})
print(type(emp_set))
emp_set.add(10)
emp_set

<class 'set'>

{10}

In [1]:
emp_set=set([])
emp_set.add(10)
emp_set

{10}

In [3]:
emp_set.add("A")

In [4]:
emp_set

{10, 'A'}

In [7]:
a={2,2,2,243,4,4,4}
a

{2, 4, 243}

In [5]:
my_set = {'a', 'r', 'e', 'i', 'i'}
print(my_set)
## not possible to check details or occurance of the element
a=list(my_set)
a

{'r', 'i', 'a', 'e'}

['r', 'i', 'a', 'e']

In [6]:
my_set.add("new")

In [9]:
my_set.update(['a','d','x'])

In [10]:
my_set

{'a', 'd', 'e', 'i', 'new', 'r', 'x'}

In [7]:
str = 'kfkfk'

In [8]:
my_set

{'a', 'e', 'i', 'r'}

In [3]:
# initialize my_set
my_set = {1,2,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add()
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update({2,3,4,5,10})
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 2, 3}
{'hi', 1, 2, 3}
{1, 2, 3, 4, 5, 10, 'hi'}
{1, 2, 3, 4, 5, 6, 8, 10, 'hi'}

In [4]:
# remove elements from a set
# A particular item can be removed from set using methods, 
# discard() and remove().

# The only difference between the two is that, while using discard() 
# if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition.

In [1]:
# initialize my_set
my_set = {1,2, 3, 4, 5, 6,(1,2)}
print(my_set)

{1, 2, 3, 4, 5, 6, (1, 2)}

In [2]:
my_set.add((90,30))
my_set

{(1, 2), (90, 30), 1, 2, 3, 4, 5, 6}

In [5]:
my_set.update([10,20,(20,10)])
my_set

{(1, 2), (20, 10), (90, 30), 1, 10, 2, 20, 3, 4, 5, 6}

In [11]:
my_set.update([20,10])
my_set

{10, 20, 'a', 'd', 'e', 'i', 'new', 'r', 'x'}

In [17]:
# discard an element
my_set.discard(6)
print("this is my set", my_set)

this is my set {'a', 'e', 'd', 'x', 'r', 10, 'i', 20, 'new'}

In [13]:
my_set

{10, 20, 'a', 'd', 'e', 'i', 'new', 'r', 'x'}

In [14]:
# remove an element
my_set.remove(6)
print(my_set)

KeyError: 6

In [16]:

# discard an element
# not present in my_set

my_set.discard(2)
print(my_set)

{1, 3, 4, 5}

In [17]:
# remove an element
# not present in my_set
# Output: KeyError: 2

my_set.remove(2)

KeyError: 2

In [32]:
my_set

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [27]:
# pop() and clear()
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
my_set

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [33]:
print(my_set)

{'e', 'd', 'r', 'o', 'H', 'l', 'W'}

In [36]:

# pop another element

a=my_set.pop()
print(my_set)
print(a)
my_set

{'o', 'H', 'l', 'W'}
r

{'H', 'W', 'l', 'o'}

In [23]:
print(my_set)

{'e', 'o', 'd', 'r', 'l', 'H'}

In [20]:

# pop an element
print(my_set.pop())

d

In [21]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [1]:
# Python Set Operations
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8,'a'}

print(A | B)

{'a', 1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [16]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [17]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [3]:
# INTERSECTION
# initialize A and B
A = {(1,2,("A","B","C")),1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8,(1,2,("A","B"))}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [38]:
A.intersection(B)

{4, 5}

In [35]:
B.intersection(A)

{4, 5}

In [4]:
# Set Difference
# initialize A and B
A = {1, 2, 3, 4, 5, "SS"}
B = {4, 5, 6, 7, 8, "SS"}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [50]:
A.difference(B)

{1, 2, 3}

In [5]:
B.difference(A), B-A

({6, 7, 8}, {6, 7, 8})

In [35]:
# Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [20]:
# Iterating Through a Set
for letter in set("apple"):
     print(letter)

l
p
a
e

In [3]:
a='this is a Machine Learning class , ML is very interesting'

NameError: name 'h1' is not defined

In [1]:
len(set("apple"))

4

In [2]:
len(list("apple"))

5