In [1]:
a=10
print(type(a))

<class 'int'>

In [2]:
# empty list
my_list = []

# list of integers
my_list1 = [1,1, 2, 3]

# list with mixed datatypes
my_list2 = [1, "Hello", 3.4]

# nested list
n_list = ["Happy", [2,0,1,5]]

In [3]:
len(n_list)

2

In [4]:
name="Subramaniyam"
len(name)

12

In [5]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
print ("I have", len(shoplist), 'items to purchase.')

##print('These items are:', end=' :ML-CLASS: ')
# print('These items are:')

I have 4 items to purchase.

In [8]:
for item in shoplist:
    print(item, end=" ")
    #print(item)

apple mango carrot banana

In [10]:
list1= [100,140,1000,5000]
for i in list1:
    print(i+150)

250
290
1150
5150

In [11]:
list1[0]

100

In [14]:
type(shoplist)

list

In [6]:
shoplist

['apple', 'mango', 'carrot', 'banana']

In [18]:
shoplist.append("Grapes")
shoplist

['apple', 'mango', 'carrot', 'banana', 'Grapes', 'Grapes']

In [7]:
shoplist.append(100)
shoplist

['apple', 'mango', 'carrot', 'banana', 'Grapes', 100]

In [21]:
shoplist.append([1,2,3,4])
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Grapes',
 'Grapes',
 1,
 2,
 3,
 4,
 'T',
 'a',
 'm',
 'a',
 'r',
 'i',
 'n',
 'd',
 [1, 2, 3, 4]]

In [7]:
shoplist.extend(["Tamarind"])
shoplist

['apple', 'mango', 'carrot', 'banana', 'Tamarind']

In [8]:
shoplist.extend("Tamarind")
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Tamarind',
 'T',
 'a',
 'm',
 'a',
 'r',
 'i',
 'n',
 'd']

In [10]:
shoplist.extend(["rice","wheat","sugar"])

In [11]:
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Grapes',
 100,
 '1',
 '0',
 '0',
 'NEW',
 'rice',
 'wheat',
 'sugar']

In [12]:
shoplist.append(["cake","bread","Salt"])
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Grapes',
 100,
 '1',
 '0',
 '0',
 'NEW',
 'rice',
 'wheat',
 'sugar',
 ['cake', 'bread', 'Salt']]

In [13]:
shoplist.append((1,2,3))
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Grapes',
 100,
 '1',
 '0',
 '0',
 'NEW',
 'rice',
 'wheat',
 'sugar',
 ['cake', 'bread', 'Salt'],
 (1, 2, 3)]

In [10]:
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Tamarind',
 'T',
 'a',
 'm',
 'a',
 'r',
 'i',
 'n',
 'd']

In [15]:
# By default python’s print() function ends with a newline. 
# how to print without newline.

# Python’s print() function comes with a parameter called ‘end’. 
# By default, the value of this parameter is ‘\n’, i.e. the new line character. 
# You can end a print statement with any character/string using this parameter.
# ends the output with a <space> 
print("Welcome to", end = ' DS ' ) 
print(" GeeksforGeeks")

Welcome to DS  GeeksforGeeks

In [16]:
print("Welcome to", end = " " ) 
print("GeeksforGeeks")

Welcome to GeeksforGeeks

In [12]:
new_list=[1,2,3,4]

In [13]:
shoplist.extend(new_list)

In [14]:
# append to list
# add one item to a list using append() method or 
# add several items using extend()
print('\nI also have to buy rice.')

shoplist.append('rice')
print('My shopping list is now', shoplist)

shoplist.extend(['table', 'chair', 'pen'])
print('My shopping list is now`', shoplist)

# use + operator to combine two lists. This is also called concatenation.
shoplist1 = ['a', 'b', 'c']

shoplist = shoplist + shoplist1
print('My shopping list is now', shoplist)

I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice']
My shopping list is now` ['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen']
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']

In [26]:
list1[3]

5000

In [30]:
list1=['c','c++','java',["Python","R","Pascal"]]

print(list1[3][2])

Pascal

In [21]:
list1

['c', 'c++', 'java', ['Python', 'R', 'Pascal']]

In [22]:
type(list1)

list

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Tamarind',
 'T',
 'a',
 'm',
 'a',
 'r',
 'i',
 'n',
 'd',
 1,
 2,
 3,
 4,
 'rice',
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c']

In [16]:
print(shoplist)

['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']

In [17]:
shoplist[13][0]

TypeError: 'int' object is not subscriptable

In [30]:
shoplist[17][2]

TypeError: 'int' object is not subscriptable

In [18]:
shoplist.append('$')
print(shoplist)

['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c', '$']

In [19]:
_=200
shoplist.append(_)

In [20]:
print(shoplist)

['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c', '$', 200]

In [ ]:

# accessing a list
print(shoplist[0])
print(shoplist[1])

print(shoplist[1][3])

In [ ]:
print(shoplist[1][3])

In [ ]:
print(shoplist[0][1])

In [22]:
shoplist

['apple',
 'mango',
 'carrot',
 'banana',
 'Tamarind',
 'T',
 'a',
 'm',
 'a',
 'r',
 'i',
 'n',
 'd',
 1,
 2,
 3,
 4,
 'rice',
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c',
 '$',
 200]

In [23]:
shoplist[-8][-2]

'l'

In [ ]:
# Negative indexing
# Python allows negative indexing for its sequences. 
# The index of -1 refers to the last item, -2 to the second last item and so on.
print(shoplist[-1])
print(shoplist[-5])

In [31]:
print(shoplist)

['apple', 'mango', 'carrot', 'banana', 'Grapes', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']

In [38]:
shoplist[ 4: 11]

['Grapes', 100, '1', '0', '0', 'NEW', 'rice']

In [40]:
shoplist[10][1:3]

'ic'

In [24]:
# slice lists 
# elements beginning to 3rd
print(shoplist[:3])

# elements 2nd to end
print(shoplist[2][3])

# elements beginning to end
print(shoplist[:])

['apple', 'mango', 'carrot']
r
['apple', 'mango', 'carrot', 'banana', 'Tamarind', 'T', 'a', 'm', 'a', 'r', 'i', 'n', 'd', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c', '$', 200]

In [43]:
list2=["rice", "apple", "Mango", "Banana"]

In [30]:
list3 = [1,20,10,32,29,14,8,9]

In [31]:
# sort the list
print('I will sort my list now')
list3.sort(reverse = True)
#a=list2.sort()
print('Sorted shopping list is', list3)
list3.sort()
print(list3)

I will sort my list now
Sorted shopping list is [32, 29, 20, 14, 10, 9, 8, 1]
[1, 8, 9, 10, 14, 20, 29, 32]

In [27]:
list1=[10,2,23,4,15,[9,23,43,1]]
list1[5].sort()
print(list1)

[10, 2, 23, 4, 15, [1, 9, 23, 43]]

In [29]:
help(list3.sort())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [32]:
list2=['a','b','c',["A","B","C"]]
list2.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [34]:
shoplist.sort()

['T',
 'Tamarind',
 'a',
 'a',
 'apple',
 'banana',
 'carrot',
 'd',
 'i',
 'm',
 'mango',
 'n',
 'r',
 1,
 2,
 3,
 4,
 'rice',
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c',
 '$',
 200]

In [53]:
print(shoplist)

['apple', 'mango', 'carrot', 'banana', 'Grapes', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'table', 'rice', 'pen', 'chair', 'c', 'b', 'a']

In [ ]:
shoplist

In [54]:
# make changes to list
shoplist[4] ="CAPS"
print(shoplist[:])

['apple', 'mango', 'carrot', 'banana', 'CAPS', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'table', 'rice', 'pen', 'chair', 'c', 'b', 'a']

In [55]:
# delete a list item
print('The first item I will buy is', shoplist[0])
olditem = shoplist[0]

del shoplist[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist)

The first item I will buy is apple
I bought the apple
My shopping list is now ['mango', 'carrot', 'banana', 'CAPS', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'table', 'rice', 'pen', 'chair', 'c', 'b', 'a']

In [37]:
a=list(range(10))
a
type(a)

list

In [ ]:
print(len(a))

In [ ]:
del olditem

In [38]:
shoplist

['T',
 'Tamarind',
 'a',
 'a',
 'apple',
 'banana',
 'carrot',
 'd',
 'i',
 'm',
 'mango',
 'n',
 'r',
 1,
 2,
 3,
 4,
 'rice',
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c',
 '$',
 200]

In [40]:
del shoplist[1:3]
shoplist

['T',
 'banana',
 'carrot',
 'd',
 'i',
 'm',
 'mango',
 'n',
 'r',
 1,
 2,
 3,
 4,
 'rice',
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c',
 '$',
 200]

In [56]:
l1=[1,2,3,4,5,6]
del l1[1:4]
l1

[1, 5, 6]

In [ ]:
# Remove method: takes a value as input, searches for it, 
# removes the first match. If the item is not found it errors out

# del function: removes an item at a specific index, can delete all elements or a slice
# pop method: by default, it removes and returns the last element but you 
# can pop any element by providing an index

In [65]:
a=[1,2,3,4,5,shoplist,'apple']

In [43]:
print(shoplist)

['T', 'banana', 'carrot', 'd', 'i', 'm', 'mango', 'n', 'r', 1, 2, 3, 4, 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c', '$', 200]

In [46]:
shoplist.remove("rice")
print(shoplist)

['T', 'banana', 'carrot', 'd', 'i', 'm', 'n', 'r', 1, 2, 3, 4, 'table', 'chair', 'pen', 'a', 'b', 'c', '$', 200]

In [70]:
print(a)

[1, 2, 3, 4, 5, ['mango', 'carrot', 'banana', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'table', 'rice', 'pen', 'chair', 'c', 'b', 'a'], 'apple']

In [57]:
A = [1, 2, 4, 3, 4]
A.remove(4)

# This will print [1, 2, 3, 4]
print("Example 1 : A = {}".format(A))
A

Example 1 : A = [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# (2) Delete an item with index
A = [1, 2, 4, 3, 4]
del A[2]

# This will print [1, 2, 3, 4]
print("Example 2 : A = {}".format(A))

In [ ]:
# (3) Delete all items
A = [1, 2, 4, 3, 4]
del A[:]
##################################

name = input("Enter")
# This will print []
#print("Example 3 : A = ",A)
#print("WELCOME", name , "to defour")
#print("WELCOME {} to defour".format(name))

In [47]:
# (4) Delete a slice 2, 4
A = [1, 2, 4, 3, 4]
del A[1:3]

# This will print [1, 3, 4]
print("Example 4 : A = {}".format(A))

Example 4 : A = [1, 3, 4]

In [58]:
# (5) pop: remove and get the last item
A = [1, 2, 4, 3, 4]
x = A.pop()

# This will print [1, 2, 4, 3]
print("Example 5 : A = {}".format(A))

# This will print 4
print("Example 5 : x = {}".format(x))

Example 5 : A = [1, 2, 4, 3]
Example 5 : x = 4

In [61]:
A

[1, 4, 3]

In [60]:
print(A.pop(1))

2

In [ ]:
# (6) pop with index: remove and get the second item
A = [1, 2, 4, 3, 4]
x = A.pop(1)

# This will print [1, 4, 3, 4]
print("Example 6 : A = {}".format(A))
# This will print 2
print("Example 6 : x = {}".format(x))

In [ ]:
# Python List Methods
# Methods that are available with list object 

# Are accessed as list.method(). 
'''
append() - Add an element to the end of the list
extend() - Add all elements of a list to the another list
insert() - Insert an item at the defined index
remove() - Removes an item from the list
pop()    - Removes and returns an element at the given index
clear()  - Removes all items from the list
index()  - Returns the index of the first matched item
count()  - Returns the count of number of items passed as an argument
sort()   - Sort items in a list in ascending order
reverse() - Reverse the order of items in the list
copy() - Returns a shallow copy of the list

'''

In [49]:
print(shoplist)

['T', 'banana', 'carrot', 'd', 'i', 'm', 'n', 'r', 1, 2, 3, 4, 'table', 'chair', 'pen', 'a', 'b', 'c', '$', 200, ['table', 'chair', 'pen']]

In [50]:
# insert() 		- Insert an item at the defined index

shoplist.insert(2, "INSERTED ITEM")
print('My shopping list is now', shoplist)

My shopping list is now ['T', 'banana', 'INSERTED ITEM', 'carrot', 'd', 'i', 'm', 'n', 'r', 1, 2, 3, 4, 'table', 'chair', 'pen', 'a', 'b', 'c', '$', 200, ['table', 'chair', 'pen']]

In [52]:
shoplist.append(['table', 'chair', 'pen'])
#shoplist[12].insert(2, "INSERTED ITEM")
shoplist

['T',
 'banana',
 'INSERTED ITEM',
 'carrot',
 'd',
 'i',
 'm',
 'n',
 'r',
 1,
 2,
 3,
 4,
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c',
 '$',
 200,
 ['table', 'chair', 'pen'],
 ['table', 'chair', 'pen'],
 ['table', 'chair', 'pen']]

In [56]:
#shoplist[2].insert(2, "INSERTED ITEM")  # This will cause an AttributeError since 'oranges' is a string, not a list.

In [54]:
shoplist

['T',
 'banana',
 'INSERTED ITEM',
 'INSERTED ITEM',
 'carrot',
 'd',
 'i',
 'm',
 'n',
 'r',
 1,
 2,
 3,
 4,
 'table',
 'chair',
 'pen',
 'a',
 'b',
 'c',
 '$',
 200,
 ['table', 'chair', 'pen'],
 ['table', 'chair', 'pen'],
 ['table', 'chair', 'pen']]

In [ ]:
# remove() - Removes an item from the list
shoplist.remove("INSERTED ITEM")
print('My shopping list is now', shoplist)

In [ ]:
shoplist.append('b')
print(shoplist)

In [ ]:
# pop() - Removes and returns an element at the given index
shoplist.pop()
print('My shopping list is now', shoplist)

In [74]:
# index() - Returns the index of the first matched item
pos = shoplist.index('pen')
print('position of matched item is : ', pos)

position of matched item is :  20

In [75]:
new_li = [1,2,3,4,3, 3]
copy_li = new_li.copy()

In [79]:
print("NEW ",new_li)
copy_li.sort()
print("Copy : ",copy_li)

NEW  [1, 2, 3, 4, 3, 3]
Copy :  [1, 2, 3, 3, 3, 4]

In [80]:
copy_li.append(20)

In [81]:
print(new_li)
copy_li

[1, 2, 3, 4, 3, 3]

[1, 2, 3, 3, 3, 4, 20]

In [82]:
assign_li = new_li

In [83]:
assign_li.extend("WORD")

In [84]:
print(new_li)
print(assign_li)

[1, 2, 3, 4, 3, 3, 'W', 'O', 'R', 'D']
[1, 2, 3, 4, 3, 3, 'W', 'O', 'R', 'D']

In [86]:
id(new_li), id(assign_li)

(2358425933384, 2358425933384)

In [77]:
id(new_li), id(copy_li)

(2358425933384, 2358425944712)

In [ ]:
for i in new_li:
    print(new_li.index(3))
    new_li.

In [ ]:
shoplist

In [ ]:
shoplist.clear()

In [89]:
print(shoplist)

['mango', 'carrot', 'INSERTED ITEM', 'banana', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'INSERTED ITEM', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'table', 'rice', 'pen', 'chair', 'c', 'b', 'a', ['table', 'chair', 'pen']]

In [ ]:
shoplist.extend(['a'])

In [91]:
# count() - Returns the number of occurances of the matched item
cnt = shoplist.count('table')
print('count of matched item is : ', cnt)

count of matched item is :  1

In [94]:
list(range(2,9))

[2, 3, 4, 5, 6, 7, 8]

In [106]:
print(shoplist)

['mango', 'carrot', 'INSERTED ITEM', 'banana', 100, '1', '0', '0', 'NEW', 'rice', 'wheat', 'sugar', ['cake', 'bread', 'INSERTED ITEM', 'Salt'], (1, 2, 3), 1, 2, 3, 4, 'table', 'rice', 'pen', 'chair', 'c', 'b', 'a', ['table', 'chair', 'pen']]

In [59]:
for i in shoplist:
    if type(i)== list:
        print(type_of_index(), shoplist.index(i))

NameError: name 'type_of_index' is not defined

In [57]:
print(list(range(50, 100,3)))

[50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]

In [60]:
mult=[]
for i in range(5):
    mult.append(i**2)

In [61]:
mult

[0, 1, 4, 9, 16]

In [1]:
# creating list of 
powerList = []
for x in range(2,4):
    print(x)
    powerList.append(2 ** x)
    print(x ,"--->" ,powerList)

powerList

2
2 ---> [4]
3
3 ---> [4, 8]

[4, 8]

In [ ]:
# list comprehension
# List comprehension consists of an expression followed by for statement 
# inside squar ** x for x in range(10)e brackets.
powerList = [2]

In [4]:
list1=[10,15,20,30]
list2 = [1,2,3]

In [11]:
[i*5 for i in list1 ]

[50, 75, 100, 150]

In [10]:
listmul5= [i*5 for i in list1 ]
listmul5

[50, 75, 100, 150]

In [13]:
for a in range(10):
    #print(a)
    if a%2==1:
        print(a)

1
3
5
7
9

In [15]:
[(a+10)*2 for a in range(10) if a%2 == 1]

[22, 26, 30, 34, 38]

In [19]:
list(a for a in range(30) if a%2 != 0)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
# list comprehension with if 
multiplication=[4*x for x in list1]
powerList = [2 ** x for x in range(2,8) ]

print(multiplication)
print(powerList)

In [1]:
[ x**2 for x in range(20) if x % 2 == 1]

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
# build powerList of odd numbers
oddpowerList = [2 ** x for x in range(20) if x % 2 == 1]
print(oddpowerList)

In [ ]:
# build powerList of even numbers
evenpowerList = [2 ** x for x in range(20) if x % 2 == 0]
print(evenpowerList)

In [ ]:
# Iterating Through a List
for listItem in shoplist:
    print("I like - ", listItem)

In [ ]:
'''
Built-in Functions with List
all()	Return True if all elements of the list are true 
        (or if the list is empty).
any()	Return True if any element of the list is true. 
        If the list is empty, return False.
enumerate()	Return an enumerate object. It contains the index 
            and value of all the items of list as a tuple.
len()	Return the length (the number of items) in the list.
list()	Convert an iterable (tuple, string, set, dictionary) to a list.
max()	Return the largest item in the list.
min()	Return the smallest item in the list
sorted()	Return a new sorted list (does not sort the list itself).
sum()	Return the sum of all elements in the list.
'''

In [24]:
#lst1 = [1, 2, 3,5,4,3, 2,4]
lst1=[1,2, 0, 6, 7]
#l2=[lst]
all(lst1)

False

In [33]:
#lst1 = [False, 0, 0,False, "abc", 3, 2]
lst1=[0,False,False,[False, 0,0]]
#l2=[lst]
any(lst1)

True

In [2]:
# enumerate()
grocery = ['bread', 'milk', 'butter']
print(grocery)
enumerateGrocery = enumerate(grocery)
print(enumerateGrocery )
print(list(enumerateGrocery))

['bread', 'milk', 'butter']
<enumerate object at 0x00000271018330C0>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]

In [4]:
enumerateGrocery = enumerate(grocery,100)
list(enumerateGrocery)

[(100, 'bread'), (101, 'milk'), (102, 'butter')]

In [36]:
a=list(range(100,200,10))
a

[100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [7]:
l1=['v1','v2','v3','v4']
l2=['900','ninty','good','happy']

In [9]:
list(zip(l1,l2))

[('v1', '900'), ('v2', 'ninty'), ('v3', 'good'), ('v4', 'happy')]

In [6]:
a=list(range(10,21,5))
print(a)

list(zip(a,grocery))

[10, 15, 20]

[(10, 'bread'), (15, 'milk'), (20, 'butter')]

In [ ]:
# Looping Over an Enumerate object
for item in (list(enumerateGrocery)):
    print(item[0])

Please check the code excecution ...

In [43]:
grocery

['bread', 'milk', 'butter']

In [39]:
# len()
grocery = ['bread', 'milk', 'butter', ["a","B"]]
len(grocery)

4

In [44]:
max(grocery), min(grocery)

('milk', 'bread')

In [ ]:
min(grocery)

In [ ]:
list1= [1,2,5,10,41]
sum(list1)

In [ ]:
list1

In [ ]:
max(list1)

In [ ]:
a=int(input("enter new num "))

In [ ]:
a='10'
print(type(a))

In [ ]:
list1.append([1,2,3,4])

In [7]:
list1=[]
for i in range(5):
    ui=int(input("Enter num "))
    list1.append(ui)

Enter num 12
Enter num 12
Enter num 10
Enter num 3
Enter num 2

In [8]:
list1

[12, 12, 10, 3, 2]