In [8]:
a='Sym biosis  distance    learning center'
a

'Sym biosis  distance    learning center'

In [1]:
a='''DON'T  know where it has gone!

   Need to move to next level

     hope for the best'''
print(a)

DON'T  know where it has gone!

   Need to move to next level

     hope for the best

In [10]:
a = 20
print(a)
'''multiple line comment
all code which is not required ... can be commeted...!!
'''
b = 40
print(b)

20
40

In [56]:
# all of the following are equivalent
my_string = 'Hello1'
print(my_string)

my_string = "Hello2"
print(my_string)

my_string = '''Hello3'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello4, welcome to 
nkn "akjndjk",  'aJD '
;mll;m; 
'm;l'
           the world of Python"""
print(my_string)

"All code is commented"

Hello1
Hello2
Hello3
Hello4, welcome to
nkn "akjndjk",  'aJD '
;mll;m;
'm;l'
           the world of Python

'All code is commented'

In [3]:
my_string = 'data science class has started... seems like confusing'

In [5]:
my_string[:]

'data science class has started... seems like confusing'

In [8]:
my_string[:13]

'data science '

In [9]:
my_string[13:20]

'class h'

In [18]:
my_string[12:18]

' class'

In [20]:
my_string[0:4]='bbbb'

TypeError: 'str' object does not support item assignment

In [24]:
val

'DATA'

In [10]:
val = 'DATA'

In [32]:
"B"+val[1:]

'BATA'

In [35]:
val[:2]+"C"+val[3:]

'DACA'

In [28]:
li =[]
def change_val ():
  
    for i in val:
        if i == 'D':
            i="B"
        print(i, end = '')
        li.append(i)

In [29]:
change_val()

BATA

In [15]:
"-".join(val)

'D-A-T-A'

In [3]:
len(my_string)

54

In [16]:
my_string

'data science class has started... seems like confusing'

In [29]:
my_string[:13]+ 'pass'+my_string[18:40]+"bit"+my_string[44:]

'data science pass has started... seems bit confusing'

In [22]:
my_string.replace('class','mass')

'data science mass has started... seems like confusing'

In [4]:
# access characters in a string
# index must be in range
my_string[54]

IndexError: string index out of range

In [10]:
# index must be an integer
my_string[1.5]

TypeError: string indices must be integers

In [17]:
# change or delete a string
# Strings are immutable. This means that elements of a string cannot be 
# changed once it has been assigned.

In [1]:
my_string = 'programiz'
my_string[5] ='b'

TypeError: 'str' object does not support item assignment

In [5]:
my_string[5]

's'

In [6]:
my_string = 'Python'

In [7]:
my_string

'Python'

In [8]:
del my_string

In [8]:
# concatenation
str1 = 'Hello '
str2 ='World !'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hello World !
str1 * 3 = Hello Hello Hello

In [4]:
var = "navin"

In [ ]:
var.

In [35]:
var.replace("n","m")

'mavim'

In [40]:
"navin".isdigit()

False

In [38]:
"gr8".isalnum()

True

In [36]:
var1 =var.replace("n","m")
print(var1, id(var1))

mavim 2435621231024

In [7]:
var, v1, id(var), id(v1)

('navin', 'mavim', 2454325445424, 2454325799472)

In [11]:
st="NEW"
st[1]='o'

TypeError: 'str' object does not support item assignment

In [15]:
st.replace('E','O')

'NOW'

In [8]:
st1=''
for i in st:
    if i =="E":
        print("O", end='')
        st1=st1+"O"
        continue
    print(i,end='')
    st1=st1+i
    print(" VALUE ",st1)

N VALUE  N
OW VALUE  NOW

In [9]:
st1

'NOW'

In [10]:
len("asdetov jhgrjkv ojdfjcvbo")

25

In [1]:
# iterating
count = 0
for letter in 'Hello World how r you':
    if letter=="h":
        letter="W"
    print(letter, end =" ")
    
    count += 1 
    
print(count,'letters found')

H e l l o   W o r l d   W o w   r   y o u 21 letters found

In [38]:
my_string = "Hello How are"

'c' in my_string

False

In [13]:
'banaglore' in my_string

False

In [42]:
my_string

False

In [16]:
my_string

'HelloHoware'

In [12]:
my_string

' Hello How are you'

In [43]:
a= 'I told him, "keep it safe"'

In [10]:
print(a)

I told him, "keep it safe"

In [44]:
print('he asked,"how\'s location"')

he asked,"how's location"

In [17]:
# Python String Formatting
print('He said, \n"What\'s there?"')

He said,
"What's there?"

In [33]:
x= "abcmat101"

In [21]:
x.capitalize()

'Abcmat'

In [36]:
x.center(20)

'     abcmat101      '

In [24]:
name = "chatargee"
len(name)
ab=""

for i in range(len(name)):
    #print(i)
    ab=ab+name[i]
    print(i, ab)

0
1 c
2 ch
3 cha
4 chat
5 chata
6 chatar
7 chatarg
8 chatarge

In [26]:
name = "chatargee"
len(name)
ab=""

for i in reversed(range(len(name))):
    #print(i)
    ab=ab+name[i]
    print(i, ab)

8 e
7 ee
6 eeg
5 eegr
4 eegra
3 eegrat
2 eegrata
1 eegratah
0 eegratahc

In [37]:
name = "chatargee"
print(len(name))
ab=""

for i in range(len(name)):
    v=abs(i-len(name)+1)
    ##print(v, name[v])
    ab=ab+name[v]
    print(ab)

9
e
ee
eeg
eegr
eegra
eegrat
eegrata
eegratah
eegratahc

In [12]:
for i in name:
    print(i)

c
h
a
t
a
r
g
e
e

In [52]:
upper = 0
name="Rahul"
for i in range(len(name)):
    upper=upper+1
    print(name[:upper])

R
Ra
Rah
Rahu
Rahul

In [7]:
var=100

In [9]:
var.replace(0,2)

AttributeError: 'int' object has no attribute 'replace'

In [1]:
"He said, \"what's this?\""

'He said, "what\'s this?"'

In [15]:
'He said, "what\'s this?"'

'He said, "what\'s this?"'

In [5]:
print("He said, \"What's there?\"")

He said, "What's there?"

In [40]:
print(a, "is smaller than ", b)

10 is smaller than  15

In [43]:
print(str(a)+" is smaller than "+str(b))

10 is smaller than 15

In [44]:
a=10
b=15
##print(a,"is smaller than",b ) 
print("{} is smaller than {}".format(a,b))

10 is smaller than 15

In [45]:
a=10
b=15
##print(a,"is smaller than",b ) 
print(a, " is smaller than ", b)

10  is smaller than  15

In [46]:
"insert into abc()values('{}',{},{})".format(a,b,10.34)

"insert into abc()values('10',15,10.34)"

In [49]:
"{}, {}, ".format(a, b, 30,4)

'10, 15, '

In [56]:
"{c}, {c} and {d}".format(c='John',d='Bill',e='Rooma')

'John, John and Bill'

In [53]:
"{2}, {0} and {1}".format('John','Bill','Rooma')

'Rooma, John and Bill'

In [19]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s1}, {b1} and {j1}".format(j1='John',b1='Bill',s1='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [51]:
str=90

In [1]:
str

str

In [2]:
str(38)

'38'

In [4]:
# float formatting

a = 10.76
b = 220.5666666
print("Two float numbers : {} & {}".format(a, b))

print("Two float numbers : {:.2f} & {:.3f}".format(a, b))
#print("Two float numbers : { :.2f} & { :.2f}".format(a, b))
print("Two float numbers : {:.2f} & {:10.2f}".format(a, b))
print("Two float numbers : {:.2f} & {:15.2f}".format(a, b))

Two float numbers : 10.76 & 220.5666666
Two float numbers : 10.76 & 220.567
Two float numbers : 10.76 &     220.57
Two float numbers : 10.76 &          220.57

In [14]:
print('{a:15s}-{b:10.2f}'.format(b=float(input("Enter price :")), a=input("Item :")))
print('{a:15s}-{b:10.2f}'.format(b=float(input("Enter price :")), a=input("Item :")))

Enter price40
Itemsandwitch
sandwitch      -     40.00
Enter price90
Itemidali
idali          -     90.00

In [18]:
c= 25
b

220.5666666

In [17]:
print('{b:15s} - {a:10.2f}'.format(b, a='chinese bhel'))
print('{a:15s} - {:10.2f}'.format( c, a='pohe'))

KeyError: 'b'

In [82]:
a=100
b=120.34356789
print("{:.2f} is less than -->{:10.2f} ".format(a,b) )

100.00 is less than -->    120.34

In [72]:
a=100000
b=234.356

print("Total float: --{:10}---->{:.2f}".format(a,b))

Total float: --    100000---->234.36

In [12]:
amount = 10235
interest_rate = 7.25
total_amount = (amount*interest_rate)/100
"{:.2f}".format(total_amount)

'742.04'

In [11]:
print(str(total_amount,2))

TypeError: str() argument 2 must be str, not int

## how to lpad 00 to string..?

In [73]:
name = "John"
print("Hello, %s" %name)

Hello, John

In [25]:
name = "Rajendra Singh"
print("Hello, {}".format( name))

Hello, Rajendra Singh

In [44]:
name = "Rajendra Singh"
print("Hello, {0}".format( name))

Hello, Rajendra Singh

In [75]:
name = "Rajendra Singh"
number =192134
print("Hello, {1} ,{0:.5s}".format(name,number))
print("Hello, {1:.2f} ,{0}".format(name,number))

Hello, 192134 ,Rajen
Hello, 192134.00 ,Rajendra Singh

In [42]:
name = "Rajendra Singh"
number ="192134"
int1= 1234567890
print("Hello, {2}, {1} ,{0:.5s}".format(name,number, int1))
print("Hello, {2:17.4f}, {0:.2s} ,{1}".format(name,number, int1))

Hello, 1234567890, 192134 ,Rajen
Hello,   1234567890.0000, Ra ,192134

In [12]:
name = "Nikhil"
number = "02-05-2021"
a="{:.4s}".format(name)
b="{:.2s}".format(number)
c=number[3:5]
a+b+c

'Nikh0205'

In [18]:
"{:.4s}{:.2s}{:}".format(name, number, number[3:5])

'Nikh0205'

In [80]:
st = """Grandma and grandpa is going to the market with grandson. 
There was a grand sales going on. 
Market is having basket of flowers, fruits, grocery and
grand collection of toys. Next day grandma is going to picknick. 
She purchase battery, fruit, jam, bread and dress.
Grandpa went to buy a lottery ticket and light socket for house.
Gardener in the garden collecting fruits and flowers 
from farm house near the market. 
"""

In [81]:
st.count('grand')

5

In [22]:
name[:]

'Nikhil'

In [23]:
name[3:]

'hil'

In [24]:
name[:3]

'Nik'

In [25]:
name[2:4]

'kh'

In [26]:
name = "Nikhil"
number ="02-05-2001"

a="{:.4s}".format(name)
b="{:.2s}".format(number)
c="%s"%number[3:5]

password = a+""+b+""+c
password

'Nikh0205'

In [28]:
c="%s"%number[3:5]
c

'05'

In [21]:
c="{:.4s}".format(number)

In [ ]:
c="{:.s}".format(number)

In [91]:
# This prints out: A list: [1, 2, 3]
mylist = {1: "one",2:"two",3:"three"}
print("A list: %s"% mylist)
print("Dictionary is ", mylist)

A list: {1: 'one', 2: 'two', 3: 'three'}
Dictionary is  {1: 'one', 2: 'two', 3: 'three'}

In [3]:
# This prints out: A list: [1, 2, 3]
mylist = {1: 10,2:20,3:30}
print("A list: %s is like" % mylist)

A list: {1: 10, 2: 20, 3: 30} is like

In [11]:
mytup = (1,2,3)
#print(type(mytup[0]))
print("A tuple: %d %s %s" % mytup)

A tuple: 1 2 3

In [38]:
mytup = (1,2,3)
print(type(mytup[0]))
print("A tuple:%s %s %s" % mytup)

<class 'int'>
A tuple:1 2 3

In [12]:
mytup = ["Mangesh","2",3]
print(type(mytup[0]))
print("A list :%s " % mytup)

<class 'str'>
A list :['Mangesh', '2', 3]

In [15]:
mytup = ("1","2","3")
print(type(mytup[0]))
print("A tuple:%s %s " % mytup[1:3])

<class 'str'>
A tuple:2 3

In [16]:
data = ("John", "Doe", 53.44 , 100.23)
print(type(data))
format_string = "Hello %s %s. Your current balance is $%d $%d."

new_str= format_string % data
print(new_str)
#print("Hello %s %s. Your current balance is $%d $%f." % data)

<class 'tuple'>
Hello John Doe. Your current balance is $53 $100.

In [35]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [60]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [62]:
# integer arguments
print("The number is: {:d}".format(123))
print("The number is: %d"% 123)
# float arguments
print("The float number is: {:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is: 123
The number is: 123
The float number is: 123.456790
bin: 1100, oct: 14, hex: c

In [41]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:6d}".format(123134))
#print("{:6d}".format(1234))

# padding for float numbers
print("Hello the number is {:+10.2f}".format(-12.2346))

# integer numbers with minimum width filled with zeros
print("{:06d}".format(12))

# padding for float numbers filled with zeros
print("{:08.2f}".format(12.2346))

   12
123134
Hello the number is     -12.23
000012
00012.23

In [108]:
print("{:+10.2f} {:+10.2f}".format(+12.23, -12.23))

    +12.23     -12.23

In [18]:
# show the + sign
print("{:+10.2f} {:+10.2f}".format(12.23, -12.23))
# show the - sign only
print("{:-10.2f} {:-10.2f}".format(12.23, -12.23))
print("{:10.2f} {:10.2f}".format(12.23, -12.23))
# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

    +12.23     -12.23
     12.23     -12.23
     12.23     -12.23
 12.230000 -12.230000

In [85]:
print("{:+.2f}  {:f}".format(12.12, -13.13))

+12.12  -13.130000

In [13]:
.format()

SyntaxError: invalid syntax (<ipython-input-13-ec4121b5f66c>, line 1)

In [52]:
a=int(input())
print('Output: {:-5.2f}'.format(a))

-12
Output: -12.00

In [11]:
# string padding with left alignment
print("{:10}".format("cat"))

# string padding with right alignment
print("{:>10}".format("cat"))

# string padding with center alignment
print("{:^10}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^30}".format("cat"))

cat
       cat
   cat
*************cat**************

In [49]:
s = 'kfkfkfffffffffffffffffff'
s[:5]

'kfkfk'

In [43]:
string = "In most organized forms of writing, such as essays, paragraphs contain a topic sentence . This topic sentence of the paragraph tells the reader what the paragraph will be about. Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.     "

In [50]:
string

'In most organized forms of writing, such as essays, paragraphs contain a topic sentence . This topic sentence of the paragraph tells the reader what the paragraph will be about. Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.     '

In [51]:
string.strip(",")

'In most organized forms of writing, such as essays, paragraphs contain a topic sentence . This topic sentence of the paragraph tells the reader what the paragraph will be about. Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.     '

In [55]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace remove.

    If chars is given and not None, remove characters in chars instead.

In [45]:
find = input(" Find :")

 Find :will

In [26]:
a = re.finditer(find, string)

In [39]:
import re
x= 0
for i in range(len(string)):
    for j in range(len(find)):
        #print(string[i], find[j])
        if string[i]==find[j]:
            re.finditer(find)
        else: break

TypeError: finditer() missing 1 required positional argument: 'string'

In [49]:
count = 0

len_str = len(string.strip())

len_find = len(find) 

print (len_find, len_str)
for i in range(len_str + 1):
    if string[i:i+len_find] == find:
        print(string[i: i+len_find])
        count += 1
        print (count)

4 310
will
1

In [3]:
a="Nw value is Apple and Banana but again you ve to enter old one"

In [4]:
a.split(" ")

['Nw',
 'value',
 'is',
 'Apple',
 'and',
 'Banana',
 'but',
 'again',
 'you',
 've',
 'to',
 'enter',
 'old',
 'one']

In [5]:
b= "anita, sunita, sunil, suresh, bhupesh, naresh"

In [7]:
b.split(",")

['anita', ' sunita', ' sunil', ' suresh', ' bhupesh', ' naresh']

In [4]:
qw.sort()

In [5]:
qw

['Apple',
 'Banana',
 'Nw',
 'again',
 'and',
 'but',
 'enter',
 'is',
 'old',
 'one',
 'to',
 'value',
 've',
 'you']

In [13]:
x=int(input())
y=int(input())
z=int(input())
dimen = int(input())

1
1
1
2

In [ ]:
list1 = []

list1.append()

In [16]:
comp = [i for i in range(dimen) ]

In [17]:
size = dimen + 1

In [18]:
comp

[0, 1]

In [30]:
outer=[]
order1=[]
for i in range(dimen+1): 
    for j in range(dimen+1):
        for k in range (dimen+1):
            if (i==j):
                print(i,j,k)
            else:
                print(i, " zero", j)

    
order1

0 0 0
0 0 1
0 0 2
0  zero 1
0  zero 1
0  zero 1
0  zero 2
0  zero 2
0  zero 2
1  zero 0
1  zero 0
1  zero 0
1 1 0
1 1 1
1 1 2
1  zero 2
1  zero 2
1  zero 2
2  zero 0
2  zero 0
2  zero 0
2  zero 1
2  zero 1
2  zero 1
2 2 0
2 2 1
2 2 2

[]