{10}

In [1]:
x=10
x=x & 3
print(x)

2

In [7]:
x=10
x=x | 3
print(x)

11

In [8]:
x=10
x=x >> 3
print(x)

1

In [9]:
x=10
x=x << 3
print(x)

80

In [1]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})
print(type(my_dict))

print(my_dict)
# from sequence having each item as a pair
my_dict = dict([(1,'apple'), ('abc','ball')])

print(my_dict)

<class 'dict'>
{1: 'apple', 2: 'ball'}
{1: 'apple', 'abc': 'ball'}

In [4]:
new_dict=dict([([1,2,34],1)])
new_dict

TypeError: unhashable type: 'list'

In [13]:
new_dict=dict([("string",{1,2,4})])
new_dict

{'string': {1, 2, 4}}

In [1]:
my_dict = {'name1':'Jack', 'age': 26, 
           'name2':'bhupen', 'age': 19}

print(my_dict['name2'])
my_dict.get('age')

#my_dict['address']="A-100, Avenue"

bhupen

19

In [4]:
my_dict.keys()

dict_keys(['name1', 'age', 'name2'])

In [5]:
my_dict.values()

dict_values(['Jack', 19, 'bhupen'])

In [10]:
my_dict

{'name1': 'Jasmin', 'age': 19, 'name2': 'bhupen', 'address': 'Shiwaji nagar'}

In [7]:
my_dict['address']='Shiwaji nagar'

In [9]:
my_dict['name1']="Jasmin"

In [8]:
my_dict

{'name1': 'Jack', 'age': 19, 'name2': 'bhupen', 'address': 'Shiwaji nagar'}

In [2]:
# access elements from a dictionary
# dictionary uses keys. Key can be used either inside square brackets 
# or with the get() method.

my_dict = {'name1':'Jack', 'age': 26, 
           'name2':'bhupen', 'age': 19}

print(my_dict)
print(my_dict['name1'])
# Trying to access keys which doesn't exist throws error
#print(my_dict['name1'])
print(my_dict['age'])
print(my_dict.get('age'))

my_dict.get('address')

{'name1': 'Jack', 'age': 19, 'name2': 'bhupen'}
Jack
19
19

In [23]:
# change or add elements in a dictionary
# If the key is already present, value gets updated, else a new 
# key: value pair is added to the dictionary.
my_dict = {'name':'Jack', 'age': 26}
print(my_dict)
# update value
my_dict['age'] = 27

print(my_dict)

# add item
my_dict['address'] = 'Downtown'  

print(my_dict)

{'name': 'Jack', 'age': 26}
{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [ ]:
my_dict.update({'k':"val"})

In [24]:
my_dict[1]="ABC"

{'name': 'Jack', 'age': 27, 'address': 'Downtown', 1: 'ABC'}

In [27]:
dict([('roll_id' ,1),('name',"abc"),("class","F.Y"),("address",23)])

{'roll_id': 1, 'name': 'abc', 'class': 'F.Y', 'address': 23}

In [11]:
# delete or remove elements from a dictionary
# create a dictionary
squares = {1: 1,  2: 4, 3: 9, 4: 16, 5:25}

In [16]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [24]:
di={}
for i in squares:
    print(i,"--->" ,squares[i]+1)
    di[i]=squares[i]*100

1 ---> 2
2 ---> 5
3 ---> 10
5 ---> 26

In [22]:
di

{1: 100, 2: 400, 3: 900, 5: 2500}

In [20]:
 # remove a particular item key
print(squares.pop(4))

KeyError: 4

In [14]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [13]:
# remove an arbitrary item
print(squares.popitem())
squares

(5, 25)

{1: 1, 2: 4, 3: 9}

In [9]:
# delete the dictionary itself
del squares

In [15]:
print(squares)
# delete a particular item
del squares 
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

NameError: name 'squares' is not defined

In [19]:
# remove all items
squares.clear()
print(squares)

{}

In [1]:
# iterating
stocks = {
        'IBM': 146.48,
        'MSFT':44.11,
        'CSCO':25.54
    }
    
#print out all the keys
for c in stocks:
    print("key : " ,c, "value : ", stocks[c])

key :  IBM value :  146.48
key :  MSFT value :  44.11
key :  CSCO value :  25.54

In [1]:
stock1={"TATA": 123.34,
       "INFO":200.12,
        "NIFY50":{"ADANI":900, "BAJAJ":1000,"TATA":600},
        "SMP":[120,130,150],
       "TCS":320}

In [3]:
stock1["NIFY50"]['ADANI']

900

In [81]:
stock1.values()

dict_values([123.34, 200.12, {'ADANI': 900, 'BAJAJ': 1000, 'TATA': 600}, [120, 130, 150], 320])

In [83]:
for i in stock1:
    print(type(stock1[i]))
    if ((type(stock1[i]) ==int) or (type(stock1[i]) ==float)):
        if stock1[i]==600:
            print(i)
    else:
        if type(stock1[i]) == dict:
            for j in stock1[i]:
                if stock1[i][j]==600:
                    print(j)
        elif type(stock1[i]) == list:
            print(stock1[i])

<class 'float'>
<class 'float'>
<class 'dict'>
TATA
<class 'list'>
[120, 130, 150]
<class 'int'>

In [53]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [54]:
[i for i in stock1 if stock1[i]==320]

['TCS']

In [55]:
l1=[1,10,32,3,2,9]

In [58]:
l1.sort()

In [61]:
l1

[1, 2, 3, 9, 10, 32]

In [68]:
l21=[1,210,12]
l31= sorted(l21)

In [69]:
l21

[1, 210, 12]

In [70]:
l31

[1, 12, 210]

In [22]:
for index in stocks:
    print(index)

IBM
MSFT
CSCO

In [28]:
# nested dictionary
users = {1: {'name': 'John', 'age': '27', 'gender': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'gender': 'Female'}}

In [32]:
users[1]

{'name': 'John', 'age': '27', 'gender': 'Male'}

In [27]:
len(users)

2

In [30]:
len(users[1])

3

In [4]:
users[2]["name"]

'Marie'

In [14]:
print(users[1]['name'])
print(users[2]['name'])
print(users[2]['age'])

John
Marie
22

dict_values([{'name': 'John', 'age': '27', 'gender': 'Male'}, {'name': 'Marie', 'age': '22', 'gender': 'Female'}])

In [1]:
new_dict= [{'a':{'x':10}},{'b':{'y':20}},{'c':{'z':18}}]
print(type(new_dict))
new_dict

<class 'list'>

[{'a': {'x': 10}}, {'b': {'y': 20}}, {'c': {'z': 18}}]

In [5]:
new_dict[0]['a']['x']

10

In [6]:
print(type(new_dict[0]))
new_dict_val0= new_dict[0]

<class 'dict'>

In [7]:
new_dict_val0

{'a': {'x': 10}}

In [8]:
new_dict_val0['a']['x']

10

In [28]:
a = my_list[1]
print(type(a))
a

NameError: name 'my_list' is not defined

In [37]:
a['key']['subkey']

10

In [14]:
my_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}},
           {'key': {'subkey': 5}}]
print("Original List: ")
print(my_list)
type(my_list)

Original List:
[{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]

list

In [15]:
[{key:{}}, {} ,{}]

NameError: name 'key' is not defined

In [18]:
my_list[2]['key']['subkey']

5

In [17]:
my_list

[{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]

In [19]:
my_list.sort()

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [22]:
help(sort())

NameError: name 'sort' is not defined

In [13]:
my_list.sort(key=lambda e: e['key']['subkey'], reverse=True)
print("Sorted List: ")
print(my_list)

Sorted List:
[{'key': {'subkey': 10}}, {'key': {'subkey': 5}}, {'key': {'subkey': 1}}]

In [85]:
rollno=input("roll number")
name = input("enter name") 
marks= int(input("Enter marks"))

roll number1
enter nameaniket
Enter marks30

In [86]:
studinfo={}

In [87]:
studinfo["roll"]=rollno
studinfo["name"]=name
studinfo["marks"]=marks

In [88]:
studinfo

{'roll': '1', 'name': 'aniket', 'marks': 30}

In [ ]:
accept information from student and create a dictionary
hint:for loop till all atrudents are enrolled

In [ ]:
emp={}
input("enter st_id name")

In [ ]:
def display(x = 0, y = 0, **name):                                                   
    print (name["fname"]+" "+name["mname"]+" "+name["lname"])                                                                  print ("x =", x)                                                                               
    print ("y =", y)

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in {"a":10, 2:12, "ab":20}:
    print(i)

a
2
ab

In [3]:
for i in "NEW START":
    print(i)

N
E
W

S
T
A
R
T

In [4]:
for i in 100:
    print(i)

TypeError: 'int' object is not iterable

In [13]:
set1= set([])

In [14]:
type(set1)

set

In [10]:
set1= set({})
type(set1)

set

In [19]:
import pandas as pd
Df = pd.read_csv(r'E:\Python\Machine Learning\datasets\bank.csv')

OSError: [Errno 22] Invalid argument: 'E:\\Python\\Machine Learning\\datasets\x08ank.csv'

In [18]:
Df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [5]:
dic = {}
dic["name"]="LAVASA"
dic["Address"]="Pune"
dic["Student"]=[(1,"Kishori"),(2,"Ankita"), (3,"Mayuri")]
dic["Student1"]=dict([(1,"Kokane"),(2,"Ruby"), (3,"Mane")]) 
#then  what can be the output of:dic['Student'][1]

In [9]:
d1={"Class":12,
    "Roll_no":(1,2,3,4),
   "NAME":["A","B","C","D"],
   "PHYSICS":[90,50,79,69],
   "BIOLOGY":(12,79,84,80)}

In [21]:
import pandas as pd
pd.DataFrame(d1)

   Class  Roll_no NAME  PHYSICS  BIOLOGY
0     12        1    A       90       12
1     12        2    B       50       79
2     12        3    C       79       84
3     12        4    D       69       80

In [22]:
def PCMB(p,c,*s):    
    total = p+c    
    for i in s:        
        total = total + int(i)        
    print(total)    
    return total

In [23]:
PCMB(10,24)

34

34

In [26]:
PCMB(10)

TypeError: PCMB() missing 1 required positional argument: 'c'

In [25]:
PCMB(10,20,16,12,15)

73

73

In [31]:
def city_generator():    
    city_name=["Banalore","Kolkata","Delhi","Mumbai"]    
    
    for i in city_name:                
        str1= "Welcome "+i
        print(str1)
        
    yield str1

In [32]:
city_generator()

Welcome Banalore
Welcome Kolkata
Welcome Delhi
Welcome Mumbai

'Welcome Mumbai'