### saiprasad walunj

In [16]:
import pandas as pd
import pandas as pd
import numpy as np
from statsmodels.stats import weightstats 
import scipy.stats as stats
import seaborn as sns
df = pd.read_csv(r"C:\\Users\\HP\\Downloads\\Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
#Null Hypothesis: attack done by type 1 water and type 1 Ice is same
#Alternative Hypothesis: attack done by type 1 water and type 1 Ice is not same

water=df[df["Type 1"]=='Water']["Attack"]
ice=df[df["Type 1"]=='Ice']["Attack"]
A=weightstats.ztest(water,ice,alternative='two-sided')
print("z-test score", A[0])
print("p-value", A[1])

z-test score 0.2210436596485212
p-value 0.8250584381764726

In [12]:
#Null Hypothesis: selection count of type1 as grass and type1 as fire is same
#Alternative Hypothesis: selection count of type1 as grass and type1 as fire is not same

from statsmodels.stats.proportion import proportions_ztest
grass_count = df.loc[df["Type 1"] == "Grass"].shape[0]
fire_count = df.loc[df["Type 1"] == "Fire"].shape[0]
print(grass_count,fire_count)
n1 = 800
n2 = 800
count1 = grass_count
count2 = fire_count
counts = [count1, count2]
nobs = [n1, n2]
stat, pval = proportions_ztest(counts, nobs)
print("z-statistic:", stat)
print("p-value:", pval)

70 52
z-statistic: 1.6955685950540982
p-value: 0.0899676094527443

In [14]:
#Null Hypothesis: Speed of type1 as fire and type1 as fire with type2 as Dragon is same

#Alternative Hypothesis: Speed of type1 as fire and type1 as fire with type2 as Dragon is not same

T1_fire_T2_Dragon = df[(df['Type 1']=='Fire') & (df['Type 2']=='Dragon')]['Speed']
T1_fire = df[(df['Type 1']=='Fire')]['Speed']
from scipy.stats import f_oneway
t_stat, p_value = f_oneway(T1_fire,T1_fire_T2_Dragon)
print('Test statistics: ',t_stat)
print('P value: ',p_value)

Test statistics:  1.005525449312803
P value:  0.32071135090539993