In [1]:
# all of the following are equivalent
my_string = 'Hello1'
print(my_string)

my_string = "Hello2"
print(my_string)

my_string = '''Hello3'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello4, welcome to
           the world of Python"""
print(my_string)

Hello1
Hello2
Hello3
Hello4, welcome to
           the world of Python

In [12]:
str = ' data science class has started... seems like confusing'

In [14]:
str[33]

'.'

In [15]:
len(str)

55

In [16]:
# access characters in a string
# index must be in range
my_string[150]

IndexError: string index out of range

In [6]:
# index must be an integer
my_string[1.5]

TypeError: string indices must be integers

In [17]:
# change or delete a string
# Strings are immutable. This means that elements of a string cannot be 
# changed once it has been assigned.

In [18]:
my_string = 'programiz'
my_string[5] = 'b'

TypeError: 'str' object does not support item assignment

In [19]:
my_string[5]

'a'

In [20]:
my_string = 'Python'

In [23]:
my_string

NameError: name 'my_string' is not defined

In [22]:
del my_string

In [25]:
# concatenation
str1 = 'Hello '
str2 ='World !'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hello World !
str1 * 3 = Hello Hello Hello

In [26]:
# iterating
count = 0
for letter in 'Hello World how r you':
    count += 1 
    
print(count,'letters found')

21 letters found

In [28]:
my_string = " Hello How are you"

'B' in my_string

False

In [29]:
'banaglore' in my_string

False

In [28]:
# Python String Formatting
print('He said, "What\'s there?"')

He said, "What's there?"

In [30]:
print("He said, \"What\'s there?\"")

He said, "What's there?"

In [33]:
a=10
b=15
print(a,"is smaller than",b )
print("{} is smaller than {}".format(a,b))

10 is smaller than 15
10 is smaller than 15

In [35]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s1}, {b1} and {j1}".format(j1='John',b1='Bill',s1='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [39]:
# float formatting

a = 10.76
b = 220.5666666
print("Two float numbers : {} & {}".format(a, b))
print("Two float numbers : {:.2f} & {:.2f}".format(a, b))
print("Two float numbers : {:.2f} & {:10.2f}".format(a, b))

Two float numbers : 10.76 & 220.5666666
Two float numbers : 10.76 & 220.57
Two float numbers : 10.76 &     220.57

## how to lpad 00 to string..?

In [42]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [43]:
name = "Rajendra Singh"
print("Hello, {}".format( name))

Hello, Rajendra Singh

In [44]:
name = "Rajendra Singh"
print("Hello, {0}".format( name))

Hello, Rajendra Singh

In [55]:
name = "Rajendra Singh"
number ="192134"
print("Hello, {1:.5s}".format(name,number))

Hello, 19213

In [56]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [58]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [59]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%d."

print(format_string % data)

Hello John Doe. Your current balance is $53.

In [60]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [62]:
# integer arguments
print("The number is: {:d}".format(123))
print("The number is: %d"% 123)
# float arguments
print("The float number is: {:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is: 123
The number is: 123
The float number is: 123.456790
bin: 1100, oct: 14, hex: c

In [65]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:6d}".format(1234))

# padding for float numbers
print("Hello the number is {:8.2f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.2f}".format(12.2346))

   12
  1234
Hello the number is    12.23
00012
00012.23

In [67]:
# show the + sign
print("{:+10.2f} {:+10.2f}".format(12.23, -12.23))

# show the - sign only
print("{:-10.2f} {:-10.2f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

    +12.23     -12.23
     12.23     -12.23
 12.230000 -12.230000

In [68]:
# string padding with left alignment
print("{:10}".format("cat"))

# string padding with right alignment
print("{:>10}".format("cat"))

# string padding with center alignment
print("{:^10}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:-^10}".format("cat"))

cat
       cat
   cat
---cat----

In [49]:
s = 'kfkfkfffffffffffffffffff'
s[:5]

'kfkfk'