In [66]:
print("helloooo!!!!")

helloooo!!!!

In [67]:
# shhubham
## subhham
### shubham

# shubbham
## hello
### hello

In [68]:
import  pandas as pd

In [69]:
#ds = pd.read_csv("/kaggle/input/dataset/gapminder-FiveYearData.csv")

In [70]:
#ds.columns

In [71]:
a= 5 
b = 6
a+b

11

In [72]:
a = "shubham"
c = " "
b = "birari"
add = a+c+b
add

'shubham birari'

In [73]:
type(add)

str

In [74]:
print("This is my first program")

This is my first program

In [75]:
a = 'true'
type(a)

str

In [76]:
add

'shubham birari'

In [77]:
add[3]

'b'

In [78]:
add[0:8]

'shubham '

In [79]:
a = 3
b = 4
a*b

12

In [80]:
x = 4
y = 5
z = 6
print(x , y, z , sep="\n")

4
5
6

In [81]:
add[1:6:2]

'hba'

In [82]:
add[::-1]
#reversee order

'irarib mahbuhs'

In [83]:
add

'shubham birari'

In [84]:
len(add)

14

In [85]:
abc = ['shuham' , 3.14 , 'hello' , True]
abc[0] = "shubham birari"
abc
abc[1] = 31313

In [86]:
abc

['shubham birari', 31313, 'hello', True]

In [87]:
abc[0][2]
#taking 2nd letter form 1st elements

'u'

In [88]:
#abc[0][2]= "v" this cant do this because string is unmutable

In [89]:
add

'shubham birari'

In [90]:
add[-1:-4]
#But, the slicing rule is that the start index must be before the stop index when slicing forward. In your case, -1 (start) is after -4 (stop), so Python returns an empty string because it can't slice backwards with positive step defaults.

''

In [91]:
add[-4:-1]
#In Python slicing, the stop index is exclusive, meaning that the character at the stop index is not included in the slice. This is why when you use add[-4:-1], the character at the -1 index (which is "i") is not included.

'rar'

In [92]:
    add[-1:-4:-1]
    #slicing from -1 to -4 with jump of 1 caracter

'ira'

In [93]:
len(add)

14

In [94]:
add

'shubham birari'

In [95]:
add[-1:-13:-2]
#reverse slice avvoiding 1 index

'iai ab'

In [96]:
add[2:14:3]

'uaba'

In [97]:
abc

['shubham birari', 31313, 'hello', True]

In [98]:
abc[0]

'shubham birari'

In [99]:
abc[0:3]

['shubham birari', 31313, 'hello']

In [100]:
#append operaton
abc.append("adding")

In [101]:
abc

['shubham birari', 31313, 'hello', True, 'adding']

In [102]:
#insert adding on 2nd position 
abc.insert(2 , "add")

In [103]:
abc

['shubham birari', 31313, 'add', 'hello', True, 'adding']

In [104]:
# abc.extend(133)
# int not innterable

In [105]:
#insted do tis 
abc.extend([1,3,3])

In [106]:
abc

['shubham birari', 31313, 'add', 'hello', True, 'adding', 1, 3, 3]

In [107]:
abc.extend("extend")
abc

['shubham birari',
 31313,
 'add',
 'hello',
 True,
 'adding',
 1,
 3,
 3,
 'e',
 'x',
 't',
 'e',
 'n',
 'd']

In [108]:
abc.count(3)

2

In [109]:
abc.pop(2)

'add'

In [110]:
abc

['shubham birari',
 31313,
 'hello',
 True,
 'adding',
 1,
 3,
 3,
 'e',
 'x',
 't',
 'e',
 'n',
 'd']

In [111]:
cAvR = 244
cAvR

244

In [112]:
_viky_ = "shuhdm"
_viky_

'shuhdm'

In [113]:
shubh = 123
SHUBH  = 132
if shubh == SHUBH:
    print("same")
else:
    print("not")

not

In [114]:
sdsd3231 = 12313
print("shubh3")

shubh3

In [115]:
# 1332 = 313
# print("1332")

In [116]:
# $shubham = 123213
# print("$shubham")

In [117]:
#space not allowed
# a b = 13
# a b

In [119]:
#a = str(input())

In [71]:
#abc.splits() #string cant be split it is mutable

In [11]:
a.split()

['shubham']

In [55]:
abc

['shubham birari',
 31313,
 'hello',
 True,
 'adding',
 1,
 3,
 3,
 'e',
 'x',
 't',
 'e',
 'n',
 'd']

In [69]:
n1 = "shuham"
def name():
    name = "biari"   
    return name

In [65]:
print(n1)

shuham

In [70]:
#print(n2) error: its local var
name()

'biari'

In [4]:
abc

['shubham birari', 31313, 'hello', True]

# List Operations

In [ ]:
#list
list1 = [13123,123.23,"askjdja" , 4+5j  ]
list2 = [(12,23,32,"shubh") , True , 3.5]
list3 = [3.2 , "kjad" , [12,12] , False]
list5 = [{"apple" , "banana"} , (13,"kndn" ,12+3j)]
list6 = [{"set1":"asdbasb" , "set2":123123 , "set3":True}]

#string
str1 = "shubham_birari"
word = "123asbdbj"
str3 = "2131233123"
str4 = "4+7j"
str5 = "[(12,23,32) , True , 3.5]"

#tuples

tup1 = (133,123.23,'kjadjldn' , True , 4+6j)
tup2 = ("jhadjha" , 23,[(12,23,32,"shubh") , True , 3.5])
tup3 = (133123,"1233kdas" , False )

In [3]:
list1.append("ajdadkja")

In [5]:
list1.extend(["jabdjadj" , 1313, [13123,133]])

In [9]:
list1.insert(1 ,"insert")

In [11]:
print(list1)

[13123, 'insert', 123.23, 'askjdja', (4+5j), 'ajdadkja', 'jabdjadj', 1313, [13123, 133], 'jabdjadj', 1313, [13123, 133]]

In [20]:
list1.__sizeof__()

168

In [24]:
import sys
print(sys.getsizeof(list1))

184

In [26]:
list1.pop()

1313

In [27]:
list1

[13123,
 'insert',
 123.23,
 'askjdja',
 (4+5j),
 'ajdadkja',
 'jabdjadj',
 1313,
 [13123, 133],
 'jabdjadj']

In [28]:
list1.remove("insert")

In [29]:
list1

[13123,
 123.23,
 'askjdja',
 (4+5j),
 'ajdadkja',
 'jabdjadj',
 1313,
 [13123, 133],
 'jabdjadj']

In [30]:
list1.index(13123)

0

In [31]:
list1[::-1]

['jabdjadj',
 [13123, 133],
 1313,
 'jabdjadj',
 'ajdadkja',
 (4+5j),
 'askjdja',
 123.23,
 13123]

In [32]:
list1.reverse()

In [35]:
list1.count(13123)

1

In [36]:
len(list1)

9

In [40]:
list1.__add__([12])

['jabdjadj',
 [13123, 133],
 1313,
 'jabdjadj',
 'ajdadkja',
 (4+5j),
 'askjdja',
 123.23,
 13123,
 12]

In [56]:
print(list1,end= "------\n")
print(list2)

['jabdjadj', [13123, 133], 1313, 'jabdjadj', 'ajdadkja', (4+5j), 'askjdja', 123.23, 13123]------
[(12, 23, 32, 'shubh'), True, 3.5]

In [58]:
print(list1+list2)

['jabdjadj', [13123, 133], 1313, 'jabdjadj', 'ajdadkja', (4+5j), 'askjdja', 123.23, 13123, (12, 23, 32, 'shubh'), True, 3.5]

In [60]:
# str = "shuham"
# list2 + str
#this is  invalid  because we cannot add string to list in python

In [62]:
list3

[3.2, 'kjad', [12, 12], False]

In [63]:
list3.clear()

In [64]:
list3

[]

In [69]:
list5[0] = ['apple', 'banana']

In [70]:
list5

[['apple', 'banana'], (13, 'kndn', (12+3j))]

In [74]:
list5[0].index("banana")

1

In [ ]:
#!!!!!!!!!!!! NICE BROTHER

In [76]:
print(list5*2)

[['apple', 'banana'], (13, 'kndn', (12+3j)), ['apple', 'banana'], (13, 'kndn', (12+3j))]

In [80]:
list4 = [12,123123,312,3312,31233,131,232,321,343,4343]

In [81]:
list4.sort(reverse=True)

In [82]:
list4

[123123, 31233, 4343, 3312, 343, 321, 312, 232, 131, 12]

In [79]:
list4.sort()
list4

[12, 131, 232, 312, 321, 343, 3312, 4343, 31233, 123123]

In [83]:
list4.__getitem__(5)

321

In [84]:
list4

[123123, 31233, 4343, 3312, 343, 321, 312, 232, 131, 12]

In [87]:
list4[3:5]

[3312, 343]

In [88]:
list1.__getitem__(0)

'jabdjadj'

In [89]:
list1

['jabdjadj',
 [13123, 133],
 1313,
 'jabdjadj',
 'ajdadkja',
 (4+5j),
 'askjdja',
 123.23,
 13123]

In [ ]:
list

In [17]:
len(list1)

12

In [19]:
list1.count(1313)

2

In [14]:
tuple = (31,434)

In [16]:
type(list1)

list

In [18]:
for i in list1:
    print(i)

13123
123.23
askjdja
(4+5j)

In [20]:
list1[2]

'askjdja'

In [92]:
list1[1:100]

[[13123, 133], 1313, 'jabdjadj', 'ajdadkja', (4+5j), 'askjdja', 123.23, 13123]

In [4]:
list1_to_tuple = tuple(list1)

In [5]:
list1_to_tuple

(13123, 123.23, 'askjdja', (4+5j))

In [7]:
type(list1_to_tuple)

tuple

In [9]:
list1[-1:-2]

[]

In [11]:
py_tuple = ('p', 'y', 't', 'h', 'o', 'n')
# but you can delete a whole tuple
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) => Error:", ex)

print(py_tuple) => Error: name 'py_tuple' is not defined

# string operationns

In [1]:
str = "shubham_birari"

In [2]:
str.capitalize()

'Shubham_birari'

In [3]:
str.casefold()

'shubham_birari'

In [9]:
str.count("s")

1

In [7]:
str[:]

'shubham_birari'

In [10]:
str.encode()

b'shubham_birari'

In [11]:
str.endswith("!!!!")

False

In [12]:
str.endswith("i")

True

In [14]:
str.find("_")

7

In [15]:
str.expandtabs()

'shubham_birari'

In [18]:
str.index("_")

7

In [19]:
str.isalnum()

False

In [20]:
str.isalpha()

False

In [ ]:
str.isidentifier

In [21]:
str

'shubham_birari'

In [28]:
new = print(str[0] , str[5])
new

s a

In [29]:
str.istitle()

False

In [30]:
str.isupper()

False

In [32]:
str.find("_")

7

In [34]:
str.join("sir")

'sshubham_birariishubham_birarir'

In [56]:
new = str.replace("shubham_birari" , "vicky" )

In [57]:
str

'shubham_birari'

In [60]:
print(new)

vicky

In [62]:
str.lstrip()

'shubham_birari'

In [64]:
str.split()

['shubham_birari']

In [67]:
str.partition("_")

('shubham', '_', 'birari')

In [69]:
str.join(_)

'sshubham_birarihshubham_birariushubham_biraribshubham_birarihshubham_birariashubham_birarimshubham_birarisshubham_birarihshubham_birariushubham_biraribshubham_birarihshubham_birariashubham_birarimshubham_birari_shubham_biraribshubham_birariishubham_birarirshubham_birariashubham_birarirshubham_birariishubham_birari_shubham_birarisshubham_birarihshubham_birariushubham_biraribshubham_birarihshubham_birariashubham_birarimshubham_birari_shubham_biraribshubham_birariishubham_birarirshubham_birariashubham_birarirshubham_birariishubham_biraribshubham_birariishubham_birarirshubham_birariashubham_birarirshubham_birarii'

In [71]:
str

'shubham_birari'

In [74]:
" ".join(str)

's h u b h a m _ b i r a r i'

In [79]:
str.rfind("_")

7

In [87]:
print(str.zfill(9))

shubham_birari

In [90]:
str.swapcase()

'SHUBHAM_BIRARI'

In [91]:
str

'shubham_birari'

In [93]:
str.isprintable()

True

In [94]:
str

'shubham_birari'

In [100]:
strs = "my name is"
int = 100
try:
    new  = strs + int
except Exception as ex:
    print("error : ",ex)

error :  can only concatenate str (not "int") to str

In [1]:
list

list

In [5]:
list1.append([1,2,3,4,"shubham"])

In [6]:
list1

[13123, 123.23, 'askjdja', (4+5j), [1, 2, 3, 4, 'shubham']]

In [11]:
list1[4].append("birari")

In [12]:
list1

[13123,
 123.23,
 'askjdja',
 (4+5j),
 [1, 2, 3, 4, 'shubham', ['birari'], 'birari']]

In [13]:
set = {1,23,4,4,4,5,6,(2,3,3,"shubh")}

In [14]:
set

{(2, 3, 3, 'shubh'), 1, 23, 4, 5, 6}

In [15]:
set.add("ram")
set

{(2, 3, 3, 'shubh'), 1, 23, 4, 5, 6, 'ram'}

In [16]:
set2 = {1,23,4,5,6,"ram"}
union =  set|set2
print(union)

{1, 4, 5, 6, 'ram', (2, 3, 3, 'shubh'), 23}

In [17]:
comman = set&set2
print(comman)

{1, 4, 5, 6, 'ram', 23}

In [18]:
set2.remove("ram")
print(set2)

{1, 4, 5, 6, 23}

In [20]:
set.__len__()

7

In [36]:
if set == set2 is True :
    print("orderd")
else:
    print("unordered")

unordered

In [25]:
set2

{1, 4, 5, 6, 23}

In [26]:
set2.remove(23)
set2

{1, 4, 5, 6}

In [30]:
set_copy = set.copy()

In [31]:
set_copy

{(2, 3, 3, 'shubh'), 1, 23, 4, 5, 6, 'ram'}

In [32]:
set_copy.clear()

In [33]:
set_copy

set()

In [35]:
set_copy.__len__()

0

In [47]:
print(set)
print(set2)
intersection = set.intersection(set2)

{1, 4, 5, 6, 23, 'ram', (2, 3, 3, 'shubh')}
{1, 4, 5, 6}

In [48]:
intersection

{1, 4, 5, 6}

In [50]:
set.union(set2)

{(2, 3, 3, 'shubh'), 1, 23, 4, 5, 6, 'ram'}

In [56]:
print(set.discard(43))

None

In [58]:
try:
    set.remove(43)
except Exception as ex:
    print(ex)

43

In [61]:
set.pop()

5

In [3]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6}

# Displaying the original set
print("Original set1:", set1)  # Output: {1, 2, 3, 4, 5}

# Using difference_update to remove elements from set1 that are in set2
set1.difference_update(set2)

# Displaying the modified set
print("Modified set1 after difference_update:", set1)  # Output: {1, 2, 5}

Original set1: {1, 2, 3, 4, 5}
Modified set1 after difference_update: {1, 2, 5}

In [6]:
set1.isdisjoint(set2) #return true if comman  elements \

True

In [9]:
tpl = 23,32,1,323,13,3,13,2

In [10]:
# so we can define without bracket

In [11]:
type(tpl)

tuple

In [14]:
tuple = (13,312,(2,3,3),("kjad" , 31,31,32))

In [15]:
type(tuple)

tuple

In [17]:
tuple[1]

312

In [1]:
list = [("shubham" , 1313123) , (13123 , "lksfaskfnkfnk")]
list = dict(list)
type(list)

dict

In [2]:
print("enter your age")
age = int(input())
if age<18:
    print("you are a minor you cant vote")
elif age>18:
    print("you are eliible  to vote")
else:
    print("enter the valid  age")

enter your age
you are eliible  to vote

In [5]:
marks = int(input())
if marks>=70 and  marks<=80:
    print("c grade")
elif marks >=80 and  marks <=90:
    print("B grade")
elif marks>=90 and   marks <=100:
    print("A grade")
else :
    print("pass")

c grade

In [2]:
i = 1
while i<=11:
    print(i)
    i = i+2

1
3
5
7
9
11

In [3]:
i=1
while i<15:
    print(i)
    i = i +1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [5]:
i = 3
while i<=30:
    print(i)
    i = i+3

3
6
9
12
15
18
21
24
27
30

In [13]:
for i in range(11):
    print(i*3)

0
3
6
9
12
15
18
21
24
27
30

In [20]:
i = 1
while  i <= 10:
    print(i*3 , end=" ")
    i+=1
else:
    print("\n  complete")

3 6 9 12 15 18 21 24 27 30
  complete

In [24]:
for i in range(3 , 31 , 3):
    print(i , end=" ")

3 6 9 12 15 18 21 24 27 30

In [32]:
n = 8
for i in range(0,n):
    for j in range(0,i-1):
        print("*" , end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [33]:
n = 6
for row in range(0,n):
    for col in range(0,row+1):
        print("*" , end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [37]:
n = 8
for  i in range(0 , n):
    for j in range(0 , n):
        print("8" , end="")
    print("\n")

88888888

88888888

88888888

88888888

88888888

88888888

88888888

88888888

In [14]:
n = int(input("Enter the no.  of rows :"))

for i in range(n , 0 , -1):
    for j in range(n-i):
        print(" " , end="")

    for j in range(2*i-1):
        print("*" , end = "")
    print("\r")

***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [36]:
#n = int(input("Enter the no.  of rows :"))
n = 9
print(n)

for i in range(0  , n):
    for j in range(0 , n-i):
        print(" " , end = "")

    for j in range(2*i-1):
        print("*" , end= "")
    print("\r")

9

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************

In [30]:
n = int(input("Enter the no.  of rows :"))

for i in range(0  , n):
    for j in range(0 , n):
        if i == j or i+j == n-1:
            print("*" , end=" ")
        else:
            print(" ", end=" ")
    print()

*             *
  *         *
    *     *
      * *
      * *
    *     *
  *         *
*             *

In [5]:
i = 0
while i<5:
    i+=1
    print(i)

1
2
3
4
5

In [ ]:
#factorial 
n = 5
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

In [9]:
i = 6
while i>+1:
    i-=1
    print(i)

5
4
3
2
1

In [23]:
for  i in range(6):
    str = [i]
    print(str[::-1])

[0]
[1]
[2]
[3]
[4]
[5]

In [26]:
for i in range(6 , 1 , -1):
    print(i)

6
5
4
3
2

In [27]:
list = [313,12312,31231,313,123,123123,3,13]
for i in list:
    print(i)

313
12312
31231
313
123
123123
3
13

In [34]:
list2 = [1,23,3,4,5]
sum = 0
for i in list2:
    sum += i


print(sum)

36

In [35]:
#factorial 
n = 5
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

In [41]:
 n = 5
for i in range(1,11):
   print(n * i)

5
10
15
20
25
30
35
40
45
50

In [42]:
list

[313, 12312, 31231, 313, 123, 123123, 3, 13]

In [45]:
even = []
odd = []
for i in list:
    if i % 2==0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[12312]
[313, 31231, 313, 123, 123123, 3, 13]

In [1]:
list = ["apple" , "banana" ,"grapes" ]

In [2]:
"apple" in list

True

In [3]:
list

['apple', 'banana', 'grapes']

In [4]:
list[0] = 'mango'
print(list)

['mango', 'banana', 'grapes']

In [7]:
list[0] = list[1]

In [8]:
list

['banana', 'banana', 'grapes']

In [ ]:
list

In [3]:
def addition():
    a = 10
    b = 20
    return a+b

In [4]:
addition()

30

In [6]:
def add(a , b):
    c = a + b
    print(c)

In [7]:
add(2,3)

5

In [8]:
def sub(a,b):
    c = a-b
    return c

In [9]:
sub(5,3)

2

In [10]:
def div(a,b):
    return a/b

In [11]:
div(6,3)

2.0

In [1]:
def is_even_odd(num):
    if num%2==0:
        print("even ")
    else:
        print("odd ")

In [2]:
is_even_odd(43)

odd

In [3]:
is_even_odd(10)

even

In [4]:
import calendar

In [6]:
calendar.isleap(1997)

False

In [11]:
def max_of_numbers():
    numbers = []
    for i in range(5):
        num = int(input("Enter a number: "))
        numbers.append(num)
    print(numbers)
    print("The maximum number is:", max(numbers))

max_of_numbers()

[123, 32, 12, 33, 12]
The maximum number is: 123

In [22]:
def sumOfNumbers():
    """This functions gives the sum of the numbers  """
    numbers = []
    for i in range(3):
        num = int(input("Enter a number: "))
        numbers.append(num)
    
    print(numbers)

    sum = 0
    for i in numbers:
        sum += i
    print(sum)

sumOfNumbers()

[23, 32, 44]
99

In [19]:
sumOfNumbers()

[1, 2, 3, 4, 5]
15

In [24]:
help(sumOfNumbers)

Help on function sumOfNumbers in module __main__:

sumOfNumbers()
    This functions gives the sum of the numbers

In [25]:
sum([23,32,12])

67

In [28]:
#lambda functions
summm  = lambda a , b : a+b
summm(3,4)

7

In [42]:
def is_palindrom():
    word = str(input("enter the word:"))
    if word == "".join(reversed(word)):
        print("it is palindrom")
    else:
        print("it is not palindrom")

In [45]:
is_palindrom()

it is not palindrom

In [79]:
def factorial():
   n = int(input("Enter the number: "))
   facto = 1
   for i in range(1, n + 1):
       facto *= i
   print("Factorial of", n, "is", facto)

factorial()

Factorial of 5 is 120

In [80]:
factorial()

Factorial of 3 is 6

In [82]:
for i in range(1 , 5):
    print(i)

1
2
3
4

In [ ]:
def max_of_numbers(*numbers):
    numbers = []
    for i in range(5):
        num = int(input("Enter a number: "))
        numbers.append(num)
    print(numbers)
    print("The maximum number is:", max(numbers))

max_of_numbers()

In [8]:
def max_of_numbers(*args):
    numbers = list(args)  # Convert args to a list
    print(numbers)
    print("The maximum number is:", max(numbers))

# Call the function with any number of arguments
#max_of_numbers(3, 5, 2, 8, 6)

In [24]:
add = lambda a,b : a+b

add(12,32)

44

In [26]:
[i*2 for i in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
s = "shubham"

In [31]:
s = iter(s)

In [33]:
next(s)

'h'

In [32]:
next(s)

's'

In [38]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [39]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [37]:
pwd

'c:\\Users\\shubh\\ineuron ml16\\ITP_pythonCore'

In [2]:
class students:
    def __init__(self , name , roll_no , age , classs ):
        self.name = name
        self.roll_no = roll_no
        self.age = age
        self.classs = classs

def show_details(self):
    print("Name:", self.name , "roll number:" , self.roll_no , "age:" , self.age , "class:" , self.classs)

In [3]:
student1 = students("shubham" , 21 , 14 , "A")
student2  =  students("ram" , 32 , 14 , "B")
student3 = students("sam" , 420 , 13 , "A")

In [5]:
student1.age

14

In [6]:
student3.name

'sam'

In [9]:
show_details(student1)

Name: shubham roll number: 21 age: 14 class: A

In [10]:
show_details(student3)

Name: sam roll number: 420 age: 13 class: A

In [1]:
li = [12,23,44,55,56]

In [2]:
li[2:]+li[:2]

[44, 55, 56, 12, 23]

In [3]:
sorted(li)

[12, 23, 44, 55, 56]

In [8]:
li.sort()

In [15]:
#**Sort a List Without Using the `sort()` Method**
li = [12,23,343,45,31]
accen_order =[]
for i in li:
    min_value = min(li)
    accen_order.append(min_value)
    li.remove(min_value)

print(accen_order)

[12, 23, 31]

In [17]:
li = [12,23,343,45,31]

In [18]:
set(li)

{12, 23, 31, 45, 343}

In [ ]:
data

In [1]:
my_dict = {"name": "Alice", "age": 30}
print(my_dict.get("city", "Unknown"))   
print(my_dict.get("name"))

Unknown
Alice

In [2]:
my_dict = {"a": 1, "b": 2}

In [4]:
print(my_dict.get("C"))

None

types  of inheritence

In [1]:
#single inher
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    
class ElectricCar(Car):
    def __init__(self,brand ,model , year, battery_type ):
        super().__init__(brand,model)
        self.year = year
        self.battery_type = battery_type

In [2]:
Ev1 = ElectricCar("tata" , "nexon",2024 , "30kw" )

In [3]:
Ev1.brand

'tata'

In [4]:
#multiple inher
# multiple inheritance
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Breed:
    def breed_type(self):
        return "Gavthi"

class Dog(Animal, Breed):
    def Dog_info(self):
        print(f"This is a {self.name} of {self.age} years old and is a {self.breed_type()} dog.")

In [5]:
sheru = Dog("sheru" , 3  )

In [7]:
sheru.Dog_info()

This is a sheru of 3 years old and is a Gavthi dog.

In [8]:
sheru.age

3

In [10]:
#multilevel inher
class Car:
    def __init__(self , name):
        self.name = name

    def show_CarName(self):
        print(f"The  car name is {self.name}")

class brand(Car):
    def __init__(self ,name, country):
        super().__init__(name)
        self.country = country
     
    def show_country(self):
        print(f"The car brand is from {self.country}")

class model(brand):
    def __init__(self, name , country ,brand_name):
        super().__init__(name, country)
        self.brand_name = brand_name

    def show_brand(self):
        print(f"The car model is {self.brand_name}")

In [11]:
car1 = model("Nexon" , "india" ,"tata" )

In [13]:
car1.show_CarName()

The  car name is Nexon

In [14]:
car1.show_brand()

The car model is tata

In [ ]:
#hierarchical
# Parent Class
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name} makes a sound.")

class Dog(Animal):
    def speak(self):
        print(f"{self.name} barks.")


class Cat(Animal):
    def speak(self):
        print(f"{self.name} meows.")

class Cow(Animal):
    def speak(self):
        print(f"{self.name} moos.")

In [17]:
dog = Dog("sheru")
cow = Cow("gayya")

In [20]:
dog.speak()
cow.speak()

sheru barks.
gayya moos.

In [3]:
try:
    print(abd)
raise Exception ('Error in function')

SyntaxError: expected 'except' or 'finally' block (4130931286.py, line 3)

In [ ]:
def password_check():
    correct_password = "secure123"  
    max_attempts = 3  

    for attempt in range(1, max_attempts + 1):
        try:
            entered_password = int(input(f"Attempt {attempt}/{max_attempts}: Enter your password: ")) #here we handling the runtime eror by giving the input as string 

            if entered_password == correct_password:
                print("Access granted!")
                return  # Exit the function if the password is correct
            else:
                remaining_attempts = max_attempts - attempt
                if remaining_attempts > 0:
                    print(f"Incorrect password. You have {remaining_attempts} attempts left.")
                else:
                    print("Access denied. You have used all attempts.")
        except Exception as e:
            print(f"An error occurred: {e}")
            print("Please try again.")

password_check()

An error occurred: invalid literal for int() with base 10: 'asdas'
Please try again.

In [2]:
def password_check():
    correct_password = "secure123"  
    max_attempts = 3  

    attempt = 0
    while attempt < max_attempts:
        try:
            entered_password = input(f"Attempt {attempt + 1}/{max_attempts}: Enter your password: ")
            
            if entered_password == correct_password:
                print("Access granted!")
                return  # Exit the function when the password is correct
            
            attempt += 1  # Increment attempt counter after incorrect input
            
            remaining_attempts = max_attempts - attempt
            if remaining_attempts > 0:
                print(f"Incorrect password. You have {remaining_attempts} attempts left.")
            else:
                print("Access denied. You have used all attempts.")
        except KeyboardInterrupt:
            print("\nOperation interrupted by the user. Exiting...")
            return
        except EOFError:
            print("\nUnexpected end of input. Exiting...")
            return
        except Exception as e:
            print(f"An unexpected error occurred: {e}")
            return

password_check()

Incorrect password. You have 2 attempts left.
Incorrect password. You have 1 attempts left.
Access denied. You have used all attempts.

In [2]:
# define ur own  error statement by raise  exception in ur Function
def divide_numbers(a, b):
    if b == 0:
        raise Exception("Division by zero is not allowed!")
    return a / b

try:
    result = divide_numbers(10, 0) # for this function it ur owwn statement 
except Exception as e:
    print(f"Error: {e}")

Error: Division by zero is not allowed!

In [13]:
try:
    file = open("read.txt" , "r")
except Exception as e:
    print(f"write file first becaus :{e}")
else:
    print("you have succes read file ")
finally:
        try:
            file.close()
        except Exception as e:
             print(f"first creat file-Error:{e}")

write file first becaus :[Errno 2] No such file or directory: 'read.txt'
first creat file-Error:name 'file' is not defined

In [16]:
try:
    file = open(r"C:\Users\shubh\ineuron ml16\ITP_pythonCore\Shubham_Birari_Python_W_3.txt" , "r")
except Exception as e:
    print(f"write file first becaus :{e}")
else:
    print("you have succesful read file ")
finally:
        try:
            file.close()
        except Exception as e:
             print(f"first creat file-Error:{e}")

you have succesful read file

In [17]:
file.read()

ValueError: I/O operation on closed file.

In [4]:
pwd()

'c:\\Users\\shubh\\ineuron ml16\\ITP_pythonCore'

In [ ]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is 7293-F0DC

 Directory of c:\Users\shubh\ineuron ml16\ITP_pythonCore

09-12-2024  03:07 PM    <DIR>          .
05-12-2024  07:22 PM    <DIR>          ..
26-10-2024  11:30 AM             5,010 assignments.ipynb
04-10-2024  05:28 PM            53,897 ITPM FINAL TEST QUESTION BANK.pdf
07-12-2024  11:48 AM           368,823 oops.ipynb
12-11-2024  03:52 PM             6,245 pattern_programing.ipynb
09-12-2024  03:08 PM           118,371 practice-code.ipynb
07-12-2024  10:37 AM            84,805 pyth interview ques.ipynb
23-11-2024  10:58 AM             5,271 python ITPM test2.txt
06-11-2024  03:53 PM           130,294 python the interview questions.pdf
11-10-2024  12:41 PM            12,979 python_basic.ipynb
18-10-2024  10:06 AM           103,162 Python-ppt (3).pptx
07-12-2024  12:17 PM             5,265 Shubham_Birari_Python_W_3 written.py
07-12-2024  12:00 PM             5,454 Shubham_Birari_Python_W_3.txt
07-12-2024  12:15 PM               125 tempCodeRunnerFile.py
07-11-2024  02:10 PM            12,856 test3.ipynb
              14 File(s)        912,557 bytes
               2 Dir(s)  47,861,112,832 bytes free

In [25]:
import re

def validate_email(email):
    # Regular expression for a valid email
    email_regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]'

    if not re.match(email_regex, email):
        raise ValueError("Invalid email format!")
    return True

try:
    email_id = input("Enter your email ID: ")
    if validate_email(email_id):
        print("Email ID is valid!")
        
except ValueError as ve:
    print(f"Error: {ve}")
    print("please try again")
except Exception as e:
    print(f"A error is {e}")

else:
    print("entr the pass")

Error: Invalid email format!
please try again

In [28]:
dir

In [29]:
## write the file in many ways : file haandling

In [30]:
# one way is 
file  = open("sample.txt" , "w")
file.write("This is the  first line ")
file.close()

In [32]:
#other way on jupytr notebook 
# %%writefile sample.txt
# This is second line..

In [ ]:
# Reading from a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)
# No need to explicitly call file.close() as it's handled by the with block

In [1]:
list

list

In [3]:
lis = [21,23,12]

In [5]:
lis.sort()

In [6]:
lis

[12, 21, 23]

In [7]:
lis[-1]

23

In [10]:
numbers  = []
for i in range(3):
    numbers.append(int(input("enter num")))

In [11]:
numbers

[12, 323, 23]

In [12]:
#4.Check if a string is a palindrome.
string="mom"
if string == string[::-1]:
    print("it is")
else:
    print("its not")

it is

In [15]:
#5.Count the number of vowels in a string
string = "hello"
vowel_count = sum(1 for char in string if char.lower() in 'aeiou')

print(vowel_count)

2

In [16]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
# list comprehension is Python is a concise way to create lists.
#  It allows you to generate a new list by performing operations on each element of an existing iterable 
# (like a list, tuple, or range) in a single line of code.

In [2]:
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#A lambda function in Python is a small, anonymous function defined using the lambda keyword. 
# Unlike regular functions defined with def, lambda functions are single-expression functions without a name (unless assigned to a variable). 
# They are often used for short, simple operations where defining a full function would be overkill.

In [3]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [4]:
def decorator(add):
    def sum():
        print("Welcome the addtion of two number is:")
        add()
        print("Thanks visit again:)")
    return sum

@decorator 
def add():
    a=10
    b=20
    print(a+b)

add()

Welcome the addtion of two number is:
30
Thanks visit again:)

In [6]:
def log_arguments(func):
    def wrapper(*args, **kwargs):
        print(f"Arguments were: {args}, {kwargs}")
        return func(*args, **kwargs)
    return wrapper

@log_arguments
def add(a, b):
    return a + b

result = add(5, 10)
print(f"Result: {result}")

Arguments were: (5, 10), {}
Result: 15

In [3]:
x = [12,32,123]
x*=2
x

[12, 32, 123, 12, 32, 123]

In [1]:
strr = "shubham_birari"

In [2]:
reverse = strr[::-1]
print(reverse)

irarib_mahbuhs

In [6]:
"".join(reversed(strr))

'irarib_mahbuhs'

In [10]:
str_set = set(strr)

In [11]:
str_set

{'_', 'a', 'b', 'h', 'i', 'm', 'r', 's', 'u'}

In [15]:
str_set.pop()

'a'

In [84]:
list_str = list(strr)

In [85]:
list_str

['s', 'h', 'u', 'b', 'h', 'a', 'm', '_', 'b', 'i', 'r', 'a', 'r', 'i']

In [79]:
list_str.pop()

'i'

In [89]:
reverse2 = []
while list_str:
    reverse2.append(list_str.pop())

In [81]:
reverse2

['r', 'a', 'r', 'i', 'b', '_', 'm', 'a', 'h', 'b', 'u', 'h', 's']

In [83]:
str(reverse2)

"['r', 'a', 'r', 'i', 'b', '_', 'm', 'a', 'h', 'b', 'u', 'h', 's']"

In [90]:
"".join(reverse2)

'irarib_mahbuhs'

In [6]:
try:
    print(10/0)
except ZeroDivisionError as e:
    print(f"You can't divide by zero!")

You can't divide by zero!

In [7]:
def excep_handle():
    try:
        print(10/0)
    except Exception as e:
        print(f"error is {e} : You can't divide by zero!")

excep_handle()

error is division by zero : You can't divide by zero!

In [11]:
try:
    print(10/0)
except Exception as e:
     print(f"An error occurred: {type(e).__name__} - {e}")

An error occurred: ZeroDivisionError - division by zero

In [9]:
print(10/0)

ZeroDivisionError: division by zero

In [ ]:
# lsit

In [1]:
#multithreading

In [2]:
import time

print("Task starting...")

# Record the start time
start = time.perf_counter()

# Simulate a task by pausing execution for 3 seconds
time.sleep(3)

# Record the end time
end = time.perf_counter()

# Calculate the elapsed time
elapsed_time = end - start

print(f"Task completed in {elapsed_time:.2f} seconds.")

Task starting...
Task completed in 3.00 seconds.

In [3]:
import threading
import time

# Function to simulate a task
def task(name, duration):
    print(f"Thread {name} starting...")
    time.sleep(duration)  # Simulate task duration
    print(f"Thread {name} finished after {duration} seconds.")

# Creating threads
thread1 = threading.Thread(target=task, args=("A", 3))
thread2 = threading.Thread(target=task, args=("B", 5))

# Starting threads
thread1.start()
thread2.start()

# Waiting for threads to finish
thread1.join()
thread2.join()

print("All threads completed.")

Thread A starting...
Thread B starting...
Thread A finished after 3 seconds.
Thread B finished after 5 seconds.
All threads completed.

In [2]:
import os

class DataStorage:
    def init(self, filename):
        self.filename = filename
        # Create the file if it doesn't exist
        if not os.path.exists(filename):
            open(filename, 'w').close()

    def create(self, data):
        with open(self.filename, 'a') as file:
            file.write(data + '\n')
        print("Data added!")

    def read(self):
        with open(self.filename, 'r') as file:
            content = file.readlines()
        if content:
            for line in content:
                print(line.strip())
        else:
            print("File is empty.")

    def update(self, old_data, new_data):
        with open(self.filename, 'r') as file:
            lines = file.readlines()

        updated = False
        with open(self.filename, 'w') as file:
            for line in lines:
                if line.strip() == old_data:
                    file.write(new_data + '\n')
                    updated = True
                else:
                    file.write(line)

        if updated:
            print("Data updated!")
        else:
            print("Data not found.")

    def delete(self, data_to_delete):
        with open(self.filename, 'r') as file:
            lines = file.readlines()

        with open(self.filename, 'w') as file:
            for line in lines:
                if line.strip() != data_to_delete:
                    file.write(line)

        print("Data deleted if it existed!")

# Example Usage
storage = DataStorage()
storage.create("John Doe, 30")
storage.read()
storage.update("John Doe, 30", "John Doe, 31")
storage.read()
storage.delete("John Doe, 31")
storage.read()

AttributeError: 'DataStorage' object has no attribute 'filename'

In [3]:
os

In [6]:
import os

In [10]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [13]:
os.getcwd()

'c:\\Users\\shubh\\ineuron ml16\\ITP_pythonCore'