In [14]:
# practice code !!!

###


1
Here are the interview questions: 
1.String : 
1. **Reverse a String** 
2. **Check if a String is a Palindrome** 
3. **Count the Number of Vowels in a String** 
4. **Find the Frequency of Characters in a String** 
5. **Check if Two Strings are Anagrams** 
6. **Remove Duplicate Characters from a String** 
7. **Check if a String Contains Only Digits** 
8. **Convert the First Letter of Each Word to Uppercase** 
2.List: 
1. **Reverse a List Without Using Built-in Functions** 
2. **Find the Largest and Smallest Elements in a List** 
3. **Remove Duplicates from a List** 
4. **Check if a List is Empty** 
5. **Find the Second Largest Element in a List** 
6. **Count the Frequency of Each Element in a List** 
7. **Flatten a Nested List** 
8. **Merge Two Lists and Remove Duplicates** 
9. **Find the Intersection of Two Lists** 
10. **Rotate a List by `n` Positions** 
11. **Check if Two Lists are Identical** 
12. **Split a List into Even and Odd Numbers** 
13. **Find the Cumulative Sum of a List** 
14. **Sort a List Without Using the `sort()` Method** 
15. **Find All Pairs in a List That Sum Up to a Given Number** 
 
3.Set: 
1. **Remove Duplicates from a List Using a Set** 
2. **Find the Union of Two Sets** 
3. **Find the Intersection of Two Sets** 
4. **Find the Difference Between Two Sets** 
5. **Check if a Set is a Subset of Another Set** 
6. **Check if Two Sets are Disjoint** 
7. **Remove an Element from a Set** 
8. **Add an Element to a Set** 
9. **Find the Symmetric Difference Between Two Sets** 
10. **Check if a Set is Empty** 
11. **Convert a List to a Set and Vice Versa** 
12. **Check if Two Sets are Equal** 
13. **Get All Unique Characters from a String Using a Set** 
14. **Count the Number of Unique Elements in a List** 
15. **Iterate Over a Set and Print Each Element** 
 
4. **Tuple Questions:** 
1. **Access Elements in a Tuple** 
2. **Check if an Element Exists in a Tuple** 
3. **Count the Occurrences of an Element in a Tuple** 
4. **Find the Index of an Element in a Tuple** 
5. **Convert a List to a Tuple and Vice Versa** 
6. **Unpack a Tuple into Variables** 
7. **Concatenate Two Tuples** 
8. **Check if Two Tuples are Identical** 
9. **Sort a Tuple** 
10. **Find the Length of a Tuple** 
11. **Create a Tuple with Single Element (and Explain the Syntax)** 
12. **Reverse a Tuple** 
13. **Convert a Tuple of Tuples to a Single Tuple** 
14. **Iterate Over a Tuple and Print Each Element** 
15. **Create a Tuple Without Using Parentheses (Tuple Packing)** 
 
5. **Dictionary Questions:** 
1. **Access the Value Associated with a Key** 
2. **Check if a Key Exists in a Dictionary** 
3. **Iterate Over a Dictionary and Print All Key-Value Pairs** 
4. **Merge Two Dictionaries** 
5. **Remove a Key from a Dictionary** 
6. **Find the Maximum and Minimum Values in a Dictionary** 
7. **Sort a Dictionary by Keys or Values** 
8. **Convert Two Lists (Keys and Values) into a Dictionary** 
9. **Get a List of All Keys and Values Separately** 
10. **Count the Frequency of Each Character in a String Using a Dictionary** 
11. **Update the Value of an Existing Key in a Dictionary** 
12. **Get the Default Value for a Non-Existent Key Without Raising an Error** 
13. **Reverse the Keys and Values in a Dictionary** 
14. **Create a Dictionary Using Dictionary Comprehension** 
15. **Remove All Entries from a Dictionary (Clear the Dictionary)** 
 
 
 
 
`if-else` statements question: 
 
1. **Check if a Number is Positive, Negative, or Zero** 
2. **Determine if a Person is Eligible to Vote Based on Age** 
3. **Check if a Year is a Leap Year** 
4. **Find the Largest of Three Numbers** 
5. **Check if a Character is a Vowel or Consonant** 
6. **Determine if a Given Number is Even or Odd** 
7. **Check if a String is Empty or Not** 
8. **Determine the Grade Based on a Score (e.g., A, B, C, D, F)** 
9. **Check if Two Numbers are Equal, Greater, or Lesser** 
10. **Check if a Number is Divisible by Both 3 and 5** 
11. **Implement a Simple Calculator Using `if-elif-else` Statements** 
12. **Check if a Number is Within a Certain Range (e.g., between 1 and 100)** 
13. **Determine if a String Starts with a Vowel** 
14. **Check if a Given Year is a Century Year** 
15. **Determine if a Person is a Child, Teen, or Adult Based on Age** 
 
 For Loop Questions:

1. **Print All Elements in a List Using a For Loop** 
2. **Calculate the Sum of All Numbers in a List** 
3. **Find the Factorial of a Given Number** 
4. **Print the Multiplication Table of a Given Number** 
5. **Print the Fibonacci Sequence Up to `n` Terms** 
6. **Count the Number of Even and Odd Numbers in a List** 
7. **Reverse a String Using a For Loop** 
8. **Find the Maximum and Minimum Values in a List** 
9. **Print All Prime Numbers Within a Given Range** 
10. **Iterate Over a Dictionary and Print Each Key-Value Pair** 
11. **Find the Length of Each Word in a List of Strings** 
12. **Create a List of Squares for Numbers From 1 to 10** 
13. **Filter Out Only Positive Numbers From a List** 
14. **Print Each Character of a String Separately** 
15. **Check if an Element Exists in a List Without Using the `in` Keyword** 
 
While Loop Questions:

1. **Print Numbers From 1 to 10 Using a While Loop** 
2. **Calculate the Sum of Digits of a Given Number** 
3. **Reverse a Number Using a While Loop** 
4. **Print a Countdown From 10 to 1** 
5. **Find the Greatest Common Divisor (GCD) of Two Numbers** 
6. **Keep Taking Input From the User Until They Enter 'exit'** 
7. **Check if a Number is a Palindrome** 
8. **Generate the Fibonacci Sequence Until a Specified Number** 
9. **Calculate the Power of a Number Without Using the `**` Operator** 
10. **Print All Even Numbers Between 1 and 100** 
11. **Sum of Natural Numbers Until a Given Number** 
12. **Implement a Simple Menu-Driven Program Using While Loop** 
13. **Simulate a Basic Password Check That Limits to 3 Attempts** 
14. **Keep Multiplying a Number by 2 Until It Becomes Greater Than 1000** 
15. **Print the Digits of a Number in Reverse Order**

1.String : 
1. **Reverse a String** 
2. **Check if a String is a Palindrome** 
3. **Count the Number of Vowels in a String** 
4. **Find the Frequency of Characters in a String** 
5. **Check if Two Strings are Anagrams** 
6. **Remove Duplicate Characters from a String** 
7. **Check if a String Contains Only Digits** 
8. **Convert the First Letter of Each Word to Uppercase**

In [8]:
#Calculate the Power of a Number Without Using the `` Operator**
#===========================================================
pow(3,2)

9

In [2]:
str = "My name is shubham"

In [5]:
str[::-1]

'mahbuhs si eman yM'

In [4]:
"".join(reversed(str2))

'tenet'

In [3]:
str2 == str2[::-1]

True

In [2]:
str2 = "tenet"
if str2 == "".join(reversed(str2)):
    print("it is palindrom")
else:
    print("it is not palindrom")

it is palindrom

In [28]:
#3. **Count the Number of Vowels in a String** 

str = "my name is shubham"
vowels = "aeiouAEIOU"
count = []
for i in str:
    if i in vowels:
        count.append(i)

len(count)

5

In [29]:
#4. **Find the Frequency of Characters in a String** 
str.count("a")

2

In [1]:
5.# **Check if Two Strings are Anagrams** 
str1 = "listen"
str2 = "silent"

# Convert both strings to lowercase and sort the characters
is_anagram = sorted(str1.lower()) == sorted(str2.lower())

# Output the result
print("The strings are anagrams." if is_anagram else "The strings are not anagrams.")

The strings are anagrams.

In [2]:
str1

'listen'

In [3]:
str1.lower()

'listen'

In [5]:
sorted(str1.lower())==sorted(str2.lower())

True

In [9]:
#6. **Remove Duplicate Characters from a String** 
strg = "shubham_birari"

In [10]:
new_str = ""

for i in strg:
    if i not in new_str:
        new_str += i

new_str

'shubam_ir'

In [11]:
set(strg)

{'_', 'a', 'b', 'h', 'i', 'm', 'r', 's', 'u'}

In [38]:
#7. **Check if a String Contains Only Digits** 
str3 = "james bond 007"
str.isnumeric()

False

In [39]:
#8. **Convert the First Letter of Each Word to Uppercase**

str

'my name is shubham'

In [42]:
str.title()

'My Name Is Shubham'

### 
2.List: 
1. **Reverse a List Without Using Built-in Functions** 
2. **Find the Largest and Smallest Elements in a List** 
3. **Remove Duplicates from a List** 
4. **Check if a List is Empty** 
5. **Find the Second Largest Element in a List** 
6. **Count the Frequency of Each Element in a List** 
7. **Flatten a Nested List** 
8. **Merge Two Lists and Remove Duplicates** 
9. **Find the Intersection of Two Lists** 
10. **Rotate a List by `n` Positions** 
11. **Check if Two Lists are Identical** 
12. **Split a List into Even and Odd Numbers** 
13. **Find the Cumulative Sum of a List** 
14. **Sort a List Without Using the `sort()` Method** 
15. **Find All Pairs in a List That Sum Up to a Given Number**

In [18]:
#rotate a list by n 
lis2 = [12,32,44,55,56]
#be sure n is less than the length of the list
n = 2
# rotate the list to the right by n places
lis2_right = lis2[-n:] + lis2[:-n]
# by left rotation
lis2_left = lis2[n:] + lis2[:n]

In [19]:
lis2[2:]

[44, 55, 56]

In [20]:
lis2[:2]

[12, 32]

In [17]:
print(lis2_left)
print(lis2_right)

[44, 55, 56, 12, 32]
[55, 56, 12, 32, 44]

In [1]:
list = [123,3,1233,525,56,234]

In [5]:
list.reverse()
print(list)

[234, 56, 525, 1233, 3, 123]

In [9]:
print(min(list))
print(max(list))

3
1233

In [12]:
#. **Remove Duplicates from a List**
list2 = [2,23,23,33,33,34,45,56,67]
new_list = set(list2)
new_list

{2, 23, 33, 34, 45, 56, 67}

In [13]:
type(new_list)

set

In [14]:
list(new_list)

[33, 2, 34, 67, 45, 23, 56]

In [24]:
new_list2 = []
list2 = [2,23,23,33,33,34,45,56,67]
for i in list2:
    if i not in new_list2:
        new_list2.append(i)
    

print(new_list2)

[2, 23, 33, 34, 45, 56, 67]

In [28]:
#Check if a List is Empty** 
if len(list) == 0:
    print("The list is empty")
else:
    print("The list is not empty")

The list is not empty

In [32]:
#*Find the Second Largest Element in a List** 
print(list2)
unique_sorted_list = sorted(set(list2))
if len(unique_sorted_list) < 2:
    print("The list does not have a second largest element.")
else:
    print("The second largest element is:", unique_sorted_list[-2])

[2, 23, 23, 33, 33, 34, 45, 56, 67]
The second largest element is: 56

In [6]:
#Count the Frequency of Each Element in a List**
print(list2)
for i in list2:
    print("Frequency of ",i,"is : ",list2.count(i))

[2, 23, 23, 33, 33, 34, 45, 56, 67]
Frequency of  2 is :  1
Frequency of  23 is :  2
Frequency of  23 is :  2
Frequency of  33 is :  2
Frequency of  33 is :  2
Frequency of  34 is :  1
Frequency of  45 is :  1
Frequency of  56 is :  1
Frequency of  67 is :  1

In [10]:
#Flatten a Nested Lis
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [19]:
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))  # Recursive call to flatten nested lists
        else:
            flat_list.append(item)
    return flat_list

# Now you can use flatten() to flatten a nested list
nested_list = [[1, 2], 23, 32, [3, 4], [5, 6]]
flat_list = flatten(nested_list)
print(flat_list)

[1, 2, 23, 32, 3, 4, 5, 6]

In [18]:
nested_list = [[1, 2], 23, 32, [3, 4], [5, 6]]
flat_list = []
stack = nested_list[:]  # Copy the original list to avoid modifying it

while stack:
    item = stack.pop(0)  # Remove the first item in stack
    if isinstance(item, list):
        stack = item + stack  # Add the contents of item to the beginning of stack
    else:
        flat_list.append(item)  # Append non-list items to flat_list

print(flat_list)

[1, 2, 23, 32, 3, 4, 5, 6]

In [26]:
#*Merge Two Lists and Remove Duplicates**
list = [12,32,123,4]
print(list2) 
print(list)

merge_list = list + list2
set(merge_list)

[2, 23, 23, 33, 33, 34, 45, 56, 67]
[12, 32, 123, 4]

{2, 4, 12, 23, 32, 33, 34, 45, 56, 67, 123}

In [40]:
#*Find the Intersection of Two Lists*
list1 = [133,34,45,66]
list2 = [231,423,34,66]
list_copy = set(list1)
list2_copy = set(list2)
interset = list_copy.intersection(list2_copy)
interset

{34, 66}

In [48]:
 #**Check if Two Lists are Identical**

 print(list1)
 print(list2)

 if sorted(list1) == sorted(list2):
   print("The lists are identical in content, regardless of order.")
 else:
  print("The lists are not identical.")

[133, 34, 45, 66]
[231, 423, 34, 66]
The lists are not identical.

In [50]:
#Split a List into Even and Odd Numbers*

even = []
odd = []
for i in list:
    if i % 2==0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[34, 66]
[133, 45]

In [3]:
#**Sort a List Without Using the `sort()` Method**
list1 = [22,2,43,54,234]
accen_order =[]
while list1:
    min_value = min(list1)
    accen_order.append(min_value)
    list1.remove(min_value)

In [4]:
accen_order

[2, 22, 43, 54, 234]

In [64]:
accen_order

[34, 45, 66, 133]

In [65]:
#**Find All Pairs in a List That Sum Up to a Given Number**

In [ ]:
list3 = [1,3,4,2,5,6,7]

In [6]:
def find_pairs(lst, target_sum):
    pairs = []
    seen = set()
    for num in lst:
        complement = target_sum - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)
    return pairs

lst = [1, 2, 3, 4, 5, 6]
target_sum = 7
print("Pairs:", find_pairs(lst, target_sum))

Pairs: [(3, 4), (2, 5), (1, 6)]

In [3]:
seen = set()
seen.add(3)

In [4]:
seen

{3}

### 
3.Set: 
1. **Remove Duplicates from a List Using a Set** 
2. **Find the Union of Two Sets** 
3. **Find the Intersection of Two Sets** 
4. **Find the Difference Between Two Sets** 
5. **Check if a Set is a Subset of Another Set** 
6. **Check if Two Sets are Disjoint** 
7. **Remove an Element from a Set** 
8. **Add an Element to a Set** 
9. **Find the Symmetric Difference Between Two Sets** 
10. **Check if a Set is Empty** 
11. **Convert a List to a Set and Vice Versa** 
12. **Check if Two Sets are Equal** 
13. **Get All Unique Characters from a String Using a Set** 
14. **Count the Number of Unique Elements in a List** 
15. **Iterate Over a Set and Print Each Element**

In [1]:
list = [123,32,3,21,33,45,45,33]

In [2]:
set(list)

{3, 21, 32, 33, 45, 123}

In [3]:
#2. **Find the Union of Two Sets**

In [5]:
set = {123,32,12}
set2 = {23,32,112}
set.union(set2)

{12, 23, 32, 112, 123}

In [6]:
#**Find the Intersection of Two Sets**

In [7]:
set.intersection(set2)

{32}

In [8]:
set.difference(set2)

{12, 123}

In [10]:
#Check if a Set is a Subset of Another Set*

In [9]:
set.issubset(set2)

False

In [11]:
#Check if Two Sets are Disjoint**

In [13]:
set.isdisjoint(set2)

# 32 is comman

False

In [14]:
#Remove an Element from a Set**

In [16]:
set

{12, 32, 123}

In [17]:
set.remove(32)

In [18]:
set

{12, 123}

In [19]:
#Add an Element to a Set

In [20]:
set.add(32)
print(set)

{32, 123, 12}

In [21]:
# Find the Symmetric Difference Between Two Sets*

In [22]:
set.symmetric_difference(set2)

{12, 23, 112, 123}

In [23]:
#Check if a Set is Empty**

In [24]:
len(set)

3

In [25]:
#Convert a List to a Set and Vice Versa**

In [33]:
list3 = list

In [34]:
set1 = set

In [36]:
#Check if Two Sets are Equal*

In [37]:
if set1 == set2:
    print("equal")
else:
    print("not")

not

In [38]:
#et All Unique Characters from a String Using a S

In [2]:
list3 = [12,32,123,32,33]
set(list3)

{12, 32, 33, 123}

In [3]:
#Iterate Over a Set and Print Each Element**

In [4]:
set4 = {123,31,123,343,54,65,34}

In [5]:
for i in set4:
    print(i)

65
34
54
343
123
31

## 4. **Tuple Questions:**

In [6]:
#Access Elements in a Tuple**

In [7]:
tup = (23,31,32,433,122)

In [9]:
for i in tup:
    print(i)

23
31
32
433
122

In [10]:
#*Check if an Element Exists in a Tuple*

23 in tup

True

In [13]:
#Count the Occurrences of an Element in a Tuple

tup.count(32)

1

In [14]:
#Find the Index of an Element in a Tuple

In [15]:
tup.index(32)

2

In [16]:
#Convert a List to a Tuple and Vice Versa*

list(tup)

[23, 31, 32, 433, 122]

In [18]:
tuple([123,23,11])

(123, 23, 11)

In [19]:
 #**Unpack a Tuple into Variables

In [20]:
my_tuple = (1, 2, 3)

# Unpack the tuple into variables
a, b, c = my_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In [21]:
#Concatenate Two Tuples

In [22]:
tup

(23, 31, 32, 433, 122)

In [23]:
tup2 = (43,234,345234,424,2)

In [24]:
tup+tup2

(23, 31, 32, 433, 122, 43, 234, 345234, 424, 2)

In [25]:
#*Check if Two Tuples are Identical*

In [27]:
tup.__eq__(tup2)

False

In [28]:
#Sort a Tuple**

sorted(tup)

[23, 31, 32, 122, 433]

In [29]:
#Find the Length of a Tuple*
len(tup)

5

In [30]:
#Create a Tuple with Single Element (and Explain the Syntax

tup3 = ( )

In [31]:
type(tup3)

tuple

In [32]:
#Reverse a Tuple**

print(tup)
tup[::-1]

(23, 31, 32, 433, 122)

(122, 433, 32, 31, 23)

In [36]:
# Convert a Tuple of Tuples to a Single Tuple*

tup4 = ((12,231,31,123) , (23,12,33,11) , (44,113,123))
tup5 = ()
for i in tup4:
    tup5+=i
    
print(tup5)

(12, 231, 31, 123, 23, 12, 33, 11, 44, 113, 123)

In [37]:
#Iterate Over a Tuple and Print Each Element**

In [38]:
for i in tup:
    print(i)

23
31
32
433
122

In [39]:
#Create a Tuple Without Using Parentheses (Tuple Packing)**

In [40]:
tuple6 = 12,32,12,33,44,12

In [41]:
type(tuple6)

tuple

## 5. **Dictionary Questions:*

In [42]:
#*Access the Value Associated with a Key*

In [104]:
dic = {"key1":"shubham" , "key2": [13,231,321] , "key3" : (2,123,1,3,1,3,) , "key4": 555}

In [45]:
dic["key2"]

[13, 231, 321]

In [46]:
#heck if a Key Exists in a Dictionary*

In [47]:
dic.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [50]:
dic["key1"]

'shubham'

In [52]:
dic.items()

dict_items([('key1', 'shubham'), ('key2', [13, 231, 321]), ('key3', (2, 123, 1, 3, 1, 3)), ('key4', 555)])

In [57]:
    #terate Over a Dictionary and Print All Key-Value Pairs*
for key, value in dic.items():
  print(key , value)

key1 shubham
key2 [13, 231, 321]
key3 (2, 123, 1, 3, 1, 3)
key4 555

In [59]:
#Merge Two Dictionarie

dic2 = {"key5": 434 , "key6":"birari"}

In [60]:
dic.update(dic2)

In [61]:
dic

{'key1': 'shubham',
 'key2': [13, 231, 321],
 'key3': (2, 123, 1, 3, 1, 3),
 'key4': 555,
 'key5': 434,
 'key6': 'birari'}

In [63]:
#*Remove a Key from a Dictionary
dic.__delitem__("key6")

In [64]:
dic

{'key1': 'shubham',
 'key2': [13, 231, 321],
 'key3': (2, 123, 1, 3, 1, 3),
 'key4': 555,
 'key5': 434}

In [65]:
#ind the Maximum and Minimum Values in a Dictionary*

In [66]:
dic.values()

dict_values(['shubham', [13, 231, 321], (2, 123, 1, 3, 1, 3), 555, 434])

In [68]:
max(dic.keys())

'key5'

In [69]:
#Sort a Dictionary by Keys or Values

In [72]:
sorted(dic.keys())

['key1', 'key2', 'key3', 'key4', 'key5']

In [73]:
dic

{'key1': 'shubham',
 'key2': [13, 231, 321],
 'key3': (2, 123, 1, 3, 1, 3),
 'key4': 555,
 'key5': 434}

In [77]:
#onvert Two Lists (Keys and Values) into a Dictionary
keys =[1,2,3,4]
values = [123,31,3123,123]
dict(zip(keys , values))

{1: 123, 2: 31, 3: 3123, 4: 123}

In [78]:
#Get a List of All Keys and Values Separately

In [84]:
list(dic.keys())

['key1', 'key2', 'key3', 'key4', 'key5']

In [85]:
list(dic.values())

['shubham', [13, 231, 321], (2, 123, 1, 3, 1, 3), 555, 434]

In [87]:
#Count the Frequency of Each Character in a String Using a Dictionar

In [86]:
input_string = "hello world"

# Use dictionary comprehension
char_count = {char: input_string.count(char) for char in set(input_string)}

print(char_count)
# Output: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

{'o': 2, 'r': 1, ' ': 1, 'l': 3, 'e': 1, 'h': 1, 'd': 1, 'w': 1}

In [89]:
#Update the Value of an Existing Key in a Dictionary*

In [92]:
dic

{'key1': 'shubham',
 'key2': [13, 231, 321],
 'key3': (2, 123, 1, 3, 1, 3),
 'key4': 555,
 'key5': 434}

In [93]:
dic["key5"] = 122222

In [94]:
dic

{'key1': 'shubham',
 'key2': [13, 231, 321],
 'key3': (2, 123, 1, 3, 1, 3),
 'key4': 555,
 'key5': 122222}

In [95]:
#     #Reverse the Keys and Values in a Dictionary** 
# 14. **Create a Dictionary Using Dictionary Comprehension** 
# 15. **Remove All Entries from a Dictionary (Clear the Dictionary)*

In [105]:
# Original dictionary
original_dict = {'a': 1, 'b': 2, 'c': 3}

# Reversing keys and values
reversed_dict = {value: key for key, value in original_dict.items()}

print(reversed_dict)
# Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [106]:
# Create dictionary using comprehension
squares_dict = {x: x**2 for x in range(1, 6)}

print(squares_dict)
# Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [107]:
dic

{'key1': 'shubham',
 'key2': [13, 231, 321],
 'key3': (2, 123, 1, 3, 1, 3),
 'key4': 555}

In [108]:
dic.clear()

In [109]:
dic

{}

## if-else` statements question:

In [1]:
#*Check if a Number is Positive, Negative, or Zero**

In [3]:
number  = int(input())
print("You entered: ", number)
if number==0:
    print("the nummber is zero")
elif number>0:
    print("the number is positive")
else:
    print("the numberis negative")

You entered:  4343
the number is positive

In [4]:
#Determine if a Person is Eligible to Vote Based on Age

def is_eligible_to_vote(age):
    """
    This function determines if a person is eligible to vote based on their age."""
    # Check if the age is a non-negative integer
    if not isinstance(age, int) or age < 0:
        raise ValueError("Age must be a non-negative integer")
    # Check if the age is 18 or above
    if age >= 18:
        return True
    else:
        return False

In [7]:
is_eligible_to_vote(32)

True

In [3]:
#heck if a Year is a Leap Year
def is_leap_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        print(year, "is a leap year")
    else:
        print(year, "is not a leap year")

In [4]:
is_leap_year(2024)

2024 is a leap year

In [8]:
#ind the Largest of Three Number

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("enter the third number: "))

#find the largest number
if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(num1 , num2 , num3)
print("The largest number is", largest)

23 3 1223
The largest number is 1223

In [9]:
#Check if a Character is a Vowel or Consonan
def check_vowel_or_consonant(char):
    if char.lower() in 'aeiou':
        return 'Vowel'
    else:
        return 'Consonant'

In [11]:
check_vowel_or_consonant("a")

'Vowel'

In [12]:
#Check if a String is Empty or Not*
def check_empty_string(input_string):
    if input_string == "":
        return True
    else:
        return False

In [13]:
check_empty_string("shuham")

False

In [14]:
#Check if Two Numbers are Equal, Greater, or Lesser
def check_numbers(num1, num2):
    if num1 == num2:
        return "Equal"
    
    elif num1 > num2:
        return "Greater"
    else:
        return "Lesser"

In [15]:
check_numbers(231,31)

'Greater'

In [16]:
#mplement a Simple Calculator Using `if-elif-else` Statements
#===========================================================
def calculator():
    print("Simple Calculator")
    num1 = float(input("Enter first number: "))
    operator = input("Enter operator (+, -, *, /): ")
    num2 = float(input("Enter second number: "))
    if operator == "+":
        print(num1, "+", num2, "=", num1 + num2)
    elif operator == "-":
        print(num1, "-", num2, "=", num1 - num2)
    elif operator == "*":
        print(num1, "*", num2, "=", num1 * num2)
    elif operator == "/":
        if num2 != 0:
            print(num1, "/", num2, "=", num1 / num2)
        else:
            print("Error! Division by zero is not allowed.")    
    else:
        print("Invalid operator. Please enter one of the following: +, -, *, /")
        #===========================================================

In [17]:
calculator()

Simple Calculator
32.0 / 4.0 = 8.0

In [19]:
#Determine if a String Starts with a Vowe
def starts_with_vowel(s):
    vowels = 'aeiouAEIOU'
    return s[0] in vowels

print(starts_with_vowel('apple')) # False
print(starts_with_vowel('Aardvark')) # True

True
True

## For Loop Questions

In [20]:
#print All Elements in a List Using a For Loop
for i in [312,3123,"shubham" , True]:
    print(i)

312
3123
shubham
True

In [21]:
#calculate the Sum of All Numbers in a List
def sum_of_numbers(lst):
    return sum(lst)

In [22]:
sum_of_numbers([12,32,12])

56

In [23]:
#Find the Factorial of a Given Number
#=====================================
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

In [24]:
#Print the Multiplication Table of a Given Number
def print_multiplication_table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")

print_multiplication_table(8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [27]:
#Print the Fibonacci Sequence Up to `n` Term
def fibonacci_sequence(n):
    sequence = []
    a, b = 0, 1
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence
    
fibonacci_sequence(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [29]:
#ount the Number of Even and Odd Numbers in a Lis

def count_even_odd(lst):
    even_count = 0
    odd_count = 0
    for num in lst:
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
    print("even counnt:" , even_count)
    print("odd count:" , odd_count)
    

count_even_odd([12,2131,43,23,56,44])

even counnt: 3
odd count: 3

In [1]:
# Print All Prime Numbers Within a Given Range
def print_primes(start, end):
    for num in range(start, end + 1):
        if num > 1:  
            is_prime = True
            for i in range(2, int(num ** 0.5) + 1):  
                if (num % i) == 0: 
                    is_prime = False
                    break
            if is_prime:  
                print(num , end=",")


print_primes(0, 100)

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [33]:
#*Find the Length of Each Word in a List of String
words = ["shubha" , "ram" , "mickel"]
for i in range(len(words)):
    print(len(words[i]))

6
3
6

In [35]:
#Check if an Element Exists in a List Without Using the `in` Keyword*
#===========================================================
list = [123,"shubham" , 123,12,32,"ram"]
element = 123
for i in list:
    if i==element:
        print("exist")
    else:
        print("not exist")

exist
not exist
exist
not exist
not exist
not exist

## While Loop Questions

In [5]:
#Print Numbers From 1 to 10 Using a While Loop
#==============================================
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [6]:
#Calculate the Sum of Digits of a Given Number
def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

sum_of_digits(13134)

12

In [7]:
#find the Greatest Common Divisor (GCD) of Two Number
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
        return a
    
gcd(24,12)

12

In [2]:
#eep Taking Input From the User Until They Enter 'exi
data = []
while True :
    user_input = input("Enter a number: ")
    
    
    if user_input.lower() == 'exit':
        print(user_input)
        break
    
    data.append(user_input)

    print(data)

['23']
['23', '123']
['23', '123', '4124']
exit

In [6]:
#heck if a Number is a Palindrome
def is_palindrome(n):
    return str(n) == str(n)[::-1]

print(is_palindrome("shubham") ,"\n",
is_palindrome("tenet"))

False
 True

In [7]:
#Sum of Natural Numbers Until a Given Numbe
def sum_of_natural_numbers(n):
    return n * (n + 1) // 2

sum_of_natural_numbers(8)

36

In [1]:
#mplement a Simple Menu-Driven Program Using While Loop
#===========================================================
def menu_driven_program():
    while True :
        print("\nMenu")
        print("1. Option 1")
        print("2. Option 2")
        print("3. Exit")
        choice = input("Enter your choice: ")

        if choice == "1":
            print("You have chosen Option 1")
        elif choice == "2":
            print("You have chosen Option 2")
        elif choice == "3":
            print("Exiting the program")
            break
        else :
            print("Invalid choice. Please choose a valid option.")

In [2]:
menu_driven_program()

Menu
1. Option 1
2. Option 2
3. Exit
Invalid choice. Please choose a valid option.

Menu
1. Option 1
2. Option 2
3. Exit
You have chosen Option 2

Menu
1. Option 1
2. Option 2
3. Exit
You have chosen Option 1

Menu
1. Option 1
2. Option 2
3. Exit
Exiting the program

In [2]:
#imulate a Basic Password Check That Limits to 3 Attempts
def password_check():
    correct_password = "secure123"  
    max_attempts = 3  

    for attempt in range(1, max_attempts + 1):
        entered_password = input(f"Attempt {attempt}/{max_attempts}: Enter your password: ")

        if entered_password == correct_password:
            print("Access granted!")
            return  
        else:
            remaining_attempts = max_attempts - attempt
            if remaining_attempts > 0:
                print(f"Incorrect password. You have {remaining_attempts} attempts left.")
            else:
                print("Access denied. You have used all attempts.")


password_check()

Incorrect password. You have 2 attempts left.
Incorrect password. You have 1 attempts left.
Access denied. You have used all attempts.

In [ ]:
def password_check():
    correct_password = "secure123"  
    max_attempts = 3  

    for attempt in range(1, max_attempts + 1):
        try:
            entered_password = int(input(f"Attempt {attempt}/{max_attempts}: Enter your password: ")) #here we handling the runtime eror  by try except block by giving the input as string 

            if entered_password == correct_password:
                print("Access granted!")
                return  # Exit the function if the password is correct
            else:
                remaining_attempts = max_attempts - attempt
                if remaining_attempts > 0:
                    print(f"Incorrect password. You have {remaining_attempts} attempts left.")
                else:
                    print("Access denied. You have used all attempts.")
        except Exception as e:
            print(f"An error occurred: {e}")
            print("Please try again.")

password_check()

In [7]:
for i  in range(1,3):
    print(i)

1
2

In [7]:
#Keep Multiplying a Number by 2 Until It Becomes Greater Than 100
#=====================================
def double_until_greater_than_100(n):
    while n <= 100:
        n = n * 2

    print(n , "number  goes to greater than 100")

double_until_greater_than_100(7)

112 number  goes to greater than 100

In [9]:
#rint the Digits of a Number in Reverse Order
number = str(input())
reverse_number = []
reverse_number.append(str(number[::-1]))

print(reverse_number)

['2421321']

In [10]:
type(reverse_number)

list

In [11]:
for i in reverse_number:
    print(i, end=' ')

2421321

list compehension

#1. Squares of Numbers
Generate a list of squares for numbers from 1 to 10.

In [5]:
square = [x*x for x in range(11)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#2. Even Numbers
#Create a list of even numbers between 1 and 20.
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
#upper case strings
name = ['shubham' , "dharmraj" , "birari"]
newlist = [words.upper() for words in name]
print(newlist)

['SHUBHAM', 'DHARMRAJ', 'BIRARI']

In [16]:
# positive number
num = [2,-3,5,-6,-3,92,-34]
pos_num = [x for  x in num if x>=0]
print(pos_num)

[2, 5, 92]

In [17]:
#5. Pairs of Numbers
#Generate all pairs (i, j) where i is from 1 to 3 and j is from 4 to 6
pairs = [(i, j) for i in range(1, 4) for j in range(4, 7)]
pairs

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [19]:
#flattern matrix
matrix = [[2,3],[23,2],[2,6]]
flatter_mat = [num for sublist in matrix for num in sublist]
flatter_mat

[2, 3, 23, 2, 2, 6]

In [21]:
#len of string
len_str = [len(strings) for strings in  ['shubham' , "dharmraj" , "birari"]]
len_str

[7, 8, 6]

In [30]:
#Multiples of 3 or 5
mul35 = [x for x in range(1, 51) if x % 3 == 0 or x % 5 == 0 ]
print(mul35)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50]

In [34]:
#reverse string
print(names) 
rever_str = [items[::-1] for items in names]
print(rever_str)

['shubham', 'dharmraj', 'birari']
['mahbuhs', 'jarmrahd', 'irarib']

In [35]:
"".join(reversed("shuham"))

'mahuhs'

In [44]:
#6. Fibonacci Numbers
# Create a list of the first 10 Fibonacci numbers using list comprehension.


def fibonacci(n):
	a, b = 0, 1
	sequence = []
	for _ in range(n):
		sequence.append(a)
		a, b = b, a + b
	return sequence

In [42]:
fibonacci_numbers = [fibonacci(i) for i in range(1, 11)]
print(fibonacci_numbers)

[[0], [0, 1], [0, 1, 1], [0, 1, 1, 2], [0, 1, 1, 2, 3], [0, 1, 1, 2, 3, 5], [0, 1, 1, 2, 3, 5, 8], [0, 1, 1, 2, 3, 5, 8, 13], [0, 1, 1, 2, 3, 5, 8, 13, 21], [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]]

In [39]:
fibonacci(4)

[0, 1, 1, 2]

In [40]:
fibonacci(4)[-1]

2

In [43]:
fibonacci_numbers = [fibonacci(i)[-1] for i in range(1, 11)]
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [10]:
listt = [0, 1]  

[listt.append(listt[-1] + listt[-2]) for _ in range(11)]  

print(listt)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [7]:
listt = []        
a = [0, 1]        

for i in range(11): 
    listt.append(a[-1] + a[-2])  
    a.append(a[-1] + a[-2])     

print(listt)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [10]:
a = [0,1]
listt=[]
listt.append(a[-1] + a[-2])
listt

[1]

In [11]:
a.append(a[-1] + a[-2])

In [12]:
a

[0, 1, 1]

In [13]:
listt.append(a[-1] + a[-2])
listt

[1, 2]

In [15]:
a.append(a[-1] + a[-2]) 
a

[0, 1, 1, 2, 3]