# Python Test 2

In [1]:
# 1. WAP to  find the Frequency of Characters in a String**k

In [2]:
str = "this is the string"

In [3]:
str.count("i")

3

In [5]:
#2.  WAP to Check if Two Strings are Anagrams**

In [6]:

str2 = "this is 2nd  string"
print(str ,"\n", str2)

if sorted(str) == sorted(str2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

this is the string
 this is 2nd  string
The strings are not anagrams.

In [7]:
#3. WAP to Find the Second Largest Element in a List

In [8]:
list = [21,32,333,231,31]

In [ ]:
# for i in list:
#     if i <

In [11]:
# List into Even and Odd Numbers**

In [12]:
list2 = [123,32,33,343,65,13,68,80,46,43]

In [14]:
even_numbers = []
odd_numbers = []

for i in list2:
    if  i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)

print(even_numbers)
print(odd_numbers)

[32, 68, 80, 46]
[123, 33, 343, 65, 13, 43]

In [15]:
#5. WAP to Sort a List Without Using the `sort()` Method

In [30]:
list2 = [123,32,33,343,65,13,68,80,46,43]

In [34]:
list3 = list2.copy()

In [35]:
list3

[123, 32, 33, 343, 65, 13, 68, 80, 46, 43]

In [36]:
accen_order =[]
while list3:
    min_value = min(list3)
    accen_order.append(min_value)
    list3.remove(min_value)

In [37]:
print(accen_order)

[13, 32, 33, 43, 46, 65, 68, 80, 123, 343]

In [18]:
#6. WAP to Count the Number of Unique Elements in a List**

In [45]:
list4 = [12,12,43,54,45,45,67,77,77,86,67,767]

In [46]:
set(list4)

{12, 43, 45, 54, 67, 77, 86, 767}

In [48]:
len(set(list4))

8

In [49]:
#WAP to Iterate Over a Set and Print Each Element**

In [51]:
set = {12,23,1323,"shubham"  , 123,123}

In [52]:
for i in set:
    print(i)

shubham
23
123
1323
12

In [53]:
#8. WAP to Concatenate Two Tuples**

In [54]:
tuple = (123,2323,"shubh" , 123, 34)
tuple2 = (3123,411,454,"ram")

In [55]:
tuple+tuple2

(123, 2323, 'shubh', 123, 34, 3123, 411, 454, 'ram')

In [56]:
# WAP to Check if Two Tuples are Identical

In [57]:
if tuple == tuple2:
    print("Identical")
else:
    print("not  identical")

not  identical

In [58]:
#WAP to Count the Frequency of Each Character in a String Using a Dictionary

In [60]:
str

'this is the string'

In [70]:
for i in str:
   print(i,":" , str.count(i) )

t : 3
h : 2
i : 3
s : 3
  : 3
i : 3
s : 3
  : 3
t : 3
h : 2
e : 1
  : 3
s : 3
t : 3
r : 1
i : 3
n : 1
g : 1

In [71]:
#11. Explain in detail operators in python.

### 

Arithmetic Operators:
+, -, *, /, % 

Comparison Operators: Compare two values, returning True or False.
==, !=, >, <, >=, <= 

Logical Operators: Combine conditional statements.
and, or, not
Assignment Operators: Assign values to variables.
=, +=, -=, *=, /= 

Bitwise Operators: Perform bit-level operations.
&, |, ^, ~, <<, >> 

Identity Operators: Check if two variables point to the same object.
is, is not

In [74]:
# Arithmetic Operators
a = 10
b = 3
c = a + b
d = a - b
e = a * b
f = a / b
g = a % b

# Comparison Operators
x = (a == b)
y = (a != b)
z = (a > b)
w = (a < b)
v = (a >= b)
u = (a <= b)

# Logical Operators
m = (a > b and b < 5)
n = (a < b or b < 5)
o = not (a == b)

# Assignment Operators
p = 5
p += 3
p -= 2
p *= 4
p /= 2

# Bitwise Operators
q = a & b
r = a | b
s = a ^ b
t = ~a
u = a << 1
v = a >> 1

# Membership Operators
list_example = [1, 2, 3, 4, 5]
check_in = 3 in list_example
check_not_in = 10 not in list_example

# Identity Operators
a_list = [1, 2, 3]
b_list = a_list
c_list = [1, 2, 3]
is_same = a_list is b_list
is_not_same = a_list is not c_list

print(c, d, e, f, g, x, y, z, w, v, u, m, n, o, p, q, r, s, t, u, v, check_in, check_not_in, is_same, is_not_same)

13 7 30 3.3333333333333335 1 False True True False 5 20 True True True 12.0 2 11 9 -11 20 5 True True True True

In [73]:
#12.Explain in detail features,advantages and disadvantages of python

### 
Features:

1. Easy to use and Read - Python's syntax is clear and easy to read, making it an ideal language for both beginners and experienced programmers. 
2. Dynamically Typed - The data types of variables are determined during run-time. We do not need to specify the data type of a variable during writing codes.
3. High-level - High-level language means human readable code.
Interpreted language: Python is an interpreted language, which means that the code is run line by line.
4. Object-Oriented Programming Language - It supports  abstraction, encapsulation, inheritance, and polymorphism which is considered important by the Python coder.

Adventages:

1. Presence of third-party modules 
2. Extensive support libraries(NumPy for numerical calculations, Pandas for data analytics etc) 
3. Open source and community development 
4. Versatile, Easy to read, learn and write
5. User-friendly data structures 
6. High-level language 

Disadventages:

1. Lack of Standardized Design Patterns
2. No Built-In Database Management System
3. Not Well Suited For Large Applications
4. Poor Security Features
5 . Weak in Mobile Computing