#### Shubham Birari ML16

In [24]:
import pandas as pd
import numpy as np

#### Predict the house price for boston data , Perform scaling , cleaning

In [25]:
db  = pd.read_csv(r"C:\Users\shubh\symbiosis ml16\datasets\boston.csv")

In [26]:
db.head()

,crime_rate,proportion_res_land,proportion_business,"river""",NO,avg_rooms,proportion_units,distance,accessibility,property_tax,pupil_teacher_ratio,proportion_blacks,lower_status,value
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [27]:
db.isnull().sum()

crime_rate             0
proportion_res_land    0
proportion_business    0
river"                 0
NO                     0
avg_rooms              0
proportion_units       0
distance               0
accessibility          0
property_tax           0
pupil_teacher_ratio    0
proportion_blacks      0
lower_status           0
value                  0
dtype: int64

In [28]:
db.dtypes

crime_rate             float64
proportion_res_land    float64
proportion_business    float64
river"                   int64
NO                     float64
avg_rooms              float64
proportion_units       float64
distance               float64
accessibility            int64
property_tax           float64
pupil_teacher_ratio    float64
proportion_blacks      float64
lower_status           float64
value                  float64
dtype: object

In [29]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [30]:
x=db.drop("value",axis=1)
y=db["value"]

In [31]:
X_val=std.fit_transform(x)
X_val

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [32]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test  = train_test_split(x,y , test_size=0.2 , random_state=42)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [39]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train , y_train)

LinearRegression()