In [26]:
validate("ameee",'9807654321',78)

Checking for values
ameee 9807654321 78

(0, None)

In [29]:
import sys
name = input("values are: ")
print("Checking for values")
val =0

values are: 9iou
Checking for values
inside the name
name  not entered correctly

In [11]:
def Val_name(name):
    val=0
    err_info=None
    try:
        ##print(name, mobile, marks_10)
        if name.isalpha()==False:
                val=1
                print("inside the name")
                raise Exception("name  not entered correctly")
    except:
        err_info = sys.exc_info()[1]
    return val, err_info

In [13]:
Val_name("ABCD123")

inside the name

(1, Exception('name  not entered correctly'))

In [2]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",database="student", user="root",passwd="MySQL@2021")
c=mydb.cursor()

from datetime import datetime
import re

In [1]:
import sys
def validate(name,mobile,marks_10,marks_12, pan):
    #print("Checking for values")
    val =0
    err_info = ''
    
    try:
        #print(name, mobile, marks_10)
        if name.isalpha()==False:
            val=1
            print("inside the name")
            raise Exception("name  not entered correctly")

        if mobile.isdigit() == False:
            print("inside mobile")
            val=1
            raise Exception(" mobile number")

        if len(mobile)!=10:
            print("length is not matching")
            val=1
            raise Exception('10 characters in mobile')

        if mobile[:3]== '123':
            print("mobile should not start with 123")
            val=1
            raise Exception('123 start of mobile')
        if marks_10 >100 or marks_10 < 35:
            val =1
            print("inside marks")
            raise Exception('marks should be between 35 to 100')
        if marks_12 >100 or marks_12 < 35:
            val =1
            print("inside marks_12")
            raise Exception('marks should be between 35 to 100')
        if re.match('[A-Z]{5}[0-9]{4}[A-Z]{1}', pan ):
            print('validating pan card')
        else:
            print("Error in pan card")
            val=1
            raise Exception('pancard is ont proper')
        
            
    except:
         err_info = sys.exc_info()[1]
        
    return val, err_info

In [4]:
#val=0
while True:
    name = input("Enter name: ")
    mobile = input("Enter mobile number :")
    marks_10 = float(input("Enter marks :"))
    marks_12 = float(input("Enter 12 th marks"))
    pan_card = input("Enter pan card number")
    dob_year = int(input("enter year"))
    dob_mon = int(input("enter month"))
    dob_date = int(input("Enter date"))
    
    DOB = datetime(dob_year, dob_mon, dob_date) 
    val , error= validate(name,mobile,marks_10,marks_12, pan_card)
    #print("after validating", val)
    
    if val==0:
        print("Entered values are : ",name, mobile, marks_10)
        print('#########inserting data############')
        ins_stmt = 'insert into info(st_name,pan_card, mobile, marks_10, marks_12) values("'
        ins_stmt = ins_stmt + name + '","'+pan_card + '","'+ mobile + '",'+ str(marks_10)+ ','+str(marks_12)+ ')'
        print(ins_stmt)
        c.execute(ins_stmt)
        mydb.commit()
        break
    else:
        print("Error occured here is :----> ", error)
        print('Inside the else part \n enter the correct values')

Enter name: asd123
Enter mobile number :0964311567
Enter marks :29
Enter 12 th marks29
Enter pan card numberaaaa1234v
enter year2000
enter month09
Enter date09
inside the name
Error occured here is :---->  name  not entered correctly
Inside the else part
 enter the correct values
Enter name: ASDF
Enter mobile number :1234567890
Enter marks :90
Enter 12 th marks90
Enter pan card numberAAAAA1234A
enter year2000
enter month09
Enter date09
mobile should not start with 123
Error occured here is :---->  123 start of mobile
Inside the else part
 enter the correct values
Enter name: ASDFG
Enter mobile number :9876543210
Enter marks :70
Enter 12 th marks70
Enter pan card numberAAAAA1234X
enter year2000
enter month09
Enter date09
validating pan card
Entered values are :  ASDFG 9876543210 70.0
#########inserting data############
insert into info(st_name,pan_card, mobile, marks_10, marks_12) values("ASDFG","AAAAA1234X","9876543210",70.0,70.0)

In [8]:
dob_year = int(input("enter year"))
dob_mon = int(input("enter month"))
dob_date = int(input("Enter date"))
    
DOB = datetime(dob_year, dob_mon, dob_date)

enter year2028
enter month13
Enter date89

ValueError: month must be in 1..12

In [7]:
DOB

datetime.datetime(2000, 9, 9, 0, 0)

In [4]:
'0987asd'.isdigit()

False