In [7]:
import sys

In [11]:
def val_name(name):
    try:
        if name.isalpha():
            print('ok')
            flag = True
            message = None
        else:
            flag  = False            
            raise Exception("Only letter are allowed here")
    except:
        message = sys.exc_info()[1]
    return flag , message

In [12]:
def val_mobile_number(m):
    try:
        if m.isdigit() and len(m)==10:
            print('ok')
            flag = True
            message = None
        else:
            flag  = False            
            raise Exception("Only digits allowed")
    except:
        message = sys.exc_info()[1]
    return flag , message

In [14]:
val_mobile_number(mobile)

(False, Exception('Only digits allowed'))

In [15]:
name = input("enter the name")
mobile = input("enter mobile number")
if val_name(name)[0] and  val_mobile_number(mobile)[0]:
    print("creating roll number")
else:
    print(val_name(name)[1])
    print(val_mobile_number(mobile)[1])

enter the nameer34
enter mobile number7890567890
Only letter are allowed here
ok
None

In [17]:
def accept_marks():
    sub= input("enter name of subject")
    marks  = input("Enter the marks")
    out_of = input("Enter out of marks")
    
    ratio = float(marks)/float(out_of)
    
    return sub, marks,out_of, ratio

In [20]:
def entry_of_subjects():
    no_sub = input("enter number of subject")
    final_per = 0
    for i in range(int(no_sub)):

        print(i)
        student_marks = accept_marks()
        print(student_marks)
        final_per = final_per + student_marks[3]
        print(final_per)
    percentage = 100*(final_per/int(no_sub))
    return percentage

In [21]:
entry_of_subjects()

enter number of subject3
0
enter name of subjecthindi
Enter the marks30
Enter out of marks50
('hindi', '30', '50', 0.6)
0.6
1
enter name of subjectsanskrit
Enter the marks45
Enter out of marks50
('sanskrit', '45', '50', 0.9)
1.5
2
enter name of subjectmarathi
Enter the marks87
Enter out of marks100
('marathi', '87', '100', 0.87)
2.37

79.0

84.71428571428572

In [26]:
a = lambda x,y,z,a,b : x*100

In [27]:
a(80)

8000

In [ ]:
b= lambda y : y+100

In [29]:
c = lambda name : "Welcome {}".format(name)

In [31]:
c("faa")

'Welcome faa'

In [35]:
d= lambda x,y : (x+y, x-y, x*y, x/y, x//y)

In [36]:
d(3,6)

(9, -3, 18, 0.5, 0)

In [37]:
l1 = [2,6,2,4,34,23]

In [40]:
list(map( lambda x:x+100,  l1))

[102, 106, 102, 104, 134, 123]

In [41]:
l2= ['deepa','geeta','amol','nita', 'sameer']

In [42]:
list(map(len , l2))

[5, 5, 4, 4, 6]

In [45]:
list(map(lambda name : (len(name)>4), l2))

[True, True, False, False, True]

In [46]:
list(filter(lambda name : (len(name)>4), l2))

['deepa', 'geeta', 'sameer']

Write a function to display values having numbers and alphabets from given list.

List1 = [‘Anita’,39, ’Jeevan’ ,‘1Sunita’, ”Nita@123”, ’Prateek_78’, ’Uday’, ‘Sampada’, 20, 40 ]

In [62]:
list1 = ['Anita',39,'1200','Jeevan' ,'1Sunita', 'Nita@123', 'Prateek_78', 'Uday', 'Sampada', 20, 40 ]

In [50]:
[x for x in list1 if type(x) == str and x.isdigit()]

[]

In [51]:
[x for x in list1 if type(x) == str and x.isalpha()]

['Anita', 'Jeevan', 'Uday', 'Sampada']

In [52]:
[x for x in list1 if type(x) == str and x.isalnum()]

['Anita', 'Jeevan', '1Sunita', 'Uday', 'Sampada']

In [55]:
"Prateek_78".replace('_',"")

'Prateek78'

In [58]:
list(map((lambda x: type(x) == str and x.isalnum()), list1))

[True, False, True, True, False, False, True, True, False, False]

In [59]:
list(filter((lambda x: type(x) == str and x.isalnum()), list1))

['Anita', 'Jeevan', '1Sunita', 'Uday', 'Sampada']

In [63]:
list(filter((lambda x: type(x) == int or x.isdigit()), list1))

[39, '1200', 20, 40]

In [88]:
my_list = list(filter((lambda x: x%3==0 and x%7==0), range(1,100)))

In [86]:
set(filter((lambda x: x%3==0 and x%7==0), range(1,101)))

{21, 42, 63, 84}

In [73]:
lambda x: x%3==0 and x%7==0

In [91]:
my_list

[21, 42, 63, 84]

In [69]:
from functools import reduce

In [92]:
# Use lambda function with `reduce()`
reduced_list = reduce(lambda x, y: x/y, my_list[::-1])

In [93]:
reduced_list

0.001511715797430083