In [1]:
# KNN - Evaluation method 2 (iris dataset)
# LOOCV
# leave one out cross validation
# keep one observation from training set as a test sample, at a time.
# repeat for all
# output - class prediction
# number of neighbors, K = 1, 3, 5, 7, 9 ...

from math import *
import operator
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns
sns.set(style="white", color_codes=True)

In [2]:
from sklearn.model_selection import LeaveOneOut

In [3]:
from sklearn.model_selection import KFold

In [4]:
from sklearn.model_selection import StratifiedKFold

In [5]:
# K = number of nearest neighbors for the test pattern
K1 = input('lower limit of range of k : ')
#K2 = input('upper limit of range of k : ')

lower limit of range of k : 7

In [8]:
location = r"E:\Python\Machine Learning\datasets\iris.csv"

In [9]:
# load the training data from iris.txt
df_iris = pd.read_csv(location)

In [10]:
df_iris.shape

(150, 5)

In [11]:
df_iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
# add a column called 'distance'
df_iris['distance'] = 0

In [14]:
index = 1

In [15]:
df_iris.iloc[index: index+1]

   sepal_length  sepal_width  petal_length  petal_width        class  distance
1           4.9          3.0           1.4          0.2  Iris-setosa         0

In [16]:
df_iris['distance'].unique()

array([0], dtype=int64)

In [13]:
df_iris

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [15]:
df_iris

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [17]:
df_iris_trim = df_iris.drop(index)

In [18]:
df_iris_trim

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
5,5.4,3.9,1.7,0.4,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [19]:
df_iris

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [20]:
df_iris_trim.head()

   sepal_length  sepal_width  petal_length  petal_width        class  distance
0           5.1          3.5           1.4          0.2  Iris-setosa         0
2           4.7          3.2           1.3          0.2  Iris-setosa         0
3           4.6          3.1           1.5          0.2  Iris-setosa         0
4           5.0          3.6           1.4          0.2  Iris-setosa         0
5           5.4          3.9           1.7          0.4  Iris-setosa         0

In [21]:
df_loocv = pd.DataFrame()
df_loocv

Empty DataFrame
Columns: []
Index: []

In [24]:
index=2

In [25]:
df_loocv = df_loocv.append(df_iris.iloc[index: index+1])

In [26]:
df_loocv

   sepal_length  sepal_width  petal_length  petal_width        class  distance
1           4.9          3.0           1.4          0.2  Iris-setosa         0
2           4.7          3.2           1.3          0.2  Iris-setosa         0

In [20]:
df_iris.shape

(150, 6)

In [31]:
df_iris

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [32]:
# for each observation in the training set, as test sample

# initialize a dataframe to save all the test run results
df_loocv = pd.DataFrame()

for index, row in df_iris.iterrows():
    # save the current in the processed df_loocv
    df_loocv = df_loocv.append(df_iris.iloc[index: index+1])
    
    # drop the current row chosen as test sample
    # save it in temp df
    df_iris_trim = df_iris.drop(index)
    
    test_sepal_length = float(df_iris.loc[index, ['sepal_length']])
    test_sepal_width  = float(df_iris.loc[index, ['sepal_width']])
    test_petal_length = float(df_iris.loc[index, ['petal_length']])
    test_petal_width  = float(df_iris.loc[index, ['petal_width']])
    
    # for each row in the dataframe, calculate the distance
    for index1, row1 in df_iris_trim.iterrows():
        eucDist = sqrt(((test_sepal_length - float(row1['sepal_length'])) ** 2 +
                        (test_sepal_width - float(row1['sepal_width'])) ** 2 +
                        (test_petal_length - float(row1['petal_length'])) ** 2 +
                        (test_petal_width - float(row1['petal_width'])) ** 2))

        df_iris_trim.loc[index1, 'distance'] = eucDist
        
    # sort on distance, ascending.
    df_iris_trim.sort_values('distance', ascending=True, inplace=True)
    
    # select the first K rows, into a new df
    K = int(K1)
    df_iris_trim_K = df_iris_trim.iloc[0:K, :]
    
    # The resulting object will be in descending order so that the first element 
    # is the most frequently-occurring element. Excludes NA values by default.
    df_iris_trim_K_grouped = df_iris_trim_K['class'].value_counts()
    
    # get the first index of the resulting pandas series above (value_counts)
    pred_class = df_iris_trim_K_grouped.index[0]
    
    # save the predicated class in the test data frame
    df_loocv.loc[index, 'pred_class'] = pred_class

In [33]:
df_iris_trim_K_grouped

Iris-virginica     4
Iris-versicolor    1
Name: class, dtype: int64

In [34]:
df_iris_trim

,sepal_length,sepal_width,petal_length,petal_width,class,distance
127,6.1,3.0,4.9,1.8,Iris-virginica,0.282843
138,6.0,3.0,4.8,1.8,Iris-virginica,0.316228
142,5.8,2.7,5.1,1.9,Iris-virginica,0.331662
101,5.8,2.7,5.1,1.9,Iris-virginica,0.331662
70,5.9,3.2,4.8,1.8,Iris-versicolor,0.360555
...,...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,Iris-setosa,4.374929
38,4.4,3.0,1.3,0.2,Iris-setosa,4.387482
42,4.4,3.2,1.3,0.2,Iris-setosa,4.392038
22,4.6,3.6,1.0,0.2,Iris-setosa,4.628175
13,4.3,3.0,1.1,0.1,Iris-setosa,4.631414

In [35]:
df_loocv

,sepal_length,sepal_width,petal_length,petal_width,class,distance,pred_class
0,5.1,3.5,1.4,0.2,Iris-setosa,0,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa,0,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa,0,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa,0,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa,0,Iris-setosa
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica,0,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica,0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica,0,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica,0,Iris-virginica

In [36]:
# find the mismatch count of class predication
no_mismatch_class = df_loocv.loc[~(df_loocv['pred_class'] == df_loocv['class'])].shape[0]
#no_mismatch_class = df_loocv.loc[~(df_loocv['pred_class'] == df_loocv['class'])]
no_mismatch_class

5

In [15]:
# no_mismatch_class.shape[0]

In [26]:
# accuracy of prediction
accuracy_pct = 100-(no_mismatch_class/ df_iris.shape[0])*100

print('Leave One Out Evaluation, Accuracy = {:6.2f} %'.format(accuracy_pct))

Leave One Out Evaluation, Accuracy =  96.00 %

In [19]:
df_loocv.loc[~(df_loocv['pred_class'] == df_loocv['class'])].shape[0]

5