In [2]:
# KNN - Evaluation method 1 (iris dataset)
# input test sample (sl, sw, pl, pw)
# output - class prediction
# number of neighbors, K = 1, 3, 5, 7, 9 ...

import time
import random
from math import *
import operator
import pandas as pd
import numpy as np

In [3]:
# import plotting libraries
import matplotlib
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline 

import seaborn as sns
sns.set(style="white", color_codes=True)
sns.set(font_scale=1.5)

In [4]:
# import the ML algorithm
from sklearn.linear_model import LinearRegression
#import statsmodels.api as smdl
from statsmodels.tools.eval_measures import rmse

In [5]:
# import libraries for model validation
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [6]:
# import libraries for metrics and reporting
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [7]:
inputarray = []
type(inputarray)

list

In [26]:
###### K = number of nearest neighbors for the test pattern
K1 = input('lower limit of range of k : ')
K2 = input('upper limit of range of k : ')

lower limit of range of k : 3
upper limit of range of k : 7

In [8]:
inputarray.append(input('first attribute, sepal_length: '))
inputarray.append(input('second attribute, sepal_width : '))
inputarray.append(input('third attribute, petal_length : '))
inputarray.append(input('fourth attribute, petal_width: '))

first attribute, sepal_length: 4.6
second attribute, sepal_width : 5.8
third attribute, petal_length : 3.4
fourth attribute, petal_width: 2.1

In [9]:
inputarray

['4.6', '5.8', '3.4', '2.1']

In [10]:
location = r"E:\Python\Machine Learning\datasets\iris.csv"

In [11]:
# df_iris = pd.read_csv(location,
#                  header=None,
#                  names=['sepal_length','sepal_width', 'petal_length', 'petal_width', 'Class_name', 'distance'])
df_iris = pd.read_csv(location)

In [12]:
df_iris.shape

(150, 5)

In [13]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [14]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
df_iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [16]:
inputarray

['4.6', '5.8', '3.4', '2.1']

In [18]:
# add a column called 'distance'
df_iris['distance'] = 0
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class  distance
0           5.1          3.5           1.4          0.2  Iris-setosa         0
1           4.9          3.0           1.4          0.2  Iris-setosa         0
2           4.7          3.2           1.3          0.2  Iris-setosa         0
3           4.6          3.1           1.5          0.2  Iris-setosa         0
4           5.0          3.6           1.4          0.2  Iris-setosa         0

In [17]:
# display the test sample 
inputarray

['4.6', '5.8', '3.4', '2.1']

In [20]:
df_iris

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [28]:
i=0
for index, row in df_iris.iterrows():
    print(index, row)
    if i > 5:
        break
    i=i+1

0 sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
class           Iris-setosa
Name: 0, dtype: object
1 sepal_length            4.9
sepal_width             3.0
petal_length            1.4
petal_width             0.2
class           Iris-setosa
Name: 1, dtype: object
2 sepal_length            4.7
sepal_width             3.2
petal_length            1.3
petal_width             0.2
class           Iris-setosa
Name: 2, dtype: object
3 sepal_length            4.6
sepal_width             3.1
petal_length            1.5
petal_width             0.2
class           Iris-setosa
Name: 3, dtype: object
4 sepal_length            5.0
sepal_width             3.6
petal_length            1.4
petal_width             0.2
class           Iris-setosa
Name: 4, dtype: object
5 sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object
6 sepal_length            4.6
sepal_width             3.4
petal_length            1.4
petal_width             0.3
class           Iris-setosa
Name: 6, dtype: object

In [23]:
for index, row in df_iris.iteritems():
    print(index, row)

sepal_length 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64
sepal_width 0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64
petal_length 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64
petal_width 0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64
class 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: object

In [29]:
inputarray

['6.5', '3.9', '4.2', '1.4']

In [18]:
inputarray

['4.6', '5.8', '3.4', '2.1']

In [20]:
# for each row in the dataframe, calculate the distance
#iterrows gives A generator that iterates over the rows of the frame.
#DataFrame.iteritems() :- Iterator over (column name, Series) pairs.
from math import *
for index, row in df_iris.iterrows():
    eucDist = sqrt(((float(inputarray[0]) - float(row['sepal_length'])) ** 2 +
                    (float(inputarray[1]) - float(row['sepal_width'])) ** 2 +
                    (float(inputarray[2]) - float(row['petal_length'])) ** 2 +
                    (float(inputarray[3]) - float(row['petal_width'])) ** 2))

    df_iris.loc[index, 'distance'] = eucDist

In [21]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class  distance
0           5.1          3.5           1.4          0.2  Iris-setosa  3.626293
1           4.9          3.0           1.4          0.2  Iris-setosa  3.942081
2           4.7          3.2           1.3          0.2  Iris-setosa  3.845777
3           4.6          3.1           1.5          0.2  Iris-setosa  3.809199
4           5.0          3.6           1.4          0.2  Iris-setosa  3.551056

In [22]:
inputarray

['4.6', '5.8', '3.4', '2.1']

In [23]:
# sort on distance, ascending.
df_iris.sort_values('distance', ascending=True, inplace=True)

In [24]:
df_iris.head(8)

,sepal_length,sepal_width,petal_length,petal_width,class,distance
85,6.0,3.4,4.5,1.6,Iris-versicolor,3.029851
44,5.1,3.8,1.9,0.4,Iris-setosa,3.064311
15,5.7,4.4,1.5,0.4,Iris-setosa,3.109662
88,5.6,3.0,4.1,1.3,Iris-versicolor,3.157531
5,5.4,3.9,1.7,0.4,Iris-setosa,3.167018
84,5.4,3.0,4.5,1.5,Iris-versicolor,3.170173
64,5.6,2.9,3.6,1.3,Iris-versicolor,3.176476
66,5.6,3.0,4.5,1.5,Iris-versicolor,3.226453

In [27]:
print(type(K1))
K1

<class 'str'>

'3'

In [28]:
# select the first K rows, into a new df
k = int(K1)

df_iris_k = df_iris.iloc[0:k, :].copy()

In [29]:
df_iris_k

,sepal_length,sepal_width,petal_length,petal_width,class,distance
85,6.0,3.4,4.5,1.6,Iris-versicolor,3.029851
44,5.1,3.8,1.9,0.4,Iris-setosa,3.064311
15,5.7,4.4,1.5,0.4,Iris-setosa,3.109662

In [30]:
df_iris_k['class'].value_counts()

Iris-setosa        2
Iris-versicolor    1
Name: class, dtype: int64

In [31]:
df_iris_k_grouped = df_iris_k['class'].value_counts()

In [32]:
df_iris_k_grouped

Iris-setosa        2
Iris-versicolor    1
Name: class, dtype: int64

In [26]:
# Let's see how many examples we have of each species
df_iris["class"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [33]:
df_iris_k_grouped

Iris-setosa        2
Iris-versicolor    1
Name: class, dtype: int64