In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
bank_df = pd.read_csv(r"E:\Python\Machine Learning\datasets\bank.csv")

In [3]:
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
bank_df.shape[0]

4521

In [5]:
housing_cnt = bank_df['housing'].value_counts()

In [6]:
housing_cnt

yes    2559
no     1962
Name: housing, dtype: int64

In [7]:
housing_cnt['yes']/bank_df.shape[0]

0.5660252156602521

In [8]:
## case 1:  if one branch received 67  40 approved 
## NULL: current probability of approval of loan is same  as previous probability of loan approval 
## Alet: has prob changed

In [9]:
stats.binom_test(25,67, 0.56)

0.002855993337057187

In [10]:
#case 2: if already we are aware about probability of passing housing loan i.e. 60%
## NULL : prob = 60%
## ALTER : proba != 60%
stats.binom_test(housing_cnt, p=0.58, alternative= 'two-sided')

0.05764522421300112

In [11]:
#case 2: if already we are aware about probability of passing housing loan i.e. 60%
## NULL : prob = 60%
## ALTER : proba != 60%
stats.binom_test(2559, 4521, p=0.56, alternative= 'two-sided')

0.41856119119384333

In [12]:
## implementation of t- test on  balnace
## NULL : mean has no change 
## Alternate : has mean changed

In [13]:
bank_df['balance'].mean()

1422.6578190665782

In [14]:
bank_df['balance'].std()

3009.6381424673496

In [15]:
import numpy as np

In [17]:
random_index = np.random.randint(0,high=4521,size =5)
random_index

array([1310, 3662, 2460,  761, 3524])

In [18]:
sample_t_test =bank_df['balance'].iloc[random_index]
sample_t_test

1310       0
3662     128
2460     155
761     1128
3524       0
Name: balance, dtype: int64

In [19]:
sample_t_test.mean()

282.2

In [21]:
p = stats.ttest_1samp(sample_t_test, 1423)[1]

In [22]:
if p < 0.05:
    print("reject NULL")
else:
    print("accept NULL")

reject NULL

In [12]:
bank_df.shape

(4521, 17)

In [14]:
bank_df['y'].value_counts()[1]

521

In [15]:
p0  = bank_df['y'].value_counts()[1] / bank_df.shape[0]

In [16]:
p0

0.11523999115239991

In [18]:
edu_pri = bank_df[bank_df['education']=='primary']

In [19]:
edu_pri.shape

(678, 17)

In [20]:
edu_pri['y'].value_counts()

no     614
yes     64
Name: y, dtype: int64

In [ ]:
## H0 : p0 = p1
## H1 : p0!= p1

In [21]:
stats.binom_test(64,678,p0)

0.09215312552563806

In [22]:
if stats.binom_test(64,678,p0) < 0.05:
    print('reject null: p0 != p1')
else:
    print("Accept null : p0 = p1")

Accept null : p0 = p1

In [12]:
balance_yes=bank_df[bank_df['loan']=='yes']['balance']

In [13]:
balance_no=bank_df[bank_df['loan']=='no']['balance']

In [14]:
balance_yes.mean()

917.163531114327

In [15]:
balance_no.mean()

1513.8579634464752

### H0 difference in mean is equal to value
### H1 difference in mean is not equal to value

In [17]:
from statsmodels.stats import weightstats 
weightstats.ztest(balance_no, balance_yes)

(4.80860466041318, 1.51987448646638e-06)

### H0 difference in mean is not larger
### H1 difference in mean is larger

In [18]:
weightstats.ztest(balance_no, balance_yes, alternative= 'larger')

(4.80860466041318, 7.5993724323319e-07)

In [19]:
weightstats.ztest(balance_yes, balance_no, alternative= 'larger')

(-4.80860466041318, 0.9999992400627568)