In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
st =pd.read_csv('E:\Python\Machine Learning\datasets\student.csv')

In [3]:
st.describe()

              Math      Reading      Writing
count  1000.000000  1000.000000  1000.000000
mean     67.290000    69.872000    68.616000
std      15.085008    14.657027    15.241287
min      13.000000    19.000000    14.000000
25%      58.000000    60.750000    58.000000
50%      68.000000    70.000000    69.500000
75%      78.000000    81.000000    79.000000
max     100.000000   100.000000   100.000000

In [4]:
z_cal = (67.29 - 69)/ (15/np.sqrt(1000))

In [5]:
z_cal

-3.6049965325919393

In [6]:
from scipy.stats import norm

In [7]:
# norm.pdf(x, loc=0, scale=1) Probability density function.
# norm.cdf(x, loc=0, scale=1)  Cumulative distribution function. (area to the left of x)
# norm.sf(x, loc=0, scale=1) Survival function (also defined as 1 - cdf, but sf is sometimes more accurate).
# norm.ppf(q, loc=0, scale=1) Percent point function (inverse of cdf â€” percentiles).
# norm.isf(q, loc=0, scale=1) Inverse survival function (inverse of sf).

In [8]:
Z_crit_left = norm.ppf(0.025)
Z_crit_left

-1.9599639845400545

In [9]:
Z_crit_right = norm.isf(0.025)
Z_crit_right

1.9599639845400545

In [11]:
### area to the left of 54 is 18.90%
norm.cdf(54, loc=67.29, scale = 15.08)

0.1890778048151447

In [40]:
### area to the left of 80 is 80.03%
norm.cdf(80, loc=67.29, scale = 15.08)

0.8003405287160648

In [41]:
## hence, area to right that means score more than 80 is
1- norm.cdf(80, loc=67.29, scale = 15.08)

0.19965947128393524

In [12]:
## hence, area to right that means score more than 80 is
norm.sf(80, loc=67.29, scale = 15.08)

0.19965947128393519

### Steps to perform Hypothesis Testing:
1) State the alternate hypothesis

2) State the null hypothesis

3) select the probability error level (alpha level) generally 0.05

4) calculate the test statistic (e.g. t-score or z- score)

5)critical test statistics

6)Inteprete the result

Here, we generate the hypothesis assuming that student data is the sample and population mean for math subject 69% with standard deviation 15.

Null Hypothesis: sample mean is same as population mean with 95% confidence level

Alternate Hypothesis: sample mean and population mean is not same.

In [14]:
null = 'sample mean is same as population mean with 95% confidence level'

alter='sample mean and population mean is not same'

In [13]:
norm.cdf(67.29, loc=69.00, scale = 15.08)

0.4548586124128997

In [15]:
if 0.45461889672228806 < 0.05:
    print("reject null hypothesis")
    print(alter)
else:
    print("accept null hypothesis")
    print(null)

accept null hypothesis
sample mean is same as population mean with 95% confidence level

### END