In [1]:
l = ["name" , "emialid" , "phoneno" , "address"]
for i in l :
    print(i + "sudh")

namesudh
emialidsudh
phonenosudh
addresssudh

In [10]:
l = ["name" , "emialid" , "phoneno" , "address"]
for i in reversed(l) :
    print(i)

address
phoneno
emialid
name

In [3]:
s = "ineuron"
for i in s :
    print(i)

i
n
e
u
r
o
n

In [11]:
l

['name', 'emialid', 'phoneno', 'address']

In [12]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself then it will come to else ")

name
emialid
phoneno
address
if for loop is going to complete itself then it will come to else

In [13]:
for i in [1,2,3,4]:
    print(i)
else:
    print('complete')

1
2
3
4
complete

In [24]:
for i  in l :
        print (i) 
else:
        print("snjdsnf")

name
emialid
phoneno
address
snjdsnf

In [30]:
for i in l :
        if i== "phoneno":
            break
        print(i)
        
else :
            print('kjfsdkjbf')

name
emialid

In [14]:
#finding a number 
l = [1,2,3,4,5,6,7]
for i in l:
    if i==5:
        print(i)
        break
else:
    print("complex")

5

In [18]:
i=1
while i<15:
    print(i)
    i = i +1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [23]:
for i  in "shubham":
    if i== "z":  #break is the  break the statemeent if true and not go  to else , othrewise its go  to else
        print("yes")
        break
else:
    print("not find")

not find

In [7]:
l

['name', 'emialid', 'phoneno', 'address']

In [9]:
for i in l :
    if i == "emialid":
        break
    print(i)
else :
    print("check this statemnt ")

name

In [114]:
s = "sudhanshu"
for i in s:
    if i == "n" : 
        break 
    print(i)
else :
    print("dont exectute is unless and untill it is not printing my name ")

s
u
d
h
a

In [33]:
a = 1 
while a <6 :
    print(a)
    a =a +1

1
2
3
4
5

In [15]:
a = 1 
while a < 5 :
    print(a)
    if a == 4 :
        break
    a = a +1

1
2
3
4

In [1]:
a = 1 
while a < 5 :
    print(a)
    a = a + 1
    if a == 3:
        continue

1
2
3
4

In [6]:
for i in range(10):
    if i == 5:
        print(i)
    else:
        continue

5

In [10]:
for i in range(5):
   if i == 3:
     continue
   print(i)

0
1
2
4

In [ ]:
for i in range

In [97]:
a

7

In [96]:
while a < 5 :
    pass

In [21]:
for i in l :
    pass

In [22]:
while a < 4 :
    break

In [23]:
a = 1

In [11]:
while a < 4 :
    continue

In [26]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [38]:
set(range(7))

{0, 1, 2, 3, 4, 5, 6}

In [28]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [29]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [41]:
list(range(3 , 100 , 10))

[3, 13, 23, 33, 43, 53, 63, 73, 83, 93]

In [33]:
list(range(3 , 10))

[3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(3 , 10 , -1))

[]

In [35]:
list(range(10 , 6 , -1))

[10, 9, 8, 7]

In [42]:
list(range(100,2,-10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [36]:
list(range(10 , -5 , -2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [38]:
for i in range(10 , -5 , -2):
    print(i)

10
8
6
4
2
0
-2
-4

In [53]:
n = 5 
for i in range(0,n) : 
    for j in range(0,i+1):
        print("sudh " , end = "")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

sudh sudh sudh sudh sudh

In [43]:
range(0,5)

range(0, 5)

In [54]:
l = [1,2,3,43,5,5,5,6,7,78]
for i in l :
    print(i)

1
2
3
43
5
5
5
6
7
78

In [15]:
t = (3,4,4,5,6,7,7)
for i in range(len(t)):
    print(i ,":",t[i] )

0 : 3
1 : 4
2 : 4
3 : 5
4 : 6
5 : 7
6 : 7

In [56]:
for i in t :
    print(i)

3
4
4
5
6
7
7

In [57]:
s = "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [16]:
t

(3, 4, 4, 5, 6, 7, 7)

In [17]:
t[7]

IndexError: tuple index out of range

In [13]:
t

NameError: name 't' is not defined

In [18]:
len(t)

7

In [72]:
list(range(len(t)-1 , -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [74]:
for i in range(len(t)-1 , -1, -1):
    print(t[i])

7
7
6
5
4
4
3

In [63]:
t[::-1]

(7, 7, 6, 5, 4, 4, 3)

In [25]:
d = {"a " : "fsdfds" , "b " : "fsdfsaf" , "c " :[1,2,3,4,5] , "d" : (4,5,6,7)  , "e":"sudh"}

In [28]:
d.items()

dict_items([('a ', 'fsdfds'), ('b ', 'fsdfsaf'), ('c ', [1, 2, 3, 4, 5]), ('d', (4, 5, 6, 7)), ('e', 'sudh')])

In [78]:
d['d']

(4, 5, 6, 7)

In [79]:
for i in d :
    print(i,d[i])

a  fsdfds
b  fsdfsaf
c  [1, 2, 3, 4, 5]
d (4, 5, 6, 7)
e sudh

In [81]:
for i in d.items():
    print(i)

('a ', 'fsdfds')
('b ', 'fsdfsaf')
('c ', [1, 2, 3, 4, 5])
('d', (4, 5, 6, 7))
('e', 'sudh')

In [82]:
s= {3,546,56,56,56,5,66,7,67,6,7,3,43,534,53,5,7}

In [83]:
s

{3, 5, 6, 7, 43, 53, 56, 66, 67, 534, 546}

In [87]:
for i in s :
    print(i)

66
546
3
5
67
7
6
43
53
534
56

In [88]:
a = 7 
while i < 7 :
    pass

In [89]:
for i in range(6):
    print ("num")
    if i==2:
        continue
    print(i)

num
0
num
1
num
num
3
num
4
num
5

In [91]:
study_hour = int(input())
if study_hour <1 :
    print('it may take 8-9 month of time to make a transistion')
elif study_hour <4 and study_hour >1:
    print ('it may take 6 month for transistion')
elif study_hour >10:
    print ("it will take 3 month time for transistion")
else:
    print("it will be difficult")

6
it will be difficult

In [95]:
a = 7
while a < 10:
    pass

KeyboardInterrupt:

In [98]:
l=["name","email-id","phone","SAD"]
for i in l:
    
    
    if i=="phone":
         break
    print(i)
else:
      print("check this statement")

name
email-id

In [101]:
a = (1,2,3,4)
for i in a:
    
    pass
print(i)

4

In [102]:
## for trriangle series
a = 10
for i in range(1,a):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [104]:
s= {23,2,3,4,5,6,6,4,3,2,2,45,5,6,7,8,8,9}
for i in s:
    print(i)

2
3
4
5
6
7
8
9
45
23

In [107]:
study_hour = int(input())
if study_hour <1 :
    print('it may take 8-9 month of time to make a transistion')
elif study_hour <4 and study_hour >1:
    print ('it may take 6 month for transistion')
elif study_hour >10:
    print ("it will take 3 month time for transistion")
else:
    print("it will be difficult")

09
it will be difficult

In [112]:
a = int(input())
if a > 10 :
    print("pass") 
elif a < 10 :
    print ("just pass") 
elif a < 10 :
    print ("fail")

6
just pass

In [110]:
t = (1,2,3,4)
t1 = (56,67,67)

In [111]:
t+t1

(1, 2, 3, 4, 56, 67, 67)

In [116]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("sudh " ,end="")
    print("\r")

sudh
sudh sudh
sudh sudh sudh
sudh sudh sudh sudh
sudh sudh sudh sudh sudh

In [118]:
t=(3,4,4,5,6,7,8)

for i in t:    
    print(t[-1])

8
8
8
8
8
8
8

In [2]:
#hhiiii, its practice noteboook
#try  and do your best

In [22]:
s = "shuhba dharmraj  birari"
for i in s:
    print(i , end=" | ")

s | h | u | h | b | a |   | d | h | a | r | m | r | a | j |   |   | b | i | r | a | r | i |

In [4]:
s

'shuhba dharmraj  birari'

In [7]:
for i in range(len(s)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [11]:
print(range(5))

range(0, 5)

In [10]:
print(len(range(5)))

5

In [17]:
for i in s:
    print(i)
else:
    print('knfjabfj')

s
h
u
h
b
a

d
h
a
r
m
r
a
j


b
i
r
a
r
i
knfjabfj

In [25]:
s

'shuhba dharmraj  birari'

In [27]:
for i in s:
    if i=='shuhba':
        print(i)
        break
    else:
        print('kjakjfbkj')
        break

kjakjfbkj

In [28]:
for i in range(20):
    if i==15:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [38]:
a =1
while a< 5:
    print(a)
    if a== 4:
        break
    a= a+1

1
2
3
4

In [40]:
a =1
while a< 5:
    print(a)
    a = a+1

1
2
3
4

In [30]:
a =2
while a< 5:
    print(a)
    break#continue

2

In [49]:
l1 = []
tot = 1
while tot < 20:
    tot = tot+1
    l1.append(tot)

In [50]:
l1

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
n = 10 
for i in range(0,n):
    for j  in range(0,i+1):
        print("*",end = "")
    print("\n")

*

**

***

****

*****

******

*******

********

*********

**********

In [34]:
d = {13412:141,"kjana":3434,"af":"aer"}

In [35]:
for i in d:
    print("keys:", i ,"value :" , d[i])

keys: 13412 value : 141
keys: kjana value : 3434
keys: af value : aer

In [63]:
for i in d.items():
    print(i)

(13412, 141)
('kjana', 3434)
('af', 'aer')

In [64]:
a = {13,12312321,312,3123,123,12,213,2}

In [65]:
type(s)

str

In [66]:
type(a)

set

In [67]:
a

{2, 12, 13, 123, 213, 312, 3123, 12312321}

In [73]:
for i in a:
    print(i)

12312321
2
12
13
3123
213
312
123

In [74]:
a

{2, 12, 13, 123, 213, 312, 3123, 12312321}

In [52]:
summ = 0
n = int(input("Enter a positive integer: "))
for i in range(1, n + 1):
    summ = summ + i  # Add the current value of i to summ
print("The sum of all natural numbers up to", n, "is:", summ)

The sum of all natural numbers up to 5 is: 15

In [57]:
n = int(input())
summ = 0
i = 1
while i<=n:
    summ += i
    i += 1
    
print(summ)

15

In [58]:
n = 5
i = 1
while i<=n:
    print( n)
    n-=1

5
4
3
2
1

In [60]:
n = int(input("Enter an integer: "))
reversed_number = 0

while n != 0:
    digit = n % 10               # Extract the last digit
    reversed_number = reversed_number * 10 + digit  # Append digit to reversed_number
    n //= 10                     # Remove the last digit from n

print("Reversed number:", reversed_number)

Reversed number: 5

In [64]:
n = int(input())
n = str(n)[::-1]
n
int(n)

4141321

In [68]:
n = -13144.131233
n = abs(n)
n

13144.131233

In [75]:
n = int(input())
count = 0
while i>n:
    n = n // 10
    count += 1
    
print("Number of digits:", count)

Number of digits: 0

In [76]:
n = int(input("Enter an integer: "))
count = 0

# Use absolute value to handle negative numbers
n = abs(n)

while n > 0:
    n //= 10   # Remove the last digit
    count += 1 # Increment the digit count

print("Number of digits:", count)

Number of digits: 5

In [79]:
n = abs(int(input()))
fact=1
i = 1
while i<=n:
    fact = fact*i 
    i+=1

print(fact)

120

In [80]:
n = abs(int(input("Enter a positive integer: ")))
fact = 1  # Initialize fact to 1, not 0
i = 1

while i <= n:
    fact = fact * i  # Multiply fact by i
    i += 1           # Increment i

print("Factorial:", fact)

Factorial: 120

In [83]:
if 2<4:
    print("afaff")
else:
    print("aaasn")

afaff

In [84]:
n = int(input("Enter a positive integer: "))

if n <= 1:
    print(n, "is not a prime number")
else:
    is_prime = True
    i = 2
    
    while i * i <= n:  # Only need to check up to the square root of n
        if n % i == 0:
            is_prime = False
            break
        i += 1
    
    if is_prime:
        print(n, "is a prime number")
    else:
        print(n, "is not a prime number")

55 is not a prime number

In [85]:
n = abs(int(input("Enter an integer: ")))  # Use abs() to handle negative numbers
digit_sum = 0

while n > 0:
    digit_sum += n % 10  # Add the last digit to digit_sum
    n //= 10             # Remove the last digit from n

print("Sum of digits:", digit_sum)

Sum of digits: 21

In [86]:
123 % 10

3

In [99]:
print("Enter the Password !!!")

while True:
    passd = input()
    if passd == "pass123":
        print("sucessfull")
        break 
    else:
        print("pls.. Try again...")

Enter the Password !!!
pls.. Try again...
pls.. Try again...
pls.. Try again...
pls.. Try again...
pls.. Try again...
pls.. Try again...
sucessfull