 import mysql.connector as vick

In [4]:
myac = vick.connect(host = 'localhost', user = 'root', passwd = '@57djwa2fh4')

In [3]:
import mysql.connector as vick

In [5]:
cursor = myac.cursor()

In [7]:
cursor.execute('show databases')

In [8]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testshubh123',),
 ('testsudhineuron',)]

In [14]:
cursor.execute("select * from testshubh123.glassdata")

In [15]:
cursor.fetchall()

[]

In [19]:
cursor.execute("select col1 ,col5 form testshubh123.glassdata")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'testshubh123.glassdata' at line 1

In [21]:
cursor.execute("select * from testshubh123.glassdata where col1 = 4")

In [26]:
cursor.fetchall()

[]