In [5]:
t = (1,2,3,4,5)

In [6]:
type(t)

tuple

In [1]:
a = 100

In [2]:
t1 = ("sudh" , 345 , 45+78j , 546.56 ,True)

In [2]:
type (a)

int

In [3]:
str(a)

'100'

In [4]:
type(a)

int

In [11]:
t.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [12]:
t

(1, 2, 3, 4, 5)

In [13]:
l.isdigit

AttributeError: 'list' object has no attribute 'isdigit'

In [27]:
int(l)

ValueError: invalid literal for int() with base 10: 'my name is shubham'

In [28]:
########class notebook SNL

In [14]:
l  = "my name is shubham"

In [15]:
type(l)

str

In [18]:
l.isdigit()

False

In [19]:
if l.isdigit():
    l  = int(l)
else:
    print("converge is not possible ")

converge is not possible

In [23]:
if l.isdigit()==0:
    print("possible")
else:
    print("not possible ")

possible

In [25]:
l.isalnu()

AttributeError: 'str' object has no attribute 'isalnu'

In [29]:
l.isdecimal()

False

In [30]:
l.encode("my")

LookupError: unknown encoding: my

In [64]:
    name = "moderncollage "

In [40]:
a = name.capitalize()

In [41]:
name.casefold()

'moderncollage '

In [42]:
a

'Moderncollage '

In [43]:
a.casefold()

'moderncollage '

In [46]:
b = a.casefold()

In [45]:
a.count("o")

2

In [63]:
b

b'ciao'

In [48]:
a,b

('Moderncollage ', 'moderncollage ')

In [53]:
a.center(3)

'Moderncollage '

In [54]:
b

'moderncollage '

In [56]:
b.center(3)

'moderncollage '

In [57]:
b.center(30)

'        moderncollage         '

In [59]:
b.encode("")

LookupError: unknown encoding: a

In [60]:
#encode in python
s = 'ciao'
b=s.encode()
s=b.decode();
# default encoding in Python
print(b)
print(s)

b'ciao'
ciao

In [61]:
b

b'ciao'

In [8]:
 l = ["sudh" , 345 , 45+78j , 546.56 ,True]

In [62]:
b

b'ciao'

In [65]:
name

'moderncollage '

In [66]:
b = name

In [67]:
b

'moderncollage '

In [70]:
b.endswith(" ")

True

In [71]:
b.find("modern")

0

In [74]:
b.find("d")

2

In [76]:
b.expandtabs()

'moderncollage '

In [79]:
b.expandtabs(tabsize = 2)

'moderncollage '

In [78]:
b

'moderncollage '

In [ ]:
b.expandtabs()

In [80]:
c = " my name is shubh"

In [81]:
c.expandtabs(3
            )

' my name is shubh'

In [83]:
c.expandtabs(80)

' my name is shubh'

In [6]:
type(t1)

tuple

In [85]:
d = c,b

In [86]:
d

(' my name is shubh', 'moderncollage ')

In [87]:
c+b

' my name is shubhmoderncollage '

In [90]:
c.join("hh")

'h my name is shubhh'

In [95]:
b.join(['ab', 'pq', 'rs'])

'abmoderncollage pqmoderncollage rs'

In [93]:
c

' my name is shubh'

In [94]:
b

'moderncollage '

In [96]:
b.split()

['moderncollage']

In [98]:
" ab shubham".split()

['ab', 'shubham']

In [99]:
b.expandtabs()

'moderncollage '

In [102]:
b.format("der")

'moderncollage '

No Python documentation found for 'moderncoll'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [109]:
help(b.format)

Help on built-in function format:

format(...) method of builtins.str instance
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [110]:
b

'moderncollage '

In [111]:
b[2]

'd'

In [117]:
b.replace('moderncollage',"collage")

'collage '

In [119]:
b*3

'moderncollage moderncollage moderncollage '

In [120]:
"b"*"c"

TypeError: can't multiply sequence by non-int of type 'str'

In [122]:
b*(int(c))

ValueError: invalid literal for int() with base 10: ' my name is shubh'

In [127]:

print("""collage : {},
name : {}""".format("modern",input()))

shubham
collage : modern,
name : shubham

In [167]:
a=int(input())
if a<20:
    print("lower")
else :
    print("higher")

78
higher

In [132]:
a=input(int())

020

In [133]:
a

'20'

In [139]:
a = 13.2411
b = 123.13123

In [149]:
"""{},
{}""".format(a,b)

'13.2411,\n123.13123'

In [147]:
"{:.1f},{:32.2f}".format(a,b)

'13.2,                          123.13'

In [168]:
print("{a:15s}-{b:10.10s}".format(b = input(int()), a=input(str())))

0pohe
20
20             -pohe

In [162]:
print("{a:30s}-{:10.2f}".format(b, a=input(str())))
print("{a:30s}-{:10.2f}".format(b, a=input(str())))

fdf
fdf                           -    123.13
hgddyuy
hgddyuy                       -    123.13

In [170]:
x = "abcd"

In [176]:
"".join("abcd")

'abcd'

In [201]:
name = ("shuham")
dob = "31-05-2001"

In [180]:
print("{name:()}")

{name:4s}

In [181]:
l =123

In [182]:
c = 23

In [183]:
c.append(l)

AttributeError: 'int' object has no attribute 'append'

In [202]:
a = name[:4]; a

'shuh'

In [212]:
c

'0'

In [224]:
a = name[:4]
b = dob[:2]
c= dob[3:5]
password = print(a+b+c)

shuh3105

In [236]:
name = input("")
dob = input("")
a = name[:4]
b = dob[:2]
c= dob[3:5]
d = a+b+c
password = print("password is ", d)

shubham
12121212
password is  shub1221

In [214]:
dob[3:5]

'05'

In [205]:
b = dob[:2]

In [206]:
b

'31'

In [1]:
print("{:10}".format("shubham"))

shubham

In [10]:
print("{:>22}".format("shubham"))

               shubham

In [11]:
print("{:^20}".format("shubham"))

      shubham

In [15]:
print("{:-^30}".format("x"))

--------------x---------------

In [192]:
b = dob[:2]
b

'31'

In [7]:
type(l)

list

In [8]:
t2 = ()

In [9]:
type(t2)

tuple

In [4]:
    t1.re

AttributeError: 'tuple' object has no attribute 'reverse'

In [11]:
l

['sudh', 345, (45+78j), 546.56, True]

In [12]:
l[0:2]

['sudh', 345]

In [13]:
t1[0:2]

('sudh', 345)

In [14]:
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [15]:
t1[-1]

True

In [16]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [17]:
t1[0::2]

('sudh', (45+78j), True)

In [18]:
l

['sudh', 345, (45+78j), 546.56, True]

In [19]:
l1 = [4,5,6,7]

In [21]:
l[0] = "kumar"

In [22]:
l

['kumar', 345, (45+78j), 546.56, True]

In [23]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [25]:
t1[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

In [26]:
s = "sudh"

In [28]:
s[0] = 45

TypeError: 'str' object does not support item assignment

In [29]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [30]:
t2 = (34,56,56,56,5,656)

In [31]:
t1+t2

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [32]:
l

['kumar', 345, (45+78j), 546.56, True]

In [33]:
l1

[4, 5, 6, 7]

In [34]:
l+l1

['kumar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [35]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [36]:
t1*2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [37]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [39]:
t1.count("sudh")

1

In [40]:
t1.index("sudh")

0

In [38]:
l

['kumar', 345, (45+78j), 546.56, True]

In [ ]:
l.

In [41]:
t = (45,54,54,5, (4,5,6) , ("sudh"))

In [42]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

In [44]:
t1 = ([3,4,54,6]  , ("sd" , 435,56) , "ushd")

In [47]:
t1[0][2] = "sudh"

In [48]:
t1

([3, 4, 'sudh', 6], ('sd', 435, 56), 'ushd')

In [50]:
t1[0] = "sdfsaf"

TypeError: 'tuple' object does not support item assignment

In [51]:
t1 = (53,54,45,4,5,4,54)

In [53]:
l  = list(t1)

In [54]:
l

[53, 54, 45, 4, 5, 4, 54]

In [55]:
tuple(l)

(53, 54, 45, 4, 5, 4, 54)

In [56]:
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]

In [58]:
set(l)

{1, 2, 3, 4, 5, 6, 76}

In [59]:
s = {}

In [60]:
type(s)

dict

In [61]:
s1 = {2,3,4}

In [62]:
type(s1)

set

In [63]:
s2={1,1,1,1,1,1,2,3,4,54,4,3,3,2,54}

In [64]:
s2

{1, 2, 3, 4, 54}

In [65]:
s2[0]

TypeError: 'set' object is not subscriptable

In [67]:
list(s2)

[1, 2, 3, 4, 54]

In [68]:
s2

{1, 2, 3, 4, 54}

In [69]:
s2.add(89777)

In [70]:
s2

{1, 2, 3, 4, 54, 89777}

In [71]:
s2.add("sudh")

In [72]:
s2

{1, 2, 3, 4, 54, 89777, 'sudh'}

In [73]:
s2.add([3,4,5,6])

TypeError: unhashable type: 'list'

In [74]:
{[3,4,5,6] ,3,4,5,3,4,5}

TypeError: unhashable type: 'list'

In [6]:
s = {(3,4,5,6) ,(3,4,5,6) ,3,4,5,3,4,5}

In [77]:
s

{}

In [8]:
list(s)

[(3, 4, 5, 6), 3, 4, 5]

In [80]:
s.remove(4)

In [81]:
s

{(3, 4, 5, 6), 3, 5}

In [82]:
s.discard(5)

In [83]:
s

{(3, 4, 5, 6), 3}

In [84]:
s.remove(45)

KeyError: 45

In [85]:
s.discard(45)

In [86]:
{"sudh" ,"Sudh"}

{'Sudh', 'sudh'}

In [87]:
s = {4,5,6,7,78 , 3,4,5,3,4,5 , "sudh" , "sudh"}

In [88]:
s

{3, 4, 5, 6, 7, 78, 'sudh'}

In [89]:
l = [3,4,5,6]

In [90]:
set(l)

{3, 4, 5, 6}

In [93]:
d = {3,4}

In [94]:
type(d)

set

In [95]:
d = {4:"sudh"}

In [238]:
d1 = {"key1" : 5445 , "key2" :"sudh" , 45 : [3,4,5,6]}

In [16]:
l = [3,4,5,6,7]

In [17]:
l1 = []

In [20]:
l1.append(l)
l1

[[3, 4, 5, 6, 7], [3, 4, 5, 6, 7], [3, 4, 5, 6, 7]]

In [21]:
type(l1)

list

In [23]:
l1.extend([l])
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7]]

In [28]:
l1.extend([d])
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'shubham',
 {'KEY': {3, 4, 5, 6}}]

In [33]:
l1.extend([str(100)])
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'shubham',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '[',
 '1',
 '0',
 '0',
 ']',
 '100']

In [36]:
a = 100
iter("a")

In [37]:
a

100

In [39]:
l1.append(a)
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'shubham',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '[',
 '1',
 '0',
 '0',
 ']',
 '100',
 100,
 100]

In [40]:
l1.append(200)
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'shubham',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '[',
 '1',
 '0',
 '0',
 ']',
 '100',
 100,
 100,
 200]

In [41]:
iter(l1)

In [51]:
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'SHUBHAM',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '[',
 '1',
 '0',
 '0',
 ']',
 '100',
 100,
 100,
 200]

In [43]:
print(dir(l1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [52]:
l1[12] = l1[12].upper()
l1

[[3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'SHUBHAM',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '[',
 '1',
 '0',
 '0',
 ']',
 '100',
 100,
 100,
 200]

In [57]:
l1[1][2:4] = ['ad','kjas']
l1

[[3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 's',
 'h',
 'u',
 'b',
 'h',
 'a',
 'm',
 'SHUBHAM',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '[',
 '1',
 '0',
 '0',
 ']',
 '100',
 100,
 100,
 200]

In [58]:
print(dir(l1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [60]:
l1.count()

TypeError: list.count() takes exactly one argument (0 given)

In [70]:
l1.count(0)

0

In [71]:
l1[::-1]

[200,
 100,
 100,
 '100',
 ']',
 '0',
 '0',
 '1',
 '[',
 '0',
 '0',
 '1',
 {'KEY': {3, 4, 5, 6}},
 'SHUBHAM',
 'm',
 'a',
 'h',
 'b',
 'u',
 'h',
 's',
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7]]

In [73]:
l1.count("ad")

0

In [76]:
l1.pop(8)

'b'

In [84]:
l1.pop(11)
l1

[[3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 's',
 'h',
 'u',
 'h',
 'a',
 'm',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 ']',
 '100',
 100]

In [81]:
l1.sort()

TypeError: sort() takes no positional arguments

In [97]:
l1.remove("s")
l1

ValueError: list.remove(x): x not in list

In [95]:
l1.clear()
l1

[]

In [99]:
l1.reverse()
l1

[]

In [100]:
l1 = [[3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 's',
 'h',
 'u',
 'h',
 'a',
 'm',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 ']',
 '100',
 100]

In [101]:
l1

[[3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 [3, 4, 'ad', 'kjas', 7],
 's',
 'h',
 'u',
 'h',
 'a',
 'm',
 {'KEY': {3, 4, 5, 6}},
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 ']',
 '100',
 100]

In [103]:
v = [3, 4, 'ad', 'kjas', 7]
v.sort("v")

TypeError: sort() takes no positional arguments

In [106]:
c=[1,2,3,4,5]

In [115]:
c.sort()
c

[1, 2, 3, 4, 5]

In [117]:
m = c.sort()
m

In [118]:
c[::-1]

[5, 4, 3, 2, 1]

In [119]:
c
m = c.sort()
m[::-1]
m

TypeError: 'NoneType' object is not subscriptable

In [123]:
c

[1, 2, 3, 4, 5]

In [125]:
c.sort()
c

[1, 2, 3, 4, 5]

In [239]:
type(d1)

dict

In [101]:
l[0]

3

In [102]:
d1['key1']

5445

In [103]:
d1[45]

[3, 4, 5, 6]

In [26]:
d = {"KEY":{3,4,5,6}}

In [119]:
d1 = {"key1" : [2,3,4,5]  , "key2":[2,3,4,5], "kumar" :45}

In [120]:
d1['key1']

[2, 3, 4, 5]

In [121]:
d1['kumar']

45

In [122]:
d3= {"*+++":"venu"}

In [2]:
d = {'name' : "sudhanshu" , "mo_no" :3454354353 , "mail_id" :"sudhanshu@xyz.com",'key1':[4,5,6,7] , "key2" :(3,4,5,6),"key3" : {3,4,5,4,3,3,3,3,3,3,3},'key4':{1:5,4:6}}

In [3]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [243]:
type(d['key3'])

set

In [244]:
d['key4'][4]

6

In [245]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [246]:
d.keys()

dict_keys(['name', 'mo_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [4]:
d.values()

dict_values(['sudhanshu', 3454354353, 'sudhanshu@xyz.com', [4, 5, 6, 7], (3, 4, 5, 6), {3, 4, 5}, {1: 5, 4: 6}])

In [5]:
d.items()

dict_items([('name', 'sudhanshu'), ('mo_no', 3454354353), ('mail_id', 'sudhanshu@xyz.com'), ('key1', [4, 5, 6, 7]), ('key2', (3, 4, 5, 6)), ('key3', {3, 4, 5}), ('key4', {1: 5, 4: 6})])

In [134]:
type(d.items())

dict_items

In [135]:
d = {'key1' : "sudh" , "key2" : [1,2,3,4]}

In [136]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4]}

In [137]:
d["key3"]  = "kumar"

In [138]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [139]:
d[4] = [2,4,4,4,5,4]

In [140]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

In [141]:
d['key1'] = "fsafsadfads"

In [142]:
d

{'key1': 'fsafsadfads',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 4: [2, 4, 4, 4, 5, 4]}

In [143]:
del d['key1']

In [7]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [8]:
del d['key4']

In [14]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 '[1,2,3]': 'ineuron'}

In [15]:
d1 = {'key1' : "sudh" , 'key2' : [4,5,6,7,8]}

In [13]:
d["[1,2,3]"] = "ineuron"

In [16]:
d1[(1,2,3)] = "ineuron"

In [18]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [ ]:
d1[[31233]] = 12313

TypeError: unhashable type: 'list'

In [20]:
d1.get("key1")

'sudh'

In [23]:
d.get("name")

'sudhanshu'

In [3]:
d1 = {'key1' : "ineruon" , "key"  : "FSDS"}

In [4]:
d2 = {"key2":456 , "key3" :[1,2,3,4,5]}

In [156]:
d1.update(d2)

In [157]:
d1

{'key1': 'ineruon', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [158]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [159]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [24]:
l=[1,23,4,5]
l.append(l)

In [161]:
l

[1, 23, 4, 5, [...]]

In [162]:
l[4]

[1, 23, 4, 5, [...]]

In [1]:
t1 = ("aditya",1,1+2j,3.4,True)
t1.index(True)

1

In [2]:
d1

NameError: name 'd1' is not defined

In [5]:
d1

{'key1': 'ineruon', 'key': 'FSDS'}

In [6]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [9]:
d1['keyfdsf']

KeyError: 'keyfdsf'

In [10]:
d1.get('key1fdsf')

In [11]:
d1

{'key1': 'ineruon', 'key': 'FSDS'}

In [22]:
key= ("name" , "mobile_no" , "email_id")
value = ("sudh" , "fdsf" ,"dsf")

In [23]:
d = d1.fromkeys(key,value)

In [24]:
d

{'name': ('sudh', 'fdsf', 'dsf'),
 'mobile_no': ('sudh', 'fdsf', 'dsf'),
 'email_id': ('sudh', 'fdsf', 'dsf')}

In [15]:
t1=(1,2,3,4,'dfs',True)
t1.index(True)

0

In [16]:
{[3,4,5,6] , 4,5,5,6,7}

TypeError: unhashable type: 'list'

In [19]:
d1={_4:[1,2,3],"key":"sudg", "key1":5}

NameError: name '_4' is not defined

In [9]:
l=[1,2,3,4,5]
l[0::-1]

[1]

In [26]:
t1 = (1,2,3,4,5)
type(t1)

tuple

In [27]:
t1 = (1)

In [28]:
type(t1)

int

In [29]:
t = ([1,2,3,4,54] , "dfsf" , 234)

In [30]:
t[0]

[1, 2, 3, 4, 54]

In [32]:
t[0][1]  = "dfsfs"

In [33]:
t

([1, 'dfsfs', 3, 4, 54], 'dfsf', 234)

In [36]:
s = {45,343,5454,545,565,65,65,6,56,56,5,343534,566,5,65,6,5,4353543,4,556}

In [37]:
s

{4, 5, 6, 45, 56, 65, 343, 545, 556, 565, 566, 5454, 343534, 4353543}

In [ ]:
i = 0 
j = 3
for i, j in range(i,j) :

In [38]:
i = 10 
j = 6

In [39]:
i

10

In [40]:
j

6

In [41]:
 i,j = 10,6

In [42]:
i

10

In [43]:
j

6

In [44]:
i = 4,5

In [45]:
i

(4, 5)

In [46]:
d1 *2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [47]:
d3={"key1":"ineuron","key2":"fsds"}
d4={"key1":456,"key2":[1,2,3,4]}
d3.update(d4)

In [48]:
d3

{'key1': 456, 'key2': [1, 2, 3, 4]}

In [51]:
l=[1,2,3,4,5]
l[0::-1]

[1]

In [52]:
d = {'key1' :"fdsf" , "key2" :"fdsf" , "key1" :2354}

In [54]:
d.keys()

dict_keys(['key1', 'key2'])

In [55]:
t = (1,2,3,4,1,True)

In [56]:
t.count(1)

3

In [57]:
t[5]

True

In [58]:
list({'a':1, 'b':2})

['a', 'b']

In [59]:
t = (0,1,True)

In [61]:
t.count(1)

2

In [62]:
e = {_3: ["dfsaf", "dfsf",4,5,6,7,7]}

NameError: name '_3' is not defined

In [1]:
e = {_3: ["dfsaf", "dfsf",4,5,6,7,7]}

Output : 

{tuple: ['dfsaf', 'dfsf', 4, 5, 6, 7, 7]}

SyntaxError: invalid syntax (Temp/ipykernel_7760/3144278631.py, line 3)

# practice

In [3]:
t = (34,34,234,34,234)
type(t)

tuple

In [4]:
t2 = ("shubham",432443,[123123,"asjhdjasdh"])
type(t2)

tuple

In [5]:
type(t2[2])

list

In [6]:
t2

('shubham', 432443, [123123, 'asjhdjasdh'])

In [8]:
t2.index("shubham")

0

In [12]:
t2[-2]

432443

In [15]:
t2[2]

[123123, 'asjhdjasdh']

In [16]:
t2

('shubham', 432443, [123123, 'asjhdjasdh'])

In [17]:
t2[0:2:2]

('shubham',)

In [18]:
t2

('shubham', 432443, [123123, 'asjhdjasdh'])

In [21]:
t = (t2)

In [22]:
t

('shubham', 432443, [123123, 'asjhdjasdh'])

In [23]:
t[1]

432443

In [24]:
t[1] = "shubham"

TypeError: 'tuple' object does not support item assignment

In [25]:
t2

('shubham', 432443, [123123, 'asjhdjasdh'])

In [27]:
t

('shubham', 432443, [123123, 'asjhdjasdh'])

In [28]:
t2+t

('shubham',
 432443,
 [123123, 'asjhdjasdh'],
 'shubham',
 432443,
 [123123, 'asjhdjasdh'])

In [29]:
t3=[]
t3.append(t)

In [30]:
t3

[('shubham', 432443, [123123, 'asjhdjasdh'])]

In [31]:
t3*2

[('shubham', 432443, [123123, 'asjhdjasdh']),
 ('shubham', 432443, [123123, 'asjhdjasdh'])]

In [32]:
t4=[t2]

In [33]:
t4

[('shubham', 432443, [123123, 'asjhdjasdh'])]

In [40]:
t4[0].index('shubham')

0

In [41]:
t4.clear()

In [42]:
t4

[]

In [43]:
 v = ('shuhiljab',4234,234)

In [46]:
v[1] = "shuham"

TypeError: 'tuple' object does not support item assignment

In [54]:
l = {331,312321,3123123,13,2,3,3,3,3,321,3,213,123
}
l

{2, 3, 13, 123, 213, 321, 331, 312321, 3123123}

In [52]:
set(l)

{2, 3, 13, 123, 213, 321, 331, 312321, 3123123}

In [49]:
type(set(l))

set

In [55]:
l

{2, 3, 13, 123, 213, 321, 331, 312321, 3123123}

In [61]:
l

{2, 3, 13, 123, 213, 321, 331, 312321, 3123123}

In [62]:
l.add("shubham")

In [63]:
l

{123, 13, 2, 213, 3, 3123123, 312321, 321, 331, 'shubham'}

In [64]:
type(l)

set

In [67]:
l.pop()

312321

In [70]:
l.remove(13)
print(l)

KeyError: 13

In [71]:
l

{2, 3, 123, 213, 331, 3123123}

In [72]:
t3

[('shubham', 432443, [123123, 'asjhdjasdh'])]

In [75]:
l = {2, (3, 123), 213, 331, 3123123}

In [78]:
l.remove(331)

In [79]:
l

{(3, 123), 2, 213, 3123123}

In [80]:
l.discard(2)

In [81]:
l

{(3, 123), 213, 3123123}

In [83]:
l.discard(324)

In [84]:
type(l)

set

In [99]:
d = {4:"shubham",43:(3434),"jnf":[234234,"sdhkahdk",44],(234):[234]}

In [94]:
d

{4: 'shubham', 43: 3434, 'jnf': [234234], 234: [234]}

In [95]:
type(d)

dict

In [98]:
d[4]

'shubham'

#### d

In [106]:
d["jnf"][2]

44

In [113]:
d = {4:"shubham",43:(3434),"jnf":[234234,"sdhkahdk",44],4:[234]}

In [115]:
d[4]

[234]

In [116]:
d

{4: [234], 43: 3434, 'jnf': [234234, 'sdhkahdk', 44]}

In [117]:
d.values()

dict_values([[234], 3434, [234234, 'sdhkahdk', 44]])

In [126]:
a ={}
for i in d.values():
    print(i)
    a.append(i)

[234]

AttributeError: 'dict' object has no attribute 'append'

In [120]:
d.items()

dict_items([(4, [234]), (43, 3434), ('jnf', [234234, 'sdhkahdk', 44])])

In [127]:
del d[4]

In [128]:
d

{43: 3434, 'jnf': [234234, 'sdhkahdk', 44]}

In [129]:
d.update

In [131]:
c

1